{% extends '/vehicle_lending/base/default-car-page.html' %}
{% import '/base/components/forms.html' as render_form %}
{% import '/base/components/paginations/pagination.html' as paginated %}

{% block title %}รถยนต์{% endblock %}

{% block dashboard_title %}รถยนต์{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block content %}
<div class="flex flex-row w-full justify-between">
  <div class="flex justify-end w-full gap-2">
    <a class="btn btn-primary"
      href="{{ url_for('vehicle_lending.cars.create_or_edit', organization_id=organization.id) }}">
      <i class="ph ph-plus"></i>
      เพิ่มรถยนต์
    </a>
  </div>
</div>

<div class="mt-4 border border-base-300 bg-base-100 rounded-2xl p-6 shadow">
  {% for car in cars %}
  <div class="flex flex-col md:flex-row items-center gap-4 mb-6">
    <div class="w-32 h-32 flex-shrink-0">
      {% if not car.image %}
      <img class="w-full h-full object-cover rounded" src="{{ url_for('static', filename='/images/image.png') }}">
      {% else %}
      <img class="w-full h-full object-cover rounded"
        src="{{ url_for('vehicle_lending.cars.image', car_id=car.id, filename=car.image.filename, organization_id=organization.id) }}"
        alt="{{ car.license_plate }}">
      {% endif %}
    </div>
    <div class="flex flex-col flex-grow">
      <a class="text-2xl font-bold">{{ car.license_plate }}</a>
      <p class="text-gray-600">{{ car.description }}</p>
      <div class="flex justify-end gap-2 mt-4">
        <button class="btn btn-error" onclick="showDeleteModal('{{ car.id }}')">
          <i class="ph ph-trash"></i> ลบ
        </button>
        <a class="btn btn-primary"
          href="{{ url_for('vehicle_lending.cars.create_or_edit', organization_id=organization.id, car_id=car.id) }}">
          <i class="ph ph-pen"></i> แก้ไข
        </a>
      </div>
    </div>
  </div>
  {{ ModalNegative(
    id=car.id,
    header="ลบข้อมูลรถยนต์",
    body="ต้องการลบข้อมูลรถยนต์ <b> %s </b>" | format(car.description),
    cancel="ยกเลิก",
    submit="ยืนยัน",
    redirect=url_for('vehicle_lending.cars.delete', car_id=car.id, organization_id=organization.id),
    ) }}

  {% endfor %}

  {% if not cars %}
  <div class="flex w-full justify-center py-6 text-xl text-gray-500">ไม่พบข้อมูลในขณะนี้</div>
  {% endif %}
</div>

{% endblock %}

{% block additional_js %}
<script type="text/javascript">
  function showDeleteModal(item_id) {
    const modal = document.querySelector(`.modal.${item_id}`);
    if (modal) {
      modal.classList.toggle('hidden');
    }
  }
</script>
{% endblock %}