{% extends '/vehicle_lending/base/default-car-page.html' %}
{% import '/base/components/forms.html' as render_form %}
{% import '/base/components/paginations/pagination.html' as paginated %}

{% block title %}รถยนต์{% endblock %}

{% block dashboard_title %}รถยนต์{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block content %}
<div class="flex flex-row w-full justify-between">
  <div class="flex justify-start w-full gap-2">
    <a class="ui primary labeled icon button"
      href="{{ url_for('vehicle_lending.cars.create_or_edit', organization_id=organization.id) }}">
      <i class="ph ph-plus"></i>
      เพิ่มรถยนต์
    </a>
  </div>
</div>


<div class="ui divided items">
  {% for car in cars %}
  <div class="item">
    <div class="image">
      {% if not car.image %}
      <img src="{{ url_for('static', filename='/images/image.png') }}">
      {% else %}
      <img
        src="{{ url_for('vehicle_lending.cars.image', car_id=car.id, filename=car.image.filename, organization_id=organization.id) }}"
        alt="{{ car.license_plate }}">
      {% endif %}
    </div>
    <div class="modal-box">
      <a class="text-2xl font-bold"> {{ car.license_plate }}</a>
      <div class=" meta">

      </div>
      <div class="description">
        <span class="cinema">{{ car.description }}</span>
      </div>

      <div class="extra">

        <a class="ui right floated red button labeled icon" onclick="showDeleteModal('{{ car.id }}')">
          ลบ
          <i class="ph ph-trash"></i>
        </a>

        <a class="ui right floated primary button labeled icon"
          href="{{ url_for('vehicle_lending.cars.create_or_edit', organization_id=organization.id, car_id=car.id) }}">
          แก้ไข
          <i class="ph ph-pen"></i>
        </a>
        <div role="dialog" class="modal {{car.id}}">
          <div class="text-2xl font-bold">
            ลบข้อมูลรถยนต์
          </div>
          <div class=" modal-box">
            <p>ต้องการลบข้อมูลรถยนต์
              <b>{{ car.description }}</b>
            </p>
          </div>
          <div class="modal-action">
            <button class="btn">
              ยกเลิก
            </button>
            <a class="btn-error btn" href="{{ url_for('vehicle_lending.cars.delete', car_id=car.id) }}">
              ยืนยัน
              <i class="ph ph-check"></i>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>

  {% endfor %}
  {% if not cars %}
  <div class="ui message"> ไม่พบข้อมูลในขณะนี้</div>
  {% endif %}
</div>

{% endblock %}

{% block additional_js %}
<script type="text/javascript">

  function showDeleteModal(item_id) {
    item_id ? $('.ui.modal.' + item_id).modal('show') : $('.ui.modal').modal('hide')
      ;
  }
</script>
{% endblock %}