{% extends '/base/template-page-login.html' %}
{% import '/base/html-renderer.html' as renderer %}
{% import '/base/components/paginations/pagination.html' as paginated %}

{% block title %}เพิ่มสมาชิกของแผนก{% endblock %}
{% block dashboard_title %}เพิ่มสมาชิกของแผนก{% endblock %}

{% block breadcrumbs %}
{{ RenderBreadcrumb([
("แผนกทั้งหมด", url_for("divisions.index", organization_id=organization.id)),
("สมาชิกของแผนก" + division.name, url_for("divisions.users", division_id=division.id ,
organization_id=organization.id)),
('เพิ่มสมาชิก', "")]) }}
{% endblock %}

{% block content %}
<div class="navbarmenu">
  <div class="left menu">
    <a class="ui labeled icon button"
      href='{{ url_for("divisions.users", division_id=division.id , organization_id=organization.id) }}'>
      <i class="left arrow icon"></i>
      ย้อนกลับ
    </a>
  </div>
</div>
<div>
  <form class="ui form" method="POST">
    {{ form.hidden_tag() }}
    {{ renderer.render_search_multiple_select(form.members) }}

    <button class="btn btn-primary" type="submit">ยืนยันข้อมูล</button>
  </form>
</div>
{% endblock content %}