{% extends '/base/default-dashboard.html' %}
{% import '/base/html-renderer.html' as renderer %}
{% import '/base/pagination.html' as paginated %}

{% block title %}เพิ่มสมาชิกของแผนก{% endblock %}
{% block dashboard_title %}เพิ่มสมาชิกของแผนก{% endblock %}

{% block breadcrumbs %}
<a class="section" href="{{ url_for('divisions.index',organization_id=organization.id) }}">
  แผนกทั้งหมด </a>
<i class="right angle icon divider"></i>
<a class="section"
  href="{{ url_for('divisions.users', division_id=division.id ,organization_id=organization.id) }}">สมาชิกของแผนก</a>
<i class="right angle icon divider"></i>
<div class="active section">
  เพิ่มสมาชิก
</div>
{% endblock %}

{% block content %}
<div>
  <form class="ui form" method="POST">
    {{ form.hidden_tag() }}
    {{ renderer.render_search_multiple_select(form.members) }}

    <button class="ui primary button" type="submit">ยืนยันข้อมูล</button>
  </form>
</div>
{% endblock content %}