{% extends '/base/template-page-login.html' %}

{% block title %} รายละเอียดองค์กร {% endblock %}
{% block dashboard_title %} รายละเอียดองค์กร {% endblock %}

{% block breadcrumbs %}
{{ RenderBreadcrumb([
("แผนกทั้งหมด", url_for("divisions.index", organization_id=organization.id)),
('รายละเอียด', "")]) }}
{% endblock %}

{% macro row_detail(text) -%}
<div class="column">
  <h3> {{ text }}</h3>
</div>
{%- endmacro %}

{% block content %}
<div class="flex flex-row justify-between">
  <div class="flex justify-end w-full gap-2">
    <a class="btn  btn-primary" href="{{ url_for('divisions.index', organization_id=organization.id) }}">
      <i class="ph ph-arrow-u-up-left"></i>
      ย้อนกลับ
    </a>
  </div>
</div>
<div class="ui container" style="width: 100%;">
  <div class="ui segment">
    <h2 class="ui header">รายละเอียดแผนก <a class="btn-floating btn-large waves-effect waves-light"
        href="{{ url_for('divisions.create_or_edit',division_id=division.id, organization_id=organization.id) }}"
        title='Edit Organization.'><i class="ph ph-pen"></i></a>
    </h2>
    <div class="ui grid two column">
      {{ row_detail("ชื่อ :") }}
      {{ row_detail(division.name) }}
      {{ row_detail("รายละเอียด :") }}
      {{ row_detail(division.description) }}

    </div>
  </div>
</div>
{% endblock content %}