{% extends '/base/template-page-login.html' %}

{% block title %} รายละเอียดแผนก {% endblock %}
{% block dashboard_title %} รายละเอียดแผนก {% endblock %}

{% block breadcrumbs %}
{{ RenderBreadcrumb([
("แผนกทั้งหมด", url_for("divisions.index", organization_id=organization.id)),
('รายละเอียด', "")]) }}
{% endblock %}

{% macro row_detail(text) -%}
<div class="column">
  <h3> {{ text }}</h3>
</div>
{%- endmacro %}

{% block content %}
<div class="flex flex-row justify-between">
  <div class="flex justify-start w-full gap-2">
    <a class="btn btn-primary" href="{{ url_for('divisions.index', organization_id=organization.id) }}">
      <i class="ph ph-arrow-u-up-left"></i>
      ย้อนกลับ
    </a>
  </div>
</div>
<div class="segment mt-4 border border-base-300 bg-base-100 rounded-2xl p-6 shadow-sm">
  <h2 class="text-2xl font-bold flex items-center justify-between">
    รายละเอียดแผนก
    <a class="btn btn-circle btn-primary"
      href="{{ url_for('divisions.create_or_edit',division_id=division.id, organization_id=organization.id) }}"
      title='Edit Organization.'>
      <i class="ph ph-pen"></i>
    </a>
  </h2>
  <div class="grid grid-cols-2 gap-4 mt-4">
    {{ row_detail("ชื่อ :") }}
    {{ row_detail(division.name) }}
    {{ row_detail("รายละเอียด :") }}
    {{ row_detail(division.description) }}
  </div>
</div>
{% endblock content %}