{% extends '/base/template-page-login.html' %}
{% import '/base/components/forms.html' as render_form %}
{% import '/base/html-renderer.html' as renderer %}
{% import '/base/components/paginations/pagination.html' as paginated %}

{% block title %}แผนกทั้งหมด{% endblock %}

{% block dashboard_title %}แผนกทั้งหมด{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block content %}
<div class="flex flex-row w-full justify-between">
  <div class="flex justify-start w-full gap-2">
    <a class="ui primary labeled icon button"
      href="{{ url_for('divisions.create_or_edit', organization_id=organization.id) }}">
      <i class="ph ph-plus"></i>
      เพิ่มแผนก
    </a>
  </div>
</div>
<form method="post" class="segment mt-4 border border-base-300 bg-base-100 rounded-2xl p-6 shadow-sm">
  <div class="flex flex-row justify-between w-full gap-2">

    {{form.hidden_tag()}}
    {{renderer.render_select_field(form.name)}}
    {{renderer.date_range_field(form.start_date, form.end_date)}}
  </div>

  <div class="flex flex-row w-full justify-between">
    <div class="flex justify-start w-full gap-2">
      <button type="submit" class="btn btn-primary">ค้นหา</button>
    </div>
  </div>
  {% if divisions %}
  <div class="segment mt-4 border border-base-300 bg-base-100 rounded-2xl p-6 shadow-sm">
    <div class="overflow-x-auto mt-2 rounded-xl">
      <table class="table-auto w-full">
        <thead>
          <tr>

            <th class="table-style">ชื่อผู้ใช้งาน</th>
            <th class="table-style">คำอธิบาย</th>
            <th class="table-style">สมาชิก/เพิ่มสมาชิก</th>
            <th class="table-style">รายละเอียด/แก้ไข/ลบข้อมูล</th>

          </tr>
        </thead>
        <tbody>
          {% for division in paginated_divisions.items %}
          <tr>
            <td class="table-style" data-label="Name">{{ division.name }}</td>
            <td class="table-style" data-label="Description">{{ division.description }}</td>

            <td class="table-style">
              <a class="btn btn-circle btn-primary" style=" color: white;"
                href="{{ url_for('divisions.users', division_id=division.id ,organization_id=organization.id) }}">
                <i class="users icon"></i>
              </a>
              <a class="btn btn-circle btn-primary" style=" color: white;"
                href="{{ url_for('divisions.add_member', organization_id=organization.id, division_id=division.id) }}">
                <i class="user plus icon"></i>
              </a>
            </td>

            <td class="table-style">
              <a class="btn btn-circle btn-primary" style=" color: white;"
                href="{{ url_for('divisions.detail', organization_id=organization.id, division_id=division.id ) }}">
                <i class="ph ph-eye"></i>
              </a>
              <a class="btn btn-circle btn-primary" style=" color: white;"
                href="{{ url_for('divisions.create_or_edit', organization_id=organization.id, division_id=division.id ) }}">
                <i class="ph ph-pen"></i>
              </a>
              <a class="btn btn-circle btn-error" onclick="showDeleteModal('{{ division.id }}')">
                <i class="ph ph-trash"></i>
              </a>
              <div role="dialog" class="modal {{division.id}}">
                <div class="text-2xl font-bold">
                  ลบคำสั่งแผนก
                </div>
                <div class=" modal-box">
                  <p>ต้องการลบคำสั่งแผนก
                    <b>{{ division.description }}</b>
                  </p>
                </div>
                <div class="modal-action">
                  <button class="btn">
                    ยกเลิก
                  </button>
                  <a class="btn-error btn"
                    href="{{ url_for('divisions.delete',division_id=division.id, organization_id=organization.id )}}">
                    ยืนยัน
                    <i class="ph ph-check"></i>
                  </a>
                </div>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% set params=dict(request.args) %}
      {% if 'page' in params %}
      {% set _dummy=params.pop('page') %}
      {% endif %}
      {% if paginated_divisions.pages != 1 %}

      {{ paginated.render_pagination(paginated_divisions,"item_orders.index")}}

      {% endif %}
    </div>
  </div>
  {% else %}
  <div class="flex w-full justify-center py-6 text-xl">ไม่มีข้อมูลการทำรายการในขณะนี้</div>
  {% endif %}
</form>
{% endblock %}

{% block additional_js %}
<script type="text/javascript">

  function showDeleteModal(order_id) {
    order_id ? $('.ui.modal.' + order_id).modal('show') : $('.ui.modal').modal('hide')
      ;
  }
</script>
<script type="text/javascript">
  datetime_formatter = {
    date: "DD/MM/YYYY"
  };
  var calendar_setting = {
    type: 'date',
    monthFirst: false,
    formatter: datetime_formatter,
    today: false,
    ampm: false,
    text: {
      days: ['อา', 'จ', 'อ', 'พ', 'พฤ', 'ศ', 'ส'],
      months: ['มกราคม', 'กุมภาพันธ์', 'มีนาคม', 'เมษายน', 'พฤษภาคม', 'มิถุนายน', 'กรกฎาคม', 'สิงหาคม', 'กันยายน', 'ตุลาคม', 'พฤษจิกายน', 'ธันวาคม'],
      monthsShort: ['ม.ค.', 'ก.พ.', 'มี.ค.', 'เม.ย.', 'พ.ค.', 'มิ.ย.', 'ก.ค.', 'ส.ค.', 'ก.ย.', 'ต.ค.', 'พ.ย.', 'ธ.ค.'],
      today: 'วันนี้',
      now: 'ปัจจุบัน',
      am: 'AM',
      pm: 'PM'
    },
  };
  $('#start_date').calendar(calendar_setting);
  $('#end_date').calendar(calendar_setting);

  $(document)
    .ready(function () {
      $('.ui.dropdown.validate.selection')
        .dropdown({
          allowAdditions: true,
          fullTextSearch: 'exact'
        });
    });
</script>
{% endblock %}