{% extends '/item_registers/index.html' %}
{% import '/base/html-renderer.html' as renderer %}

{% block title %}

{% if 'edit' in request.path %}
แก้ไขรายละเอียดแผนก
{% else %}
เพิ่มแผนก
{% endif %}
{% endblock %}

{% block dashboard_title %}
{{ self.title() }}
{% endblock %}

{% block content %}
{#
<div class="ui segment">

  <a class="ui teal labeled icon button" onclick="$('.upload-email-template.form').transition('fade down')">
    <i class="upload icon"></i>
    {{ ("Upload Email Template File") }}
  </a>

  <div class="upload-email-template form" style="display: none;">
    <div class="ui segment" style="margin-top: 1em">
      <form class="ui form"
        action="{{ url_for('email_templates.upload_email_template', organization_id=organization.id, email_template_id=email_template.id) }}"
        enctype="multipart/form-data" method="POST">
        {{ upload_form.csrf_token() }}
        {{ renderer.render_fileinput(upload_form.email_template_file)}}
        <ul>
          <li>{{("Accept only <b>.html</b> file")}}</li>
        </ul>
        <button class="ui teal button" type="submit"><i class="save icon"></i> {{("Submit")}}</button>
      </form>
    </div>
  </div>
</div>
#}

<div class="ui horizontal equal width raised segments">
  <div class="ui clearing segment" style="width: 100vw">
    <div class="email-template create-edit">
      <form class="ui form" method="POST" enctype="multipart/form-data">
        {{ form.csrf_token }}
        {{ renderer.render_field(form.name) }}
        {{ renderer.render_field(form.subject) }}

        <div class="ui hidden divider"></div>
        <b style="font-size: 13px;">{{ form.body.label }}</b>
        {{ form.body(class_="ui input fluid", style="height: 100vh !important") }}
        <div class="ui spaced buttons" style="margin-top: 10px !important">
          <button class="ui primary labeled icon button" type="submit">
            <i class="save icon"></i>
            {{ 'Save' if 'edit' in request.path else 'Create' }}
          </button>
          <a class="ui button"
            href="{{ url_for('email_templates.create_or_edit', organization_id=organization.id) }}">{{ ("Cancel")
            }}</a>
        </div>
      </form>
    </div>
  </div>

  <div class="ui info message segment">
    <div class="ui compact header">
      รายการรูปแบบข้อความที่ใช้ได้สำหรับเทมเพลตอีเมล
    </div>
    <div class="ui relaxed list">
      <div class="item">
        <div class="header"><i class="globe icon"></i> องค์กร</div>
        <div class="ui list">
          <div class="item"> <b>{{ '{{ organization_name }}' }}</b> - ชื่อองค์กร</div>
        </div>
      </div>
      <div class="item">
        <div class="header"><i class="archive icon"></i> แผนก</div>
        <div class="ui list">
          <div class="item"> <b>{{ '{{ division_name }}' }}</b> - ชื่อแผนก</div>
          <div class="item"> <b>{{ '{{ division_description }}' }}</b> - รายละเอียดแผนก </div>
          <div class="item"> <b>{{ '{{ order_date }}' }}</b> - วันที่ขอเบิกอุปกรณ์</div>
        </div>
      </div>
      <div class="item">
        <div class="header"><i class="user tie icon"></i> หัวหน้าแผนก/ผู้อนุมัติ</div>
        <div class="ui list">
          <div class="item"> <b>{{ '{{ endorser_name }}' }}</b> - {{("Endorser name.")}}</div>
          <div class="item"> <b>{{ '{{ endorsement_url }}' }}</b> - URL สำหรับการอนุมัติ</div>
        </div>
      </div>
    </div>
  </div>
</div>





{% endblock %}

{% block additional_js %}
<script type="text/javascript">
  $('.ui.dropdown')
    .dropdown();
  $(".attach-file-email_template_file").click(function () {
    $(this).parent().find("#email_template_file").click();
  });

  $('#email_template_file')
    .on('change', function (e) {
      var name = e.target.files[0].name;
      $('.attach-file-email_template_file', $(e.target).parent()).val(name);
    });

</script>
{% endblock %}