{% extends '/base/default-dashboard.html' %}
{% import 'base/html-renderer.html' as renderer %}
{% import '/base/pagination.html' as paginated%}

{% block title %}
รูปแบบอีเมล
{% endblock %}

{% block dashboard_title %}
รูปแบบอีเมล
{% endblock %}



{% block breadcrumbs %}
<a class="section" href="{{ url_for('email_templates.index', organization_id=organization.id)}}">
  รูแบบอีเมลทั้งหมด </a>
<i class="right angle icon divider"></i>
<div class="active section">
  {{ email_template.name }}
</div>
{% endblock %}


{% block content %}

<div class="ui segment">

  {% if email_template %}
  <a class="ui primary labeled icon button"
    href="{{ url_for('email_templates.create_or_edit', email_template_id=email_template.id, organization_id=organization.id) }}">
    <i class="edit icon"></i>
    {{("Edit Template")}}
  </a>

  {% endif %}
</div>

<div class="upload-email-template form" style="display: none;">
  <div class="ui raised segment">
    <form class="ui form"
      action="{{ url_for('email_templates.upload_email_template', organization_id=organization.id) }}"
      enctype="multipart/form-data" method="POST">
      {{ form.csrf_token() }}
      {{ renderer.render_fileinput(form.email_template_file)}}
      <ul>
        <li>Accept only <b>.html</b> file</li>
      </ul>
      <button class="ui teal button" type="submit"><i class="save icon"></i> Submit</button>
    </form>
  </div>
</div>

<div class="ui horizontal equal width segments">
  <div class="ui segment" style="width: 100vw">
    <div class="email-template view">
      {% if email_template %}

      <div class="ui secondary segment">
        <div class="ui tiny header" style="width: fit-content">ชื่อ</div>
        <div class="ui basic vertically fitted segment">
          {{ email_template.name }}
        </div>
      </div>
      <div class="ui secondary segment">
        <div class="ui tiny header" style="width: fit-content">หัวข้อ</div>
        <div class="ui basic vertically fitted segment">
          {{ email_template.subject }}
        </div>
      </div>
      <div class="ui secondary segment">
        <div class="ui tiny header" style="width: fit-content">เนื้อหา</div>
        <div class="ui basic vertically fitted segment">
          {{ email_template.body }}
        </div>
      </div>
      {% else %}
      You don't have <b>Email Template</b> please
      <a href="{{ url_for('email_templates.create_or_edit', organization_id=organization.id) }}"
        style="cursor: pointer">
        Create Email Template
      </a>.
      {% endif %}
    </div>
  </div>

  <div class="ui info message segment">
    <div class="ui compact header">
      {{("List of text formats available for email templates.")}}
    </div>
    <div class="ui relaxed list">
      <div class="item">
        <div class="header"><i class="globe icon"></i> องค์กร</div>
        <div class="ui list">
          <div class="item"> <b>{{ '{{ organization_name }}' }}</b> - ชื่อองค์กร</div>
        </div>
      </div>
      <div class="item">
        <div class="header"><i class="user tie icon"></i> หัวหน้าแผนก/ผู้อนุมัติ</div>
        <div class="ui list">
          <div class="item"> <b>{{ '{{ user_name }}' }}</b> - ชื่อผู้เบิก</div>
          <div class="item"> <b>{{ '{{ order_date }}' }}</b> - วันที่ขอเบิกอุปกรณ์</div>
          <div class="item"> <b>{{ '{{ order_objective }}' }}</b> - วัตถุประสงค์</div>
        </div>
      </div>
      <div class="item">
        <div class="header"><i class="archive icon"></i> แผนก</div>
        <div class="ui list">
          <div class="item"> <b>{{ '{{ division_name }}' }}</b> - ชื่อแผนก</div>
          <div class="item"> <b>{{ '{{ division_description }}' }}</b> - รายละเอียดแผนก </div>

        </div>
      </div>
      <div class="item">
        <div class="header"><i class="user tie icon"></i> หัวหน้าแผนก/ผู้อนุมัติ</div>
        <div class="ui list">
          <div class="item"> <b>{{ '{{ endorser_name }}' }}</b> - ชื่อผู้อนุมัติ</div>
          <div class="item"> <b>{{ '{{ endorsement_url }}' }}</b> - URL สำหรับการอนุมัติ</div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}