{% extends '/base/template-page-login.html' %}
{% import 'base/html-renderer.html' as renderer %}
{% import '/base/components/paginations/pagination.html' as paginated%}

{% block title %}
{{ "Email Template" }}
{% endblock %}

{% block dashboard_title %}
รูปแบบอีเมล
{% endblock %}


{% block breadcrumbs %}

{% endblock %}


{% block content %}

{% if email_templates %}
<div class="ui secondary menu">
  <div class="right menu">
    <a class="ui labeled icon primary button"
      href="{{ url_for('email_templates.create_or_edit', organization_id=organization.id) }}">
      <i class="plus icon"></i>
      เพิ่มรูปแบบอีเมล
    </a>
  </div>
</div>
<table class="ui striped padded celled table">
  <thead>
    <tr>
      <th>ชื่อ</th>
      <th>ประเภท</th>
      <th>หัวข้อ</th>
      <th>ค่าเริ่มต้น</th>
      <th>แก้ไข</th>
    </tr>
  </thead>
  <tbody>
    {% for email_template in email_templates %}
    <tr>
      <td data-label="Name">{{ email_template.name }}</td>
      <td data-label="Type">{{ email_template.get_type_display() }}</td>
      <td data-label="Subject">{{ email_template.subject }}</td>
      <td data-label="Default" class="{{ 'green' if email_template.is_default else 'red' }}">{{
        email_template.is_default }}
        <a style="cursor: pointer;" data-content="change defualt setting"
          onclick="$('.modal.set-default.{{ email_template.id }}').modal('show')">
          <i class="sync blue icon"></i>
        </a>
      </td>
      <td data-label="Actions">

        <a class="ui link primary icon circular button"
          href="{{ url_for('email_templates.detail', organization_id=organization.id, email_template_id=email_template.id)}}">
          <i class="eye icon"></i>
        </a>
        <a class="ui link primary icon circular button"
          href="{{ url_for('email_templates.create_or_edit', organization_id=organization.id, email_template_id=email_template.id)}}">
          <i class="edit icon"></i>
        </a>
        <a class="ui link pop negative icon circular button"
          onclick="$('.modal.delete.{{email_template.id}}').modal('show')">
          <i class="trash icon"></i>
        </a>

      </td>
    </tr>

    <div class="ui small modal delete {{email_template.id}}">
      <div class="header">ลบรูปแบบอีเมล</div>
      <div class="content">
        <h4 class="ui headers">
          คุณการต้องการลบ <span class="ui red text">{{ email_template.name }}</span> ?
        </h4>
        <a class="ui right floated negative button" style="margin-bottom: 1em;"
          href="{{ url_for('email_templates.delete_email_template', email_template_id=email_template.id, organization_id=organization.id) }}">
          ลบ</i>
        </a>
        <button class="ui right floated button" onclick="$('.modal.delete.{{email_template.id}}').modal('hide')">
          ยกเลิก</button>
      </div>
    </div>

    <div class="ui modal set-default {{ email_template.id }}">
      {% if email_template.is_default == false %}
      {% set new_is_default = true %}
      {% else %}
      {% set new_is_default = false %}
      {% endif %}

      <div class="header">เปลี่ยนเป็นค่าเริ่มต้น</div>
      <div class="content">
        คุณต้องการเปลี่ยนให้อีเมล <span class="ui blue text">{{ email_template.name }}</span>
        {{ "ไม่" if new_is_default else "" }} เป็นค่าเริ่มต้น?
      </div>
      <div class="ui fitted divider"></div>
      <div class="content">
        <a class="ui {{ 'green' if new_is_default == true }} right floated button" style="margin-bottom: 1em;"
          href="{{ url_for('email_templates.set_default_email_template', organization_id=organization.id, email_template_id=email_template.id, is_default=new_is_default) }}">
          เปลี่ยน
        </a>
      </div>
    </div>

    {% endfor %}

  </tbody>
</table>
{% endif %}

{% if not email_templates %}
<div class="ui message">ไม่มีข้อมูลรูปแบบอีเมลในขณะนี้</div>
{% endif %}



{% endblock %}

{% block additional_js %}
<script>
  $('.link.pop').popup({
    delay: {
      show: 800,
    }
  })
</script>
{% endblock %}