{% extends '/base/template-page-login.html' %}
{% import 'base/html-renderer.html' as renderer %}
{% import '/base/components/paginations/pagination.html' as paginated%}

{% block title %}
{{ "Email Template" }}
{% endblock %}

{% block dashboard_title %}
รูปแบบอีเมล
{% endblock %}


{% block breadcrumbs %}

{% endblock %}


{% block content %}

<div class="flex flex-row w-full justify-between">
  <div class="flex justify-end w-full gap-2">
    <a class="btn btn-primary" href="{{ url_for('email_templates.create_or_edit', organization_id=organization.id) }}">
      <i class="ph ph-plus"></i>
      เพิ่มรูปแบบอีเมล
    </a>
  </div>
</div>
{% if email_templates %}

<div class="segment mt-4 border border-base-300 bg-base-100 rounded-2xl p-6 shadow-sm">

  <div class="overflow-x-auto mt-2 rounded-xl">
    <table class="ui striped padded celled table">
      <thead>
        <tr>
          <th class="table-style">ชื่อ</th>
          <th class="table-style">ประเภท</th>
          <th class="table-style">หัวข้อ</th>
          <th class="table-style">ค่าเริ่มต้น</th>
          <th class="table-style">แก้ไข</th>
        </tr>
      </thead>
      <tbody>
        {% for email_template in email_templates %}
        <tr>
          <td class="table-style" data-label="Name">{{ email_template.name }}</td>
          <td class="table-style" data-label="Type">{{ email_template.get_type_display() }}</td>
          <td class="table-style" data-label="Subject">{{ email_template.subject }}</td>
          <td class="table-style">
            <span class=" {{ 'text-success' if email_template.is_default else 'text-error' }}">
              {{ email_template.is_default }}
            </span>
            <a class="tooltip btn btn-circle btn-success" data-tip="change defualt setting"
              onclick="showModal('set-default-' + '{{ email_template.id }}')">
              <i class="ph ph-arrows-clockwise"></i>
            </a>
          </td>
          <td class="table-style" data-label="modal-action">

            <a class="btn btn-primary btn-circle"
              href="{{ url_for('email_templates.detail', organization_id=organization.id, email_template_id=email_template.id)}}">
              <i class="ph ph-list-magnifying-glass"></i>
            </a>
            <a class="btn btn-primary btn-circle"
              href="{{ url_for('email_templates.create_or_edit', organization_id=organization.id, email_template_id=email_template.id)}}">
              <i class="ph ph-pen"></i>
            </a>
            <a class="btn btn-circle btn-error" onclick="showDeleteModal('{{ email_template.id }}')">
              <i class="ph ph-trash"></i>
            </a>

          </td>
        </tr>
        {{ ModalNegative(
          id=email_template.id,
          header="ลบรูปแบบอีเมล",
          body="คุณการต้องการลบ <b> %s </b>?" | format(email_template.name),
        cancel="ยกเลิก",
        submit="ยืนยัน",
        redirect= url_for('email_templates.delete_email_template', email_template_id=email_template.id, organization_id=organization.id)
        ) }}
        {% if email_template.is_default == false %}
        {% set new_is_default = true %}
        {% else %}
        {% set new_is_default = false %}
        {% endif %}

        {{ ModalPositive(
          id="set-default-" + email_template.id | string,
          header="เปลี่ยนเป็นค่าเริ่มต้น",
          body="คุณต้องการเปลี่ยนให้อีเมล <b> %s </b>" | format(email_template.name) + ("" if new_is_default else "ไม่") + "เป็นค่าเริ่มต้น?",
        cancel="ยกเลิก",
        submit="เปลี่ยน",
        redirect= url_for('email_templates.set_default_email_template', organization_id=organization.id, email_template_id=email_template.id, is_default=new_is_default)
        ) }}


        {% endfor %}

      </tbody>
    </table>
  </div>
</div>
{% endif %}

{% if not email_templates %}
<div class="flex w-full justify-center py-6 text-xl">ไม่มีข้อมูลรูปแบบอีเมลในขณะนี้</div>
{% endif %}



{% endblock %}