{% extends '/admin/base/default-dashboard.html' %}
{% import '/admin/base/html-renderer.html' as renderer %}
{% import '/admin/base/pagination.html' as paginated %}

{% block title %}คำสั่งเบิกวัสดุ{% endblock %}
{% block dashboard_title %}คำสั่งเบิกวัสดุ{% endblock %}

{% block breadcrumbs %}

{% if request.endpoint == 'admin.item_orders.index' %}
<a class="ui left primary button" href="{{ url_for('admin.item_orders.order') }}">
  เพิ่มคำสั่งเบิก
</a>
{% else %}
<a class="section" href="{{ url_for('admin.item_orders.index') }}">คำสั่งเบิกวัสดุ</a>
{% endif %}

{% endblock %}

{% block content %}



<form method="post">
  <div class="ui secondary menu">
    <p style="margin-left:auto;">
      {{form.hidden_tag()}}
      {{renderer.render_calendar_default(form.start_date, calendar_id="start_date")}}
    </p>
    <p style="margin-left:10px;">
      {{renderer.render_calendar_default(form.end_date, calendar_id="end_date")}}
    </p>
    <p>
      <button type="submit" class="ui primary button"
        style="height:fit-content; margin-top:auto; margin-left:15px; ">ยืนยัน</button>
    </p>
  </div>
  {% if orders %}
  <div style="padding-bottom: 1em ;">
    <table class="ui celled table">
      <thead>
        <tr>

          <th>วันที่สั่งเบิกวัสดุ</th>
          <th>คำอธิบาย</th>
          <th>ชื่อผู้ใช้งาน</th>
          <th>เบิกวัสดุ</th>
          <th>รายการวัสดุ</th>
          <th>สถานะ</th>
          <th>แก้ไข/ลบข้อมูล</th>

        </tr>
      </thead>
      <tbody>
        {% for order in paginated_orders.items %}
        <tr>
          <td data-label="Created Date">{{ order.created_date.strftime('%d/%m/%Y %H:%M:%S') }}</td>
          <td data-label="Description">{{ order.description }}</td>
          <td data-label="User">{{ order.user.first_name }} {{ order.user.last_name }}</td>
          <td>
            <a class="ui primary button" href="{{ url_for('admin.item_checkouts.checkout', order_id=order.id) }}">
              เบิกวัสดุ
            </a>
          </td>

          <td data-label="Bill">
            <a class="ui primary button" href="{{ url_for('admin.item_checkouts.bill_checkout', order_id=order.id) }}"
              style=" color: white; background-color: rgb(59, 115, 199);">
              <i class="eye icon"></i>
            </a>
          </td>
          {% if order.approval_status == "pending" %}
          <td data-label="Status" class="red">
            <span class="ui red text">รออนุมัติ</span>
          </td>
          {% else %}
          <td data-label="Status" class="green">
            <span class="ui green text">อนุมัติ</span>
          </td>
          {% endif %}
          <td>
            <a class="ui icon button" href="{{ url_for('admin.item_orders.edit', order_id=order.id) }}"
              style=" color: white; background-color: rgb(59, 115, 199);">
              <i class="edit icon"></i>
            </a>
            <a class="ui icon button" style="color: white; background-color: rgb(192, 55, 55);"
              onclick="showDeleteModal('{{ order.id }}')">
              <i class="trash icon"></i>
            </a>
            <div class="ui modal {{order.id}}">
              <div class="header">
                ลบคำสั่งเบิกวัสดุ
              </div>
              <div class="content">
                <p>ต้องการลบคำสั่งเบิกวัสดุ
                  <b>{{ order.description }}</b>
                </p>
              </div>
              <div class="actions">
                <button class="ui black deny button">
                  ยกเลิก
                </button>
                <a class="ui negative right labeled icon button"
                  href="{{ url_for('admin.item_orders.delete', order_id=order.id) }}">
                  ยืนยัน
                  <i class="checkmark icon"></i>
                </a>
              </div>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if paginated_orders.pages != 1 %}
    <div class="ui grid">
      <div class="column row">
        <div class="center aligned column">
          {{paginated.render_pagination(paginated_orders,"item_orders.index")}}
        </div>
      </div>
    </div>
    {% endif %}
  </div>
  {% else %}
  <div class="ui info message">ไม่มีข้อมูลการทำรายการในขณะนี้</div>
  {% endif %}
</form>
{% endblock %}

{% block additional_js %}
<script type="text/javascript">

  function showDeleteModal(order_id) {
    order_id ? $('.ui.modal.' + order_id).modal('show') : $('.ui.modal').modal('hide')
      ;
  }
</script>
<script type="text/javascript">
  datetime_formatter = {
    date: "DD/MM/YYYY"
  };
  var calendar_setting = {
    type: 'date',
    monthFirst: false,
    formatter: datetime_formatter,
    today: false,
    ampm: false,
    text: {
      days: ['อา', 'จ', 'อ', 'พ', 'พฤ', 'ศ', 'ส'],
      months: ['มกราคม', 'กุมภาพันธ์', 'มีนาคม', 'เมษายน', 'พฤษภาคม', 'มิถุนายน', 'กรกฎาคม', 'สิงหาคม', 'กันยายน', 'ตุลาคม', 'พฤษจิกายน', 'ธันวาคม'],
      monthsShort: ['ม.ค.', 'ก.พ.', 'มี.ค.', 'เม.ย.', 'พ.ค.', 'มิ.ย.', 'ก.ค.', 'ส.ค.', 'ก.ย.', 'ต.ค.', 'พ.ย.', 'ธ.ค.'],
      today: 'วันนี้',
      now: 'ปัจจุบัน',
      am: 'AM',
      pm: 'PM'
    },
  };
  $('#start_date').calendar(calendar_setting);
  $('#end_date').calendar(calendar_setting);

  $(document)
    .ready(function () {
      $('.ui.dropdown.validate.selection')
        .dropdown({
          allowAdditions: true,
          fullTextSearch: 'exact'
        });
    });
</script>
{% endblock %}