{% extends '/admin/warehouses/index.html' %}
{% import '/admin/base/html-renderer.html' as renderer %}

{% block title %}
{% if 'edit' in request.path %}
แก้ไขคลังอุปกรณ์ : {{ form.name.data }}
{% else %}
เพิ่มคลังอุปกรณ์
{% endif %}
{% endblock %}
{% block dashboard_title %}
{{ self.title() }}
{% endblock %}

{% block breadcrumbs %}
{{ super() }}
<div class="active section">แก้ไขหรือเพิ่มข้อมูลคลังอุปกรณ์</div>
{% endblock %}

{% block content %}
<div>
  <form class="ui form" method="POST">

    {{ form.hidden_tag() }}

    {{ renderer.render_field(form.name) }}
    {{ renderer.render_field(form.description) }}

    {% if 'edit' == request.path %}
    <button class="ui primary button" type="submit">แก้ไข</button>
    {% else %}
    <button class="ui primary button" type="submit">ยืนยันข้อมูล</button>
    {% endif %}
  </form>
</div>
{% endblock %}