{% extends '/base/default-dashboard.html' %}

{% block title %}อนุมัติการเบิกสินค้า{% endblock %}
{% block dashboard_title %}อนุมัติการเบิกสินค้า{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block content %}
<div style="padding-bottom: 1em ;">
  <table class="ui celled table">
    <thead>
      <tr>

        <th>วันที่สั่งเบิกสินค้า</th>
        <th>คำอธิบาย</th>
        <th>ชื่อผู้ใช้งาน</th>
        <th>รายการสินค้า</th>
        <th>การอนุมัติ</th>
        <th>แก้ไข/ลบข้อมูล</th>

      </tr>
    </thead>
    <tbody>
      {% for order in orders %}
      {% if order.status == "pending" %}
      <tr>
        <td data-label="Created Date">{{ order.created_date.strftime('%d/%m/%Y %H:%M:%S') }}</td>
        <td data-label="Description">{{ order.description }}</td>
        <td data-label="User">{{ order.user.first_name }} {{ order.user.last_name }}</td>
        <td data-label="Bill">
          <a class="ui primary button" href="{{ url_for('item_checkouts.bill_checkout', order_id=order.id) }}"
            style=" color: white; background-color: rgb(59, 115, 199);">
            <i class="eye icon"></i>
          </a>
        </td>
        {#<td data-label="Status">
            <a class="positive ui button" href="{{ url_for('approve_orders.approve', order_id=order.id)}}">
                อนุมัติ
            </a>
        </td>
        <td data-label="Edit Delete">
          <a class="ui icon button" href="{{ url_for('item_orders.edit', order_id=order.id) }}"
            style=" color: white; background-color: rgb(59, 115, 199);">
            <i class="edit icon"></i>
          </a>
          <a class="ui icon button" href="{{ url_for('item_orders.delete', order_id=order.id) }}"
            style="color: white; background-color: rgb(192, 55, 55);">
            <i class="trash icon"></i>
          </a>
        </td>#}
      </tr>
      {% endif %}
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}