{% extends '/base/default-dashboard.html' %}
{% import '/base/html-renderer.html' as renderer %}

{% block title %}อนุมัติการเบิกอุปกรณ์{% endblock %}
{% block dashboard_title %}อนุมัติการเบิกอุปกรณ์{% endblock %}

{% block breadcrumbs %}  
<form method="post">  
  <div class="ui secondary  menu" >  
    <p style="margin-left:auto;">    
      <p style="margin-left:5px;">
        {{renderer.render_calendar_default(form.calendar_select, calendar_id="checkout_date_calendar")}}
      </p>
      <p style="margin-left:10px;">
        {{renderer.render_calendar_default(form.calendar_end, calendar_id="end_date")}}
      </p>
        <button type="submit" class="ui primary button" style="margin-left:15px;">ยืนยัน</button>
    </p>  
  </div>
{% endblock %}

{% block content %}


{% if orders %}
<div style="padding-bottom: 1em;">
  <table class="ui celled table">
    <thead>
      <tr>
        <th>วันที่สั่งเบิกอุปกรณ์</th>
        <th>คำอธิบาย</th>
        <th>ชื่อผู้ใช้งาน</th>
        <th>รายการอุปกรณ์</th>
        <th>การอนุมัติ</th>
      </tr>
    </thead>
    <tbody>
      {% for order in orders %}
      {% if calendar_select %}
      {% if check_in_time(order.created_date,calendar_select,calendar_end) %}
      <tr>
        <td data-label="Created Date">{{ order.created_date.strftime('%d/%m/%Y %H:%M:%S') }}</td>
        <td data-label="Description">{{ order.description }}</td>
        <td data-label="User">{{ order.user.first_name }} {{ order.user.last_name }}</td>
        <td data-label="Bill">
          <a class="ui primary button" href="{{ url_for('item_checkouts.bill_checkout', order_id=order.id) }}"
            style=" color: white; background-color: rgb(59, 115, 199);">
            <i class="eye icon"></i>
          </a>
        </td>
        <td data-label="Status">
          <a class="positive ui button" href="{{ url_for('approve_orders.approve', checkout_item_id=checkout.id, order_id=order.id)}}">
            อนุมัติ
          </a>
        </td>
      </tr>
      {% endif %}
      {% else %}
      <tr>
        <td data-label="Created Date">{{ order.created_date.strftime('%d/%m/%Y %H:%M:%S') }}</td>
        <td data-label="Description">{{ order.description }}</td>
        <td data-label="User">{{ order.user.first_name }} {{ order.user.last_name }}</td>
        <td data-label="Bill">
          <a class="ui primary button" href="{{ url_for('item_checkouts.bill_checkout', order_id=order.id) }}"
            style=" color: white; background-color: rgb(59, 115, 199);">
            <i class="eye icon"></i>
          </a>
        </td>
        <td data-label="Status">
          <a class="positive ui button" href="{{ url_for('approve_orders.approve', order_id=order.id)}}">
            อนุมัติ
          </a>
        </td>
      </tr>

      {% endif %}
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
  <div class="ui info message">ไม่มีข้อมูลการทำรายการในขณะนี้</div>
{% endif %}
</form>
{% endblock %}

{% block additional_js %}
<script type="text/javascript">
    datetime_formatter = {
      datetime: function (datetime, settings) {
          if (!datetime) return '';
            var day = datetime.getDate();
            var month = datetime.getMonth() + 1;
            var year = datetime.getFullYear();
            var minutes = datetime.getMinutes();
            var hour = datetime.getHours();

          return year + '-' + ("0" + month).slice(-2) + '-' + ("0" + day).slice(-2);
    }
};
var calendar_setting = {
type: 'date',
monthFirst: false,
formatter: datetime_formatter,
today: false,
ampm: false,
text: {
    days: ['อา', 'จ', 'อ', 'พ', 'พฤ', 'ศ', 'ส'],
    months: ['มกราคม', 'กุมภาพันธ์', 'มีนาคม', 'เมษายน', 'พฤษภาคม', 'มิถุนายน', 'กรกฎาคม', 'สิงหาคม', 'กันยายน', 'ตุลาคม', 'พฤษจิกายน', 'ธันวาคม'],
    monthsShort: ['ม.ค.', 'ก.พ.', 'มี.ค.', 'เม.ย.', 'พ.ค.', 'มิ.ย.', 'ก.ค.', 'ส.ค.', 'ก.ย.', 'ต.ค.', 'พ.ย.', 'ธ.ค.'],
    today: 'วันนี้',
    now: 'ปัจจุบัน',
    am: 'AM',
    pm: 'PM'
},
};
$('#checkout_date_calendar').calendar(calendar_setting);
$('#end_date').calendar(calendar_setting);

$(document)
.ready(function() {
  $('.ui.dropdown.validate.selection')
  .dropdown({
    allowAdditions: true,
    fullTextSearch: 'exact'
  });
});
</script>
{% endblock %}