{% extends '/item_checkouts/index.html' %}
{% import '/base/components/paginations/pagination.html' as paginated %}

{% block title %}รายการนำวัสดุออก{% endblock %}
{% block dashboard_title %}รายการนำวัสดุออก{% endblock %}


{% block breadcrumbs %}
<a class="section"
  href="{{ url_for('approve_orders.index', organization_id=organization.id) }}">รายการอนุมัติการเบิกวัสดุ</a>
<i class="right angle icon divider"></i>
<div class="active section">
  รายละเอียดคำสั่งเบิกวัสดุ
</div>
{% endblock %}

{% block content %}
{% if checkouts %}
<div class="segment mt-4 border border-base-300 bg-base-100 rounded-2xl p-6 shadow-sm">
  <div class="overflow-x-auto mt-10 rounded-xl">
    <table class="table-auto w-full">
      <thead>
        <tr>
          <th class="table-style">รูปวัสดุ</th>
          <th class="table-style">วันที่นำวัสดุออก</th>
          <th class="table-style">ชื่อวัสดุ</th>
          <th class="table-style">จำนวนหน่วยใหญ่</th>
          <th class="table-style">จำนวนหน่วยเล็ก</th>
          <th class="table-style">จำนวนที่มีในคลัง</th>
        </tr>
      </thead>
      <tbody>
        {% for checkout in paginated_checkouts.items %}
        <tr>
          <td class="table-style" data-label="Image" class="center aligned">
            <div>
              {% if not checkout.item.image %}
              <img src=" {{ url_for('static', filename='/images/image.png' ) }}" width="70">
              {% else %}
              <img
                src="{{ url_for('items.image', item_id=checkout.item.id, filename=checkout.item.image.filename, organization_id=organization.id) }}"
                width="70">
              {% endif %}
            </div>
          </td>
          <td class="table-style" data-label="Checkout Date">{{ checkout.created_date.strftime('%d/%m/%Y %H:%M:%S') }}
          </td>
          <td class="table-style" data-label="Item">{{ checkout.item.name }}</td>
          <td class="table-style" data-label="Set">{{ checkout.set_ }}</td>
          <td class="table-style" data-label="Quantity">{{ checkout.quantity }}</td>
          {% if checkout.get_amount_pieces() > checkout.item.get_amount_pieces() %}
          <td class="table-style" data-label="Status" class="text-error">
            <span class="ui red text"> {{ checkout.item.get_items_quantity() }}</span>
          </td>
          {% else %}
          <td class="table-style" data-label="Status" class="text-success">
            <span class="ui green text"> {{ checkout.item.get_items_quantity() }}</span>
          </td>
          {% endif %}

        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% set params=dict(request.args) %}
    {% if 'page' in params %}
    {% set _dummy=params.pop('page') %}
    {% endif %}
    {% if paginated_checkouts.pages != 1 %}

    {{ paginated.render_pagination(paginated_checkouts,"approve_orders.item_checkouts", params)}}

    {% endif %}
  </div>
</div>
{% else %}
<div class="ui message">ไม่มีข้อมูลการทำรายการในขณะนี้</div>
{% endif %}

{% endblock %}

{% block additional_js %}
<script type="text/javascript">

  function showDeleteModal(checkout_item_id) {
    checkout_item_id ? $('.ui.modal.' + checkout_item_id).modal('show') : $('.ui.modal').modal('hide')
      ;
  }
</script>
{% endblock %}