{% extends '/base/default-dashboard.html' %}
{% import '/base/html-renderer.html' as renderer %}

{% block title %}
เพิ่มคำสั่งเบิก
{% endblock %}

{% block dashboard_title %}
หัวหน้าเจ้าหน้าที่พัสดุอนุมัติคำสั่งเบิกวัสดุ
{% endblock %}

{% block breadcrumbs %}
<a class="section" href="{{ url_for('approve_orders.supervisor_supplier_index', organization_id=organization.id) }}">
  คำสั่งเบิกวัสดุ </a>
<i class="right angle icon divider"></i>
<div class="active section">
  อนุมัติคำสั่งเบิกวัสดุ
</div>
{% endblock %}



{% block content %}
{% if checkouts %}

{% if order.status=="pending on supervisor supplier" %}
<div class="ui secondary menu">
  <p style="margin-left:auto;">
    <a class="ui positive button" onclick="showModal('approve')"
      style="height:fit-content; margin-top:auto; margin-left:15px; ">
      <i class="check icon"></i>อนุมัติการเบิกวัสดุ</a>
    <a class="ui negative button" onclick="showModal('denied')"
      style="height:fit-content; margin-top:auto; margin-left:15px; ">
      <i class="times icon"></i>ไม่อนุมัติการเบิกวัสดุ</a>
  </p>

</div>
<div class="ui modal denied">
  <div class="header">
    <span class="ui text red">
      ปฏิเสธคำสั่งเบิกวัสดุ
    </span>
  </div>
  <div class="content">
    <p>ต้องการปฏิเสธคำสั่งเบิกวัสดุ
      <b>{{ order.description }}</b>
    </p>
  </div>
  <div class="actions">
    <button class="ui black deny button">
      ยกเลิก
    </button>
    <a class="ui negative right labeled icon button"
      href="{{ url_for('approve_orders.supervisor_supplier_denied',order_id=order.id, organization_id=organization.id)}}">
      ยืนยัน
      <i class="checkmark icon"></i>
    </a>
  </div>
</div>

<div class="ui modal approve">
  <div class="header">
    <span class="ui text green">
      อนุมัติการเบิกวัสดุ
    </span>
  </div>
  <div class="content">
    <p>ต้องการอนุมัติการเบิกวัสดุ
      <b>{{ order.description }}</b>
    </p>
  </div>
  <div class="actions">
    <button class="ui black deny button">
      ยกเลิก
    </button>
    <a class="ui positive right labeled icon button"
      href="{{ url_for('approve_orders.supervisor_supplier_approve',order_id=order.id, organization_id=organization.id)}}">
      ยืนยัน
      <i class="checkmark icon"></i>
    </a>
  </div>
</div>
{% endif %}

<div style="padding-bottom: 1em ;">
  <table class="ui celled table">
    <thead>
      <tr>
        <th>รูปวัสดุ</th>
        <th>วันที่นำวัสดุออก</th>
        <th>ชื่อวัสดุ</th>
        {#}<th>จำนวนหน่วยใหญ่</th>{#}
        <th>จำนวนหน่วยเล็ก</th>
        <th>ราคาแต่ละหน่วยเล็ก</th>
        <th>รวม</th>
        <th>จำนวนที่มีในคลัง</th>
      </tr>
    </thead>
    <tbody>
      {% for checkout in paginated_checkouts.items %}
      <tr>
        <td data-label="Image" class="center aligned">
          <div>
            {% if not checkout.item.image %}
            <img src=" {{ url_for('static', filename='/images/image.png' ) }}" width="70">
            {% else %}
            <img
              src="{{ url_for('items.image', item_id=checkout.item.id, filename=checkout.item.image.filename, organization_id=organization.id) }}"
              width="70">
            {% endif %}
          </div>
        </td>
        <td data-label="Checkout Date">{{ checkout.checkout_date.strftime('%d/%m/%Y %H:%M:%S') }}</td>
        <td data-label="Item">{{ checkout.item.name }}</td>
        {#} <td data-label="Set">{{ checkout.set_ }}</td> {#}
        <td data-label="Piece">{{ checkout.piece }}</td>
        <td data-label="Price Per Piece">{{ checkout.item.get_last_price_per_piece() }}</td>
        <td data-label="Quantity">{{ checkout.quantity }}</td>
        {% if checkout.quantity > checkout.item.get_amount_pieces() %}
        <td data-label="Status" class="red">
          <span class="ui red text"> {{ checkout.item.get_items_quantity() }}</span>
        </td>
        {% else %}
        <td data-label="Status" class="green">
          <span class="ui green text"> {{ checkout.item.get_items_quantity() }}</span>
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% set params=dict(request.args) %}
  {% if 'page' in params %}
  {% set _dummy=params.pop('page') %}
  {% endif %}
  {% if paginated_checkouts.pages != 1 %}
  <div class="ui grid">
    <div class="column row">
      <div class="center aligned column">
        {{ paginated.render_pagination(paginated_checkouts,"approve_orders.item_checkouts", params)}}
      </div>
    </div>
  </div>
  {% endif %}
</div>
{% else %}
<div class="ui info message">ไม่มีข้อมูลการทำรายการในขณะนี้</div>
{% endif %}

{% endblock %}

{% block additional_js %}
<script type="text/javascript">

  function showModal(status) {
    status ? $('.ui.modal.' + status).modal('show') : $('.ui.modal').modal('hide')
      ;
  }
</script>
{% endblock %}