{% extends '/warehouses/index.html' %}
{% import '/base/html-renderer.html' as renderer %}

{% block title %}
{% if 'edit' in request.path %}
แก้ไขคลังวัสดุ : {{ form.name.data }}
{% else %}
เพิ่มคลังวัสดุ
{% endif %}
{% endblock %}

{% block dashboard_title %}
{{ self.title() }}
{% endblock %}

{% block breadcrumbs %}
{{ RenderBreadcrumb([
("คลังวัสดุ", url_for("warehouses.index", organization_id=organization.id)),
('แก้ไขคลังวัสดุ' if 'edit' in request.path else 'เพิ่มคลังวัสดุ', "")]) }}
{% endblock %}

{% block content %}
<div class="flex flex-row justify-between">
  <div class="flex justify-start w-full gap-2">
    <a class="btn  btn-primary" href="{{ url_for('warehouses.index', organization_id=organization.id) }}">
      <i class="ph ph-arrow-u-up-left"></i>
      ย้อนกลับ
    </a>
  </div>
</div>
<div>
  <form class="segment mt-4 border border-base-300 bg-base-100 rounded-2xl p-6 shadow-sm" method="POST">

    {{ form.hidden_tag() }}

    {{ renderer.render_field(form.name) }}
    {{ renderer.render_text_area_field(form.description) }}

    {% if 'edit' == request.path %}
    <button class="btn btn-primary" type="submit">แก้ไข</button>
    {% else %}
    <button class="btn btn-primary" type="submit">ยืนยันข้อมูล</button>
    {% endif %}
  </form>
</div>
{% endblock %}