{% extends '/base/template-page-login.html' %}
{% import '/base/components/paginations/pagination.html' as paginated %}

{% block title %}คลังวัสดุ{% endblock %}
{% block dashboard_title %}คลังวัสดุ{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block content %}
<div class="flex flex-row w-full justify-between">
  <div class="flex justify-end w-full gap-2">
    <a class="btn btn-primary flex items-center gap-2"
      href="{{ url_for('warehouses.add_or_edit', organization_id=organization.id) }}">
      <i class="ph ph-plus"></i>
      เพิ่มคลังวัสดุ
    </a>
  </div>
</div>
{% if warehouses %}
<div class="grid grid-cols-2 gap-4 mt-4 lg:grid-cols-4">
  {% for warehouse in paginated_warehouses.items %}
  <div class="card bg-base-100 shadow-md">
    <div class="card-body">
      <div class="flex justify-between items-center">
        <h2 class="card-title text-xl font-bold">{{ warehouse.name }}</h2>
        <a class="btn btn-primary btn-circle"
          href="{{ url_for('warehouses.edit', warehouse_id=warehouse.id, organization_id=organization.id) }}">
          <i class="ph ph-pencil"></i>
        </a>
      </div>
      <div class="mt-4">
        <h3 class="text-lg font-semibold">คำอธิบาย</h3>
        <p class="text-sm text-gray-700">{{ warehouse.description }}</p>
      </div>
      <div class="card-actions justify-end mt-4">
        <button class="btn btn-error btn-sm" onclick="showDeleteModal('{{ warehouse.id }}')">
          <i class="ph ph-trash"></i> ลบ
        </button>
      </div>

      {{ ModalNegative(
          id=warehouse.id,
          header="ลบคลังวัสดุ",
          body="ต้องการลบคลังวัสดุ <b> %s </b>" | format(warehouse.name),
          cancel="ยกเลิก",
          submit="ยืนยัน",
          redirect=url_for('warehouses.delete', warehouse_id=warehouse.id, organization_id=organization.id),
          ) }}
    </div>
  </div>
  {% endfor %}
  {% if paginated_warehouses.pages != 1 %}
  <div class="mt-4">
    {{ paginated.render_pagination(paginated_warehouses,"warehouses.index", request.args)}}
  </div>
  {% endif %}
</div>
{% else %}
<div class="flex w-full justify-center py-6 text-xl text-gray-500">ไม่มีข้อมูลการทำรายการในขณะนี้</div>
{% endif %}
{% endblock %}

{% block additional_js %}
<script type="text/javascript">
  function showDeleteModal(item_id) {
    item_id ? document.querySelector('.modal.' + item_id).classList.add('modal-open') : document.querySelectorAll('.modal').forEach(modal => modal.classList.remove('modal-open'));
  }
</script>
{% endblock %}