{% extends '/base/default-dashboard.html' %}

{% block title %}คลังอุปกรณ์{% endblock %}
{% block dashboard_title %}คลังอุปกรณ์{% endblock %}
{% block breadcrumbs %}
{% if request.endpoint == 'warehouses.index' %}
<a class="ui primary button" href="{{ url_for('warehouses.add_or_edit') }}">
  เพิ่มคลังอุปกรณ์
</a>
{% else %}
<a class="section" href="{{ url_for('warehouses.index') }}">คลังอุปกรณ์</a>
<div class="divider"> / </div>
{% endif %}
{% endblock %}

{% block content %}
<div class="ui" style="padding-bottom: 1em;">
  {% if request.endpoint == 'warehouses.index' %}
    <a class="ui primary button" href="{{ url_for('warehouses.add_or_edit') }}">
      เพิ่มคลังอุปกรณ์
    </a>
  {% else %}
    <a class="section" href="{{ url_for('warehouses.index') }}">คลังอุปกรณ์</a>
    <div class="divider"> / </div>
  {% endif %}
</div>

{% if warehouses %}
<div style="padding-bottom: 1em ;">
  <table class="ui celled table">
    <thead>
      <tr>
        <th>ชื่อคลังอุปกรณ์</th>
        <th>คำอธิบาย</th>
        <th>ชื่อผู้ใช้งาน</th>
        <th>แก้ไข/ลบคลังอุปกรณ์</th>
      </tr>
    </thead>
    <tbody>
      {% for warehouse in warehouses %}
      <tr>
        <td data-label="Name">{{ warehouse.name }}</td>
        <td data-label="Description">{{ warehouse.description }}</td>

        <td data-label="User">{{ warehouse.user.first_name }} {{ warehouse.user.last_name }}</td>
        <td>
          <a class="ui primary icon button" href="{{ url_for('warehouses.edit', warehouse_id=warehouse.id) }}">
            <i class="edit icon"></i>
          </a>
          <a class="ui red icon button" href="{{ url_for('warehouses.delete', warehouse_id=warehouse.id) }}">
            <i class="trash icon"></i>
          </a>
        </td>
      </tr>
      {% endfor %}

    </tbody>
  </table>
</div>
{% else %}
  <div class="ui info message">ไม่มีข้อมูลการทำรายการในขณะนี้</div>
{% endif %}
{% endblock %}