{% extends '/procurement/base/default-procurement-page.html' %}
{% import '/base/components/paginations/pagination.html' as paginated %}
{% import '/procurement/macros/table.html' as table_macros %}
{% from '/base/components/breadcrumbs.html' import RenderBreadcrumb %}

{% block title %}รายการที่ไม่ต่ออายุแล้ว{% endblock %}
{% block dashboard_title %}รายการครุภัณฑ์ที่ไม่ต่ออายุแล้ว{% endblock %}

{% block breadcrumbs %}
{{ RenderBreadcrumb([
("รายการครุภัณฑ์ใกล้หมดอายุ", url_for('procurement.requisitions.index', organization_id=organization.id)),
("รายการที่ไม่ต่ออายุแล้ว", None)
]) }}
{% endblock %}

{% block content %}
<div class="container mx-auto px-4 py-6">
    {{ table_macros.render_non_renewal_items_table(disactive_items) }}

    {% if paginated_procurements.pages > 1 %}
    <div class="mt-8 flex justify-center">
        {{ paginated.render_pagination(paginated_procurements, "procurement.requisitions.non_renewal", params) }}
    </div>
    {% endif %}
</div>
{% endblock %}