{% extends '/procurement/base/default-procurement-page.html' %}
{% import '/base/components/paginations/pagination.html' as paginated %}
{% import '/base/html-renderer.html' as renderer %}
{% from '/procurement/macros/renewal_requested_table.html' import render_renewal_requested_items_table %}
{% from '/base/components/breadcrumbs.html' import RenderBreadcrumb %}
{% block title %}รายการขอซื้อขอจ้าง{% endblock %}
{% block dashboard_title %}รายการขอซื้อขอจ้าง{% endblock %}

{% block content %}
<div class="container mx-auto px-4 py-6">
  <!-- Header Row -->
  <div class="flex items-center justify-between mb-4">
    <div class="bg-blue-50 border border-blue-200 rounded-full px-4 py-2">
      <span class="text-blue-700 font-semibold text-sm">{{ paginated_requisitions.total }} รายการ</span>
    </div>
    <a href="{{ url_for('procurement.requisitions.create_or_edit', organization_id=organization.id) }}"
      class="btn btn-primary">
      <i class="ph ph-plus"></i>
      สร้างรายการขอจัดซื้อ
    </a>
  </div>

  <!-- Filter Form -->
  <div class="bg-white border border-gray-200 shadow-sm rounded-lg p-6 mb-6">
    <form method="get" class="flex flex-col md:flex-row md:items-end gap-4">
      <input type="hidden" name="organization_id" value="{{ organization_id }}">
      {{ renderer.base_render(form.requisition_code, placeholder="ค้นหาเลขที่คำขอ") }}
      {{ renderer.render_select_field(form.status) }}
      {{ renderer.render_select_field(form.show_item) }}
      <div class="pb-3.5">
        <button type="submit" class="btn bg-blue-700 hover:bg-blue-800 text-white border-none shadow-md">
          <i class="ph ph-magnifying-glass mr-2"></i>
          ค้นหา
        </button>
      </div>
      <div class="pb-3.5 min-w-fit">
        <a href="{{ url_for('procurement.requisitions.renewal_requested', organization_id=organization.id) }}"
          class="btn bg-gray-300 hover:bg-gray-400 text-gray-700 border-none shadow-md">
          <i class="ph ph-x mr-2"></i>
          ล้างการค้นหา
        </a>
      </div>
    </form>
  </div>
  {% if current_user.has_organization_roles("manager") %}
  <h1 class="text-xl font-bold">รายการขอซื้อขอจ้างที่รอการพิจารณา</h1>
  {{ render_renewal_requested_items_table(manager_requisitions,current_user, mas_list, organization,
  manager_action=true) }}
  {% if paginated_manager_requisitions %}
  {{ paginated.render_pagination(paginated_manager_requisitions, "procurement.requisitions.renewal_requested",
  request.args) }}
  {% endif %}
  {% endif %}
  <h1 class="text-xl font-bold mt-6">รายการขอซื้อขอจ้างทั้งหมด</h1>
  {{ render_renewal_requested_items_table(requisitions,current_user, mas_list, organization, manager_action=false) }}
  {{ paginated.render_pagination(paginated_requisitions, "procurement.requisitions.renewal_requested", request.args) }}
</div>
{% endblock %}