{% extends '/procurement/base/default-procurement-page.html' %}
{% import '/base/components/paginations/pagination.html' as paginated %}
{% import '/procurement/macros/table.html' as table_macros %}
{% from '/base/components/breadcrumbs.html' import RenderBreadcrumb %}

{% block title %}รายการขอซื้อขอจ้าง{% endblock %}
{% block dashboard_title %}รายการขอซื้อขอจ้าง{% endblock %}

{% block breadcrumbs %}
{{ RenderBreadcrumb([
("รายการครุภัณฑ์ใกล้หมดอายุ", url_for('procurement.requisitions.index', organization_id=organization.id)),
("รายการขอซื้อขอจ้าง", None)
]) }}
{% endblock %}

{% block content %}
<div class="container mx-auto px-4 py-6">
    <!-- ปุ่มสร้างรายการขอจัดซื้อ -->
    <div class="mb-4 flex justify-end">
        <a href="{{ url_for('procurement.requisitions.create_or_edit', organization_id=organization.id) }}"
            class="btn btn-primary">
            <i class="ph ph-plus"></i>
            สร้างรายการขอจัดซื้อ
        </a>
    </div>

    {{ table_macros.render_renewal_requested_items_table(requisitions, current_user, mas_list) }}
</div>
{% endblock %}