<div class="item">
  {%- if current_user.get_image() %}
  <a href="{{ url_for('admin.accounts.index') }}" class="ui image">
    <img class="ui avatar image" src="{{ current_user.get_image() }}">
  </a>
  {% endif -%}
  <a href="{{ url_for('admin.accounts.index') }}"><span class="white-text name">{{ current_user.first_name }} {{
      current_user.last_name }}</span></a><br />
  <a href="{{ url_for('admin.accounts.index') }}"><span class="white-text email">{{ current_user.email }}</span></a>
</div>


<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar"
  style="padding-left: 10px;">

  {#{% if current_user.has_roles(['admin']) %}
  <a class="item" href="{{ url_for('admin.index') }}"><i class="user tie icon"></i>Administrator</a>
  {% endif %}#}
  {#

  <!-- Heading -->
  <div class="sidebar-heading" style="color: grey;">
    แดชบอร์ด
  </div>
  <a class="item" href="{{ url_for('admin.dashboard.daily_dashboard') }}"><i class="icon dashboard"></i>แดชบอร์ด</a>
  <a class="item" href="{{ url_for('admin.notifications.index') }}">การแจ้งเตือน</a>


  {% if current_user.has_roles(['admin']) or current_user.has_roles(['supervisor']) %}
  <!-- Heading -->
  <div class="sidebar-heading" style="color: grey;">
    การจัดการ
  </div>

  <a class="item" href="{{ url_for('admin.items.index') }}">วัสดุทั้งหมด</a>
  <a class="item" href="{{ url_for('admin.suppliers.index') }}">ร้านค้า</a>
  <a class="item" href="{{ url_for('admin.warehouses.index') }}">คลังวัสดุ</a>
  <a class="item" href="{{ url_for('admin.item_positions.index') }}">ตำแหน่งวัสดุ</a>

  {% endif %}


  <!-- Heading -->
  <div class="sidebar-heading" style="color: grey;">
    การนำเข้าวัสดุ
  </div>

  <a class="item" href="{{ url_for('admin.item_registers.index') }}">นำเข้าวัสดุ</a>
  <a class="item" href="{{ url_for('admin.inventories.index') }}">รายการนำเข้าวัสดุ</a>

  <!-- Heading -->
  <div class="sidebar-heading" style="color: grey;">
    การนำวัสดุออก
  </div>

  <a class="item" href="{{ url_for('admin.item_orders.index') }}">คำสั่งเบิกวัสดุ</a>
  <a class="item" href="{{ url_for('admin.item_checkouts.index') }}">รายการนำวัสดุออก</a>
  {% if current_user.has_roles(['admin']) or current_user.has_roles(['supervisor']) %}

  <!-- Heading -->
  <div class="sidebar-heading" style="color: grey;">
    การอนุมัติ
  </div>
  <a class="item" href="{{ url_for('admin.approve_orders.index')}}">อนุมัติคำสั่งเบิกวัสดุ</a>
  {% endif %}

  <!-- Heading -->
  <div class="sidebar-heading" style="color: grey;">
    แจ้งวัสดุเสียหาย
  </div>
  <a class="item" href="{{ url_for('admin.lost_breaks.index')}}">วัสดุชำรุด/สูญหาย</a>
  #}
  <!-- Heading -->
  <div class="sidebar-heading" style="color: grey;">
    จัดการผู้ใช้
  </div>
  <a class="item" href="{{ url_for('admin.accounts.user_roles')}}">ระดับของผู้ใช้</a>
  <div class="sidebar-heading" style="color: grey;">
    จัดการองค์กร
  </div>
  <a class="item" href="{{ url_for('admin.organizations.index')}}">องค์กร</a>


  <!-- Heading -->
  <div class="sidebar-heading" style="color: grey;">
    บัญชีผู้ใช้
  </div>

  <a class="item" href="{{ url_for('admin.accounts.index') }}"><i class="address book icon"></i>ข้อมูลผู้ใช้งาน</a>
  <a class="item" href="{{ url_for('admin.accounts.logout') }}"><i class="sign out icon"></i>ออกจากระบบ</a>
</ul>