{% extends "/base/base.html" %}
{% import '/base/html-renderer.html' as renderer %}
{% block body %}
  <div class="drawer lg:drawer-open">
    <input id="drawer-menu" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content bg-base-200 h-full min-h-screen">
      <div class="flex flex-col h-full">
        <div class="w-full navbar p-0 h-auto">
          <div class="flex w-full flex-col items-start">
            <div class="flex flex-row w-full justify-between p-0 h-auto fixed top-0 z-40 bg-purple-400">
              <label for="drawer-menu"
                     class="btn rounded-none border-0 bg-purple-400 drawer-button lg:hidden text-white hover:bg-base-100 hover:text-black">
                <i class="ph ph-size ph-list"></i>
              </label>
            </div>
            <div class="flex flex-col pt-12 lg:pt-4 px-2 lg:px-10 w-full bg-base-200">
              <div class="flex pt-6 text-5xl font-bold gap-4 items-center">
                <span class="text-3xl font-bold">
                  {% block dashboard_title %}{{ self.title }}{% endblock %}
                </span>
              </div>
              <div class="flex py-2 pb-4">
                {% block breadcrumbs %}{% endblock %}
              </div>
            </div>
          </div>
        </div>
        <div class="lg:px-2 mx-2 pb-5 h-full flex flex-col justify-between pt-2">
          <div>
            {% block content %}
            {% endblock content %}
          </div>
          <footer class="footer sm:footer-horizontal bg-base-200 text-base-content p-10 mt-4 border-t border-base-300 items-end">
            {% include "/base/footer.html" %}
          </footer>
        </div>
      </div>
    </div>
    {% include "/procurement/base/sidebar-procurement.html" %}
  </div>
{% endblock body %}
