{% extends '/vehicle_lending/base/default-motorcycle-page.html' %}
{% import '/base/components/forms.html' as render_form %}
{% import '/base/components/paginations/pagination.html' as paginated %}


{% block title %}การขอใช้รถจักรยานยนต์{% endblock %}
{% block dashboard_title %}การขอใช้รถจักรยานยนต์{% endblock %}

{% block breadcrumbs %}

{% endblock %}
{% block content %}
<div class="segment mt-4 border border-base-300 bg-base-100 rounded-2xl p-6 shadow-sm ">
  <div class="overflow-x-auto mt-2 rounded-xl">
    {% if paginated_motorcycle_applications.total %}

    <table class="table-auto w-full">
      <thead>
        <tr>
          <th class="table-style"></th>
          <th class="table-style">วันที่ต้องการใช้</th>
          <th class="table-style">เหตุผลที่ต้องการใช้</th>
          <th class="table-style">สถานที่ต้องการจะไป</th>
          <th class="table-style">ชื่อผู้ใช้งาน</th>
          <th class="table-style">สถานะ</th>
          <th class="table-style">เลขไมล์ที่เปลี่ยนไป</th>
          <th class="table-style">เหตุผลในการ
            <br>อนุมัติ/ไม่อนุมัติ
          </th>
          <th class="table-style">จัดการ</th>

        </tr>
      </thead>
      <tbody>
        {% for motorcycle_application in paginated_motorcycle_applications.items %}
        <tr>
          <td class="table-style"> {{ loop.index }}</td>
          <td class="table-style" data-label="Created Date">
            {{ motorcycle_application.created_date.strftime('%d/%m/%Y %H:%M:%S') }}
          </td>
          <td class="table-style" data-label="Description">{{ motorcycle_application.request_reason }}</td>
          <td class="table-style">{{ motorcycle_application.location }}</td>
          <td class="table-style" data-label="User">{{ motorcycle_application.creator.get_name() }}</td>
          {{ motorcycle_application.get_status()|safe }}
          <td class="table-style">
            {{ motorcycle_application.get_changed_mileage() }}
          </td>

          <td class="table-style">
            {{ motorcycle_application.get_reason() }}
          </td>
          <td class="table-style">
            {% if motorcycle_application.status == "pending" %}
            <!-- Approve/Deny Button -->
            <a class="btn btn-circle btn-primary tooltip {{ 'disabled' if motorcycle_application.status == 'approved' else ''}}"
              data-tip="อนุมัติ / ปฏิเสธ"
              onclick="showApprovalModal('{{ motorcycle_application.id }}', '{{ motorcycle_application.request_reason }}')">
              <i class="ph ph-check"></i>
            </a>

            <!-- Approval Modal -->

            <dialog class="modal approval_modal_{{ motorcycle_application.id }}"
              id="approval_modal_{{ motorcycle_application.id }}">
              <div class="modal-box">
                <h3 class="font-bold text-xl text-success">อนุมัติ / ปฏิเสธ คำขอใช้รถจักรยานยนต์</h3>
                <p class="py-4">คุณต้องการ <b>อนุมัติ</b> หรือ <b>ปฏิเสธ</b> คำขอใช้รถจักรยานยนต์นี้หรือไม่?</p>
                <div class="py-4">
                  <h4 class="font-semibold">ข้อมูลคำขอใช้รถจักรยานยนต์</h4>

                  <!-- Request Reason -->
                  <div class="py-2 flex gap-2">
                    <label class="font-medium">เหตุผลที่ต้องการใช้:</label>
                    <p>{{ motorcycle_application.request_reason or "ไม่มีข้อมูล" }}</p>
                  </div>

                  <!-- Location -->
                  <div class="py-2 flex gap-2">
                    <label class="font-medium">สถานที่ต้องการจะไป:</label>
                    <p>{{ motorcycle_application.location }}</p>
                  </div>

                  <!-- Departure DateTime -->
                  <div class="py-2 flex gap-2">
                    <label class="font-medium">วันเวลาออกเดินทาง:</label>
                    <p>{{ motorcycle_application.departure_datetime.strftime('%Y-%m-%d %H:%M') }}</p>
                  </div>

                  {% if motorcycle_application.travel_type == "round trip" %}
                  <div class="py-2 flex gap-2">
                    <label class="font-medium">วันเวลาที่กลับ:</label>
                    <p>
                      {{ motorcycle_application.return_datetime.strftime('%Y-%m-%d %H:%M') if motorcycle_application.return_datetime else "ไม่ระบุ" }}
                    </p>
                  </div>
                  {% endif %}

                  {% if motorcycle_application.using_type == "airport transfer" %}
                  <div class="py-2 flex gap-2">
                    <label class="font-medium">วันเวลาบิน:</label>
                    <p>
                      {{ motorcycle_application.flight_datetime.strftime('%Y-%m-%d %H:%M') if motorcycle_application.flight_datetime else "ไม่ระบุ" }}
                    </p>
                  </div>
                  {% endif %}

                  <!-- Passenger Number -->
                  <div class="py-2 flex gap-2">
                    <label class="font-medium">จำนวนผู้โดยสาร:</label>
                    <p>{{ motorcycle_application.passenger_number }}</p>
                  </div>

                  <!-- motorcycle Information -->
                  <div class="py-2 flex gap-2">
                    <label class="font-medium">ข้อมูลรถจักรยานยนต์:</label>
                    <p>
                      {{ motorcycle_application.motorcycle.license_plate if motorcycle_application.motorcycle else "ไม่มีข้อมูล" }}
                    </p>
                  </div>

                  <!-- Division -->
                  <div class="py-2 flex gap-2">
                    <label class="font-medium">แผนก:</label>
                    <p>{{ motorcycle_application.division.name if motorcycle_application.division else "ไม่มีข้อมูล" }}
                    </p>
                  </div>

                  <!-- Creator and Updater -->
                  <div class="py-2 flex gap-2">
                    <label class="font-medium">ผู้ใช้:</label>
                    <p>{{ motorcycle_application.creator.get_resources_fullname_th() }}</p>
                  </div>

                  <!-- Date Information -->
                  <div class="py-2 flex gap-2">
                    <label class="font-medium">วันที่สร้าง:</label>
                    <p>{{ motorcycle_application.created_date.strftime('%Y-%m-%d %I:%M %p') }}</p>
                  </div>
                </div>

                <!-- Approval Form -->
                <form id="approval_form" method="POST" class="py-4">
                  <input type="hidden" name="motorcycle_application_id" id="motorcycle_application_id">
                  <input type="hidden" name="organization_id" id="organization_id">

                  <div class="form-control">
                    <label class="label">
                      <span class="label-text">หมายเหตุ (หากปฏิเสธ):</span>
                    </label>
                    <input name="denied_reason" id="denied_reason" class="input input-bordered"
                      placeholder="โปรดระบุเหตุผลหากปฏิเสธ">
                  </div>
                </form>

                <div class="modal-action">
                  <button class="btn" onclick="approval_modal_{{ motorcycle_application.id }}.close()">ยกเลิก</button>
                  <button class="btn btn-success" onclick="submitForm('approve')">
                    อนุมัติ
                    <i class="ph ph-check"></i>
                  </button>
                  <button class="btn btn-error" onclick="submitForm('deny')">
                    ปฏิเสธ
                    <i class="times icon"></i>
                  </button>
                </div>
              </div>
            </dialog>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {% else %}
    <div class="flex w-full justify-center py-6 text-xl"> ไม่พบข้อมูลในขณะนี้</div>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block additional_js %}

<script type="text/javascript">
  function showApprovalModal(motorcycleAppId, description) {
    $("#motorcycle_application_description").text(description);
    $("#motorcycle_application_id").val(motorcycleAppId);
    $("#organization_id").val('{{ organization.id }}');
    $("#denied_reason").val(""); // Clear previous input
    showModal("approval_modal_" + motorcycleAppId);
  }

  function submitForm(action) {
    let form = $("#approval_form");

    // Set form action dynamically
    if (action === "approve") {
      form.attr("action", "{{ url_for('vehicle_lending.motorcycle_permissions.admin_approve', organization_id=organization.id) }}");
    } else {
      form.attr("action", "{{ url_for('vehicle_lending.motorcycle_permissions.admin_denied', organization_id=organization.id) }}");
    }

    form.submit(); // Submit the form
  }

</script>

{% endblock %}