{% macro render_boolean(q, index) %}
<div class="mt-4 flex flex-col gap-3">
  <label
    class="flex items-center gap-4 cursor-pointer hover:bg-base-200/50 p-3 rounded-lg transition-colors w-fit pr-8">
    <input type="radio" name="answer_{{ q.question_id }}" value="True" class="radio radio-primary border-2" {% if
      q.is_required %}required{% endif %} />
    <span class="font-medium text-[15px]">ใช่ (Yes)</span>
  </label>
  <label
    class="flex items-center gap-4 cursor-pointer hover:bg-base-200/50 p-3 rounded-lg transition-colors w-fit pr-8">
    <input type="radio" name="answer_{{ q.question_id }}" value="False" class="radio radio-primary border-2" {% if
      q.is_required %}required{% endif %} />
    <span class="font-medium text-[15px]">ไม่ใช่ (No)</span>
  </label>
</div>
{% endmacro %}