{% extends '/admin/item_positions/index.html' %}
{% import '/admin/base/html-renderer.html' as renderer %}

{% block title %}
{% if 'edit' in request.path %}
แก้ไขตำแหน่งวัสดุ
{% else %}
เพิ่มตำแหน่งวัสดุ
{% endif %}
{% endblock %}
{% block dashboard_title %}
{{ self.title() }}
{% endblock %}

{% block breadcrumbs %}
{{ super() }}
<div class="active section">เพิ่มตำแหน่งวัสดุ</div>
{% endblock %}

{% block content %}
<div>
  <form class="ui form" method="POST">

    {{ form.hidden_tag() }}
    {{ renderer.render_select(form.warehouse) }}
    {{ renderer.render_field(form.description)}}
    <div class="ui three fields">
      {{ renderer.render_field(form.rack) }}
      {{ renderer.render_field(form.row) }}
      {{ renderer.render_field(form.locker) }}
    </div>

    {% if 'edit' == request.path %}
    <button class="ui primary button" type="submit">แก้ไขตำแหน่งวัสดุ</button>
    {% else %}
    <button class="ui primary button" type="submit">ยืนยันข้อมูล</button>
    {% endif %}
  </form>
</div>
{% endblock %}