{% extends '/base/template-page-login.html' %}
{% import 'base/html-renderer.html' as renderer %}
{% import '/base/components/paginations/pagination.html' as paginated%}
{% import '/base/components/forms.html' as render_form %}

{% block title %}นำเข้าวัสดุ{% endblock %}
{% block dashboard_title %}นำเข้าวัสดุ{% endblock %}

{% block breadcrumbs %}
{% if request.endpoint == 'item_registers.index' %}

{% else %}
<a class="section" href="{{ url_for('item_registers.index', organization_id=organization.id) }}">ลงทะเบียนวัสดุ</a>
{% endif %}

{% endblock %}

{% block content %}
<div class="flex flex-row w-full justify-between">
  <div class="flex justify-start w-full gap-2">
    <a class="btn btn-primary labeled icon"
      href="{{ url_for('item_registers.register', organization_id=organization.id) }}">
      <i class="ph ph-plus"></i>
      เพิ่มบิลวัสดุ
    </a>
  </div>
</div>

<form method="post" class="segment mt-4 border border-base-300 bg-base-100 rounded-2xl p-6 shadow-sm">
  <div class="flex flex-row justify-between w-full gap-2">

    {{ form.hidden_tag() }}
    {{ renderer.render_search_select_field(form.item) }}
    {{ renderer.date_range_field(form.start_date, form.end_date)}}

  </div>
  <div class="flex flex-row w-full justify-between">
    <div class="flex justify-start w-full gap-2">
      <button type="submit" class="btn btn-primary">ค้นหา</button>
    </div>
  </div>
  {% if item_registers %}
  <div class="segment mt-4 border border-base-300 bg-base-100 rounded-2xl p-6 shadow-sm">
    <div class="overflow-x-auto mt-2 rounded-xl">
      <table class="table-auto w-full">
        <thead>
          <tr>
            <th class="table-style">เลขกำกับใบเสร็จ</th>
            <th class="table-style">คำอธิบาย</th>
            <th class="table-style">ร้านค้า</th>
            <th class="table-style">ชื่อผู้ใช้งาน</th>
            <th class="table-style">วันลงทะเบียนวัสดุ</th>
            <th class="table-style">สถานะ</th>
            <th class="table-style">รายการนำเข้าวัสดุ</th>
            <th class="table-style">แก้ไข/ลบข้อมูลวัสดุ</th>
          </tr>
        </thead>
        <tbody>
          {% for item in paginated_item_registers.items %}
          <tr>
            <td class="table-style" data-label="Item Name">{{ item.receipt_id }}</td>
            <td class="table-style" data-label="Warehouse">{{ item.description }}</td>
            <td class="table-style" data-label="Quantity">{{ item.supplier.get_supplier_name() }}</td>
            <td class="table-style" data-label="User">{{ item.created_by.get_name() }}</td>
            <td class="table-style" data-label="Registeration Date">{{ item.created_date.strftime('%d/%m/%Y') }}</td>
            <td class="{{ 'green' if item.status == 'active' else 'yellow'}}">
              {{ 'ยืนยัน' if item.status == "active" else 'รอดำเนินการ' }}
            </td>
            <td class="table-style" data-label="Checkin Items">
              <a class="btn btn-primary icon"
                href="{{ url_for('inventories.bill_item', item_register_id=item.id, organization_id=organization.id) }}"
                style=" color: white;">
                <i class="ph ph-eye"></i>
              </a>
            </td>
            <td class="table-style">
              {% if item.status != "active" %}
              <a class="btn btn-circle btn-primary"
                href="{{ url_for('item_registers.edit', item_register_id=item.id, organization_id=organization.id) }}"
                style=" color: white;">
                <i class="ph ph-pen"></i>
              </a>
              {% endif %}
              <a class="btn btn-circle btn-primary" style="color: white;" onclick="showDeleteModal('{{ item.id }}')">
                <i class="ph ph-trash"></i>
              </a>
              <div role="dialog" class="modal {{item.id}}">
                <div class="text-2xl font-bold">
                  ลบข้อมูลนำเข้าวัสดุ
                </div>
                <div class=" modal-box">
                  <p>ต้องการลบข้อมูลนำเข้าวัสดุ <b>{{ item.description }}</b><br />
                    เลขกำกับใบเสร็จ : <b>{{ item.receipt_id }}</b>
                  </p>
                </div>
                <div class="modal-action">
                  <button class="btn">
                    ยกเลิก
                  </button>
                  <a class="btn-error btn"
                    href="{{ url_for('item_registers.delete', item_register_id=item.id, organization_id=organization.id) }}">
                    ยืนยัน
                    <i class="ph ph-check"></i>
                  </a>
                </div>
              </div>
            </td>
          </tr>

          {% endfor %}
        </tbody>
      </table>
      {% if paginated_item_registers.pages != 1 %}

      {{ paginated.render_pagination(paginated_item_registers,"item_registers.index")}}

      {% endif %}
    </div>
  </div>
  {% else %}
  <div class="flex w-full justify-center py-6 text-xl">ไม่มีข้อมูลการทำรายการในขณะนี้</div>
  {% endif %}
</form>
{% endblock %}

{% block additional_js %}
<script type="text/javascript">

  function showDeleteModal(item_id) {
    item_id ? $('.ui.modal.' + item_id).modal('show') : $('.ui.modal').modal('hide')
      ;
  }
</script>
<script type="text/javascript">
  datetime_formatter = {
    date: "DD/MM/YYYY"
  };
  var calendar_setting = {
    type: 'date',
    monthFirst: false,
    formatter: datetime_formatter,
    today: false,
    ampm: false,
    text: {
      days: ['อา', 'จ', 'อ', 'พ', 'พฤ', 'ศ', 'ส'],
      months: ['มกราคม', 'กุมภาพันธ์', 'มีนาคม', 'เมษายน', 'พฤษภาคม', 'มิถุนายน', 'กรกฎาคม', 'สิงหาคม', 'กันยายน', 'ตุลาคม', 'พฤษจิกายน', 'ธันวาคม'],
      monthsShort: ['ม.ค.', 'ก.พ.', 'มี.ค.', 'เม.ย.', 'พ.ค.', 'มิ.ย.', 'ก.ค.', 'ส.ค.', 'ก.ย.', 'ต.ค.', 'พ.ย.', 'ธ.ค.'],
      today: 'วันนี้',
      now: 'ปัจจุบัน',
      am: 'AM',
      pm: 'PM'
    },
  };
  $('#start_date').calendar(calendar_setting);
  $('#end_date').calendar(calendar_setting);

  $(document)
    .ready(function () {
      $('.ui.dropdown.validate.selection')
        .dropdown({
          allowAdditions: true,
          fullTextSearch: 'exact'
        });
    });
</script>
{% endblock %}