{% extends '/base/default-dashboard.html' %}
{% import 'base/html-renderer.html' as renderer %}
{% import '/base/pagination.html' as paginated%}

{% block title %}นำเข้าอุปกรณ์{% endblock %}
{% block dashboard_title %}นำเข้าอุปกรณ์{% endblock %}

{% block breadcrumbs %}
{% if request.endpoint == 'item_registers.index' %}

<a class="ui primary button" href="{{ url_for('item_registers.register', organization_id=organization.id) }}">
  เพิ่มบิลอุปกรณ์
</a>


{% else %}
<a class="section" href="{{ url_for('item_registers.index', organization_id=organization.id) }}">ลงทะเบียนอุปกรณ์</a>
{% endif %}

{% endblock %}

{% block content %}
<form method="post">
  <div class="ui secondary menu">
    <p style="margin-left:auto;">
      {{form.hidden_tag()}}
      {{renderer.render_calendar_default(form.start_date, calendar_id="start_date")}}
    </p>
    <p style="margin-left:10px;">
      {{renderer.render_calendar_default(form.end_date, calendar_id="end_date")}}
    </p>
    <p>
      <button type="submit" class="ui primary button"
        style="height:fit-content; margin-top:auto; margin-left:15px; ">ยืนยัน</button>
    </p>
  </div>
  {% if item_registers %}
  <div style="padding-bottom: 1em ;">
    <table class="ui celled table">
      <thead>
        <tr>
          <th>เลขกำกับใบเสร็จ</th>
          <th>คำอธิบาย</th>
          <th>ร้านค้า</th>
          <th>ชื่อผู้ใช้งาน</th>
          <th>วันลงทะเบียนอุปกรณ์</th>
          <th>นำเข้าอุปกรณ์</th>
          <th>รายการนำเข้าอุปกรณ์</th>
          <th>แก้ไข/ลบข้อมูลอุปกรณ์</th>
        </tr>
      </thead>
      <tbody>
        {% for item in paginated_item_registers.items %}
        <tr>
          <td data-label="Item Name">{{ item.receipt_id }}</td>
          <td data-label="Warehouse">{{ item.description }}</td>
          <td data-label="Quantity">{{ item.supplier.name }}</td>
          <td data-label="User">{{ item.user.first_name }} {{ item.user.last_name }}</td>
          <td data-label="Registeration Date">{{ item.created_date.strftime('%d/%m/%Y') }}</td>
          <td data-label="Checkin">
            <a class="ui primary button"
              href="{{ url_for('inventories.register', item_register_id=item.id, organization_id=organization.id) }}">
              <i class="file upload icon"></i> นำเข้าอุปกรณ์
            </a>
          </td>
          <td data-label="Checkin Items">
            <a class="ui primary button icon"
              href="{{ url_for('inventories.bill_item', item_register_id=item.id, organization_id=organization.id) }}"
              style=" color: white; background-color: rgb(59, 115, 199); ">
              <i class="eye icon"></i>
            </a>
          </td>
          <td>
            <a class="ui icon button"
              href="{{ url_for('item_registers.edit', item_register_id=item.id, organization_id=organization.id) }}"
              style=" color: white; background-color: rgb(59, 115, 199);">
              <i class="edit icon"></i>
            </a>
            <a class="ui icon button" style="color: white; background-color: rgb(192, 55, 55);"
              onclick="showDeleteModal('{{ item.id }}')">
              <i class="trash icon"></i>
            </a>
            <div class="ui modal {{item.id}}">
              <div class="header">
                ลบข้อมูลนำเข้าอุปกรณ์
              </div>
              <div class="content">
                <p>ต้องการลบข้อมูลนำเข้าอุปกรณ์ <b>{{ item.description }}</b><br />
                  เลขกำกับใบเสร็จ : <b>{{ item.receipt_id }}</b>
                </p>
              </div>
              <div class="actions">
                <button class="ui black deny button">
                  ยกเลิก
                </button>
                <a class="ui negative right labeled icon button"
                  href="{{ url_for('item_registers.delete', item_register_id=item.id, organization_id=organization.id) }}">
                  ยืนยัน
                  <i class="checkmark icon"></i>
                </a>
              </div>
            </div>
          </td>
        </tr>

        {% endfor %}
      </tbody>
    </table>
    {% if paginated_item_registers.pages != 1 %}
    <div class="ui grid">
      <div class="column row">
        <div class="center aligned column">
          {{paginated.render_pagination(paginated_item_registers,"item_registers.index")}}
        </div>
      </div>
    </div>
    {% endif %}
  </div>
  {% else %}
  <div class="ui info message">ไม่มีข้อมูลการทำรายการในขณะนี้</div>
  {% endif %}
</form>
{% endblock %}

{% block additional_js %}
<script type="text/javascript">

  function showDeleteModal(item_id) {
    item_id ? $('.ui.modal.' + item_id).modal('show') : $('.ui.modal').modal('hide')
      ;
  }
</script>
<script type="text/javascript">
  datetime_formatter = {
    date: "DD/MM/YYYY"
  };
  var calendar_setting = {
    type: 'date',
    monthFirst: false,
    formatter: datetime_formatter,
    today: false,
    ampm: false,
    text: {
      days: ['อา', 'จ', 'อ', 'พ', 'พฤ', 'ศ', 'ส'],
      months: ['มกราคม', 'กุมภาพันธ์', 'มีนาคม', 'เมษายน', 'พฤษภาคม', 'มิถุนายน', 'กรกฎาคม', 'สิงหาคม', 'กันยายน', 'ตุลาคม', 'พฤษจิกายน', 'ธันวาคม'],
      monthsShort: ['ม.ค.', 'ก.พ.', 'มี.ค.', 'เม.ย.', 'พ.ค.', 'มิ.ย.', 'ก.ค.', 'ส.ค.', 'ก.ย.', 'ต.ค.', 'พ.ย.', 'ธ.ค.'],
      today: 'วันนี้',
      now: 'ปัจจุบัน',
      am: 'AM',
      pm: 'PM'
    },
  };
  $('#start_date').calendar(calendar_setting);
  $('#end_date').calendar(calendar_setting);

  $(document)
    .ready(function () {
      $('.ui.dropdown.validate.selection')
        .dropdown({
          allowAdditions: true,
          fullTextSearch: 'exact'
        });
    });
</script>
{% endblock %}