{% extends '/vehicle_lending/base/default-motorcycle-page.html' %}
{% import '/base/components/forms.html' as render_form %}
{% import '/base/components/paginations/pagination.html' as paginated %}

{% block title %}
{{ "เพิ่มการขอใช้รถจักรยานยนต์" if "edit" not in request.path else "แก้ไขรายละเอียดการขอใช้รถจักรยานยนต์" }}
{% endblock %}

{% block dashboard_title %}
{{ "เพิ่มการขอใช้รถจักรยานยนต์" if "edit" not in request.path else "แก้ไขรายละเอียดการขอใช้รถจักรยานยนต์"}}
{% endblock %}

{% block breadcrumbs %}
{{ RenderBreadcrumb([
("การขอใช้รถจักรยานยนต์", url_for('vehicle_lending.motorcycle_applications.index', organization_id=organization.id) ),
( "เพิ่มการขอใช้รถจักรยานยนต์" if "edit" not in request.path else "แก้ไขรายละเอียดการขอใช้รถจักรยานยนต์", "")]) }}
{% endblock %}

{% block content %}
<div class="ui secondary" style="padding-bottom: 10px;">
  <div class="flex justify-end w-full gap-2">
    <a class="btn  btn-primary"
      href='{{ url_for("vehicle_lending.motorcycle_applications.index", organization_id=organization.id) }}'>
      <i class="ph ph-arrow-u-up-left"></i>
      ย้อนกลับ
    </a>
  </div>
</div>
<form method="post" class="segment mt-4 border border-base-300 bg-base-100 rounded-2xl p-6 shadow-sm">
  <div class="flex flex-row justify-between w-full gap-2">
    {{form.csrf_token }}
    {{renderer.render_field(form.request_reason)}}
  </div>
  <div class="flex flex-row justify-between w-full gap-2">
    {{renderer.render_field(form.location)}}
  </div>
  <div class="flex flex-row justify-between w-full gap-2">
    {{ renderer.render_select_field(form.motorcycle, clearable=false) }}
  </div>

  <div class="flex flex-row justify-between w-full gap-2">
    {{renderer.date_field(form.departure_date) }}
    {{renderer.time_field(form.departure_time) }}
  </div>

  <div class="flex flex-row w-full justify-between">
    <div class="flex justify-start w-full gap-2">
      <button type="submit" class="btn btn-primary">ยืนยัน</button>
    </div>
  </div>
</form>
{% endblock %}