{% extends '/base/template-page-login.html' %}
{% import '/base/html-renderer.html' as renderer %}
{% import '/base/components/paginations/pagination.html' as paginated %}

{% block title %}พัสดุอนุมัติคำสั่งเบิก{% endblock %}
{% block dashboard_title %}พัสดุอนุมัติคำสั่งเบิก{% endblock %}

{% block breadcrumbs %}

{% endblock %}

{% block content %}
<form method="post">
  <div class="flex flex-row w-full justify-between">
    <p style="margin-left:auto;">
      {{form.hidden_tag()}}
      {{renderer.datetime_field(form.start_date, calendar_id="start_date")}}
    </p>
    <p style="margin-left:10px;">
      {{renderer.datetime_field(form.end_date, calendar_id="end_date")}}
    </p>
    <p>
      <button type="submit" class="btn btn-primary"
        style="height:fit-content; margin-top:auto; margin-left:15px; ">ค้นหา</button>
    </p>
  </div>
  <div>
    {% if orders %}
    <table class="table-auto w-full">
      <thead>
        <tr>
          <th class="table-style">วันที่สั่งเบิกวัสดุ</th>
          <th class="table-style">คำอธิบาย</th>
          <th class="table-style">ชื่อผู้ใช้งาน</th>
          <th class="table-style">สถานะ</th>
          <th class="table-style">การอนุมัติ</th>
        </tr>
      </thead>
      <tbody>
        {% for order in paginated_orders.items %}
        <tr>
          <td class="table-style" data-label="Created Date">{{ order.created_date.strftime('%d/%m/%Y %H:%M:%S') }}</td>
          <td class="table-style" data-label="Description">{{ order.description }}</td>
          <td class="table-style" data-label="User">{{ order.created_by.get_name() }}</td>
          {{ order.get_status()|safe }}
          <td class="table-style" data-label="Status">
            <a class="positive ui button"
              href="{{ url_for('approve_orders.admin_approved_detail', order_id=order.id, organization_id=organization.id)}}">
              ตรวจสอบวัสดุ
            </a>
          </td>
        </tr>

        {% endfor %}
      </tbody>
    </table>
    {% if paginated_orders.pages != 1 %}

    {{ paginated.render_pagination(paginated_orders,"approve_orders.index")}}

    {% endif %}
    {% else %}
    <div class="ui message">ไม่มีข้อมูลการทำรายการในขณะนี้</div>
    {% endif %}
  </div>
</form>
{% endblock %}


{% block additional_js %}
<script type="text/javascript">
  datetime_formatter = {
    date: "DD/MM/YYYY"
  };
  var calendar_setting = {
    type: 'date',
    monthFirst: false,
    formatter: datetime_formatter,
    today: false,
    ampm: false,
    text: {
      days: ['อา', 'จ', 'อ', 'พ', 'พฤ', 'ศ', 'ส'],
      months: ['มกราคม', 'กุมภาพันธ์', 'มีนาคม', 'เมษายน', 'พฤษภาคม', 'มิถุนายน', 'กรกฎาคม', 'สิงหาคม', 'กันยายน', 'ตุลาคม', 'พฤษจิกายน', 'ธันวาคม'],
      monthsShort: ['ม.ค.', 'ก.พ.', 'มี.ค.', 'เม.ย.', 'พ.ค.', 'มิ.ย.', 'ก.ค.', 'ส.ค.', 'ก.ย.', 'ต.ค.', 'พ.ย.', 'ธ.ค.'],
      today: 'วันนี้',
      now: 'ปัจจุบัน',
      am: 'AM',
      pm: 'PM'
    },
  };
  $('#start_date').calendar(calendar_setting);
  $('#end_date').calendar(calendar_setting);

  $(document)
    .ready(function () {
      $('.ui.dropdown.validate.selection')
        .dropdown({
          allowAdditions: true,
          fullTextSearch: 'exact'
        });
    });
</script>
{% endblock %}