{% extends '/base/template-page-login.html' %}
{% import '/base/html-renderer.html' as renderer %}
{% import '/base/components/paginations/pagination.html' as paginated %}


{% block title %}คำสั่งเบิกวัสดุ{% endblock %}
{% block dashboard_title %}คำสั่งเบิกวัสดุ{% endblock %}

{% block breadcrumbs %}

{% endblock %}

{% block content %}
<div class="flex flex-row w-full justify-end">
  <a class="btn btn-primary" href="{{ url_for('item_orders.order', organization_id=organization.id) }}">
    <i class="plus icon"></i>
    เพิ่มคำสั่งเบิก
  </a>
</div>


<form method="post" style="padding-bottom: 0.5rem;">
  <div class="segment mt-4 border border-base-300 bg-base-100 rounded-2xl p-6 shadow-sm">

    <div class="flex flex-wrap flex-col w-full">
      <div class="lg:flex gap-4 flex w-full">
        {{form.hidden_tag()}}
        {{renderer.date_range_field(form.start_date, form.end_date)}}
        {{renderer.render_select_field(form.item)}}
      </div>
    </div>
    <div class="gap-2 flex w-full flex-wrap justify-between items-center my-auto mt-2">
      <div class="relative inline-block">
        <button id="color-legend-btn" class="bg-gray-200 text-gray-800 px-4 py-2 rounded hover:bg-gray-300 transition">
          แสดงความหมายของสี
        </button>

        <div id="color-legend-tooltip"
          class="absolute z-10 p-4 w-80 text-sm text-left bg-white border rounded shadow-xl mt-2 hidden"
          style="font-size: 16px;">
          <div><span class="text-red-500 font-semibold">● สีแดง:</span> ปฎิเสธ</div>
          <div><span class="text-green-500 font-semibold">● สีเขียว:</span> อนุมัติรอรับวัสดุ</div>
          <div><span class="text-blue-500 font-semibold">● สีน้ำเงิน:</span> รอการจัดการจากเจ้าหน้าที่พัสดุ</div>
          <div><span class="text-orange-500 font-semibold">● สีส้ม:</span> รอการอนุมัติจากหัวหน้าเจ้าหน้าที่พัสดุ</div>
          <div><span class="text-yellow-500 font-semibold">● สีเหลือง:</span> รอการอนุมัติจากหัวหน้าฝ่าย</div>
          <div><span class="text-pink-500 font-semibold">● สีชมพู:</span> รอการยืนยันการเบิก</div>
        </div>
      </div>

      <script>
        const button = document.getElementById('color-legend-btn');
        const tooltip = document.getElementById('color-legend-tooltip');

        const showTooltip = () => tooltip.classList.remove('hidden');
        const hideTooltip = () => tooltip.classList.add('hidden');

        button.addEventListener('mouseenter', showTooltip);
        button.addEventListener('mouseleave', hideTooltip);
        tooltip.addEventListener('mouseenter', showTooltip);
        tooltip.addEventListener('mouseleave', hideTooltip);
      </script>

      <button class="btn btn-primary" type="submit">
        ค้นหา
        <i class="ph ph-size ph-magnifying-glass"></i>
      </button>
    </div>
  </div>

  {% if orders %}
  <div class="segment mt-4 border border-base-300 bg-base-100 rounded-2xl p-6 shadow-sm">
    <div class="overflow-x-auto mt-10 rounded-xl">
      <table class="table-auto w-full">
        <thead>
          <tr>
            {% if current_user.has_organization_roles("admin") %}
            <th class="table-style">เลขลำดับ</th>
            {% endif %}
            <th class="table-style">วันที่สั่งเบิกวัสดุ</th>
            <th class="table-style">วัตถุประสงค์</th>
            <th class="table-style">ชื่อผู้ใช้งาน</th>
            <th class="table-style">ขออนุมัติจาก</th>
            <th class="table-style">รายการวัสดุ</th>
            <th class="table-style">สถานะ</th>
            <th class="table-style">เหตุผล</th>
            <th class="table-style">นัดรับ ณ วันที่</th>
            <th class="table-style">จัดการ</th>

          </tr>
        </thead>
        <tbody>
          {% for order in paginated_orders.items %}
          <tr>
            {% if current_user.has_organization_roles("admin") %}
            <td class="table-style text-center" data-label="Index">{{ order.ordinal_number }}</td>
            {% endif %}

            <td class="table-style" data-label="Created Date">{{ order.created_date.strftime('%d/%m/%Y %H:%M:%S') }}
            </td>
            <td class="table-style" data-label="Description">{{ order.description }}</td>
            <td class="table-style" data-label="User">{{ order.created_by.get_name() }}</td>
            <td class="table-style" data-label="User">
              {{ order.head_endorser.get_name() if order.head_endorser else "" }}
            </td>


            <td class="table-style" data-label="Bill">
              <a class="ui icon primary button"
                href="{{ url_for('item_checkouts.bill_checkout', order_id=order.id, organization_id=organization.id) }}">
                <i class="eye icon"></i>
              </a>
            </td>
            {{ order.get_status()|safe }}

            <td class="table-style">
              {{ order.remark }}
            </td>
            <td class="table-style">
              {{ order.sent_item_date.strftime("%d/%m/%Y %H:%M")
            if order.sent_item_date else "" }}
            </td>
            <td class="table-style">
              {% if order.status == 'pending' %}
              <a class="ui icon primary button {{ 'disabled' if order.approval_status == 'approved' else ''}}"
                data-tooltip="เบิกวัสดุ"
                href="{{ url_for('item_checkouts.catalogs', order_id=order.id, organization_id=organization.id) }}">
                <i class="plus icon"></i>
              </a>
              {% endif %}
              {% if order.status == 'pending' %}
              <a class="ui icon button primary" data-tooltip="แก้ไข"
                href="{{ url_for('item_orders.edit', order_id=order.id, organization_id=organization.id) }}">
                <i class="edit icon"></i>
              </a>
              {% endif %}

              <a class="ui icon button red {{ 'disabled' if order.approval_status == 'approved' else ''}}"
                data-tooltip="ลบ" onclick="showDeleteModal('{{ order.id }}')">
                <i class="trash icon"></i>
              </a>
              <div class="ui modal {{order.id}}">
                <div class="header">
                  ลบคำสั่งเบิกวัสดุ
                </div>
                <div class="content">
                  <p>ต้องการลบคำสั่งเบิกวัสดุ
                    <b>{{ order.description }}</b>
                  </p>
                </div>
                <div class="actions">
                  <button class="ui black deny button">
                    ยกเลิก
                  </button>
                  <a class="ui negative right labeled icon button"
                    href="{{ url_for('item_orders.delete', order_id=order.id, organization_id=organization.id) }}">
                    ยืนยัน
                    <i class="checkmark icon"></i>
                  </a>
                </div>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% if paginated_orders.pages != 1 %}
      {{ paginated.render_pagination(paginated_orders,"item_orders.index")}}
      {% endif %}
    </div>
  </div>
  {% else %}
  <div class="ui message">ไม่มีข้อมูลการทำรายการในขณะนี้</div>
  {% endif %}
</form>
{% endblock %}

{% block additional_js %}
{% endblock %}