{% extends '/vehicle_lending/base/default-motorcycle-page.html' %}
{% import '/base/components/forms.html' as render_form %}
{% import '/base/components/paginations/pagination.html' as paginated %}

{% block title %}รถจักรยานยนต์{% endblock %}

{% block dashboard_title %}รถจักรยานยนต์{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block content %}
<div class="flex flex-row w-full justify-between">
  <div class="flex justify-end w-full gap-2">
    <a class="btn btn-primary"
      href="{{ url_for('vehicle_lending.motorcycles.create_or_edit', organization_id=organization.id) }}">
      <i class="ph ph-plus"></i>
      เพิ่มรถจักรยานยนต์
    </a>
  </div>
</div>
<div class="mt-4 border border-base-300 bg-base-100 rounded-2xl p-6 shadow">
  {% for motorcycle in motorcycles %}
  <div class="flex flex-col md:flex-row items-center gap-4 mb-6">
    <div class="w-32 h-32 flex-shrink-0">
      {% if not motorcycle.image %}
      <img class="w-full h-full object-cover rounded" src="{{ url_for('static', filename='/images/image.png') }}">
      {% else %}
      <img class="w-full h-full object-cover rounded"
        src="{{ url_for('vehicle_lending.motorcycles.image', motorcycle_id=motorcycle.id, filename=motorcycle.image.filename, organization_id=organization.id) }}"
        alt="{{ motorcycle.license_plate }}">
      {% endif %}
    </div>
    <div class="flex flex-col flex-grow">
      <a class="text-2xl font-bold">{{ motorcycle.license_plate }}</a>
      <p class="text-gray-600">{{ motorcycle.description }}</p>
      <div class="flex justify-end gap-2 mt-4">
        <button class="btn btn-error" onclick="showDeleteModal('{{ motorcycle.id }}')">
          <i class="ph ph-trash"></i> ลบ
        </button>
        <a class="btn btn-primary"
          href="{{ url_for('vehicle_lending.motorcycles.create_or_edit', organization_id=organization.id, motorcycle_id=motorcycle.id) }}">
          <i class="ph ph-pen"></i> แก้ไข
        </a>
      </div>
    </div>
  </div>
  {{ ModalNegative(
    id=motorcycle.id,
    header="ลบข้อมูลรถจักรยานยนต์",
    body="ต้องการลบข้อมูลรถจักรยานยนต์ <b> %s </b>" | format(motorcycle.description),
    cancel="ยกเลิก",
    submit="ยืนยัน",
    redirect=url_for('vehicle_lending.motorcycles.delete', motorcycle_id=motorcycle.id, organization_id=organization.id),
    ) }}

  {% endfor %}

  {% if not motorcycles %}
  <div class="flex w-full justify-center py-6 text-xl text-gray-500">ไม่พบข้อมูลในขณะนี้</div>
  {% endif %}
</div>

{% endblock %}

{% block additional_js %}
<script type="text/javascript">

  function showDeleteModal(item_id) {
    item_id ? $('.ui.modal.' + item_id).modal('show') : $('.ui.modal').modal('hide')
      ;
  }
</script>
{% endblock %}