{% extends '/vehicle_lending/base/default-motorcycle-page.html' %}
{% import '/base/components/forms.html' as render_form %}
{% import '/base/pagination.html' as paginated %}

{% block title %}รถจักรยานยนต์{% endblock %}

{% block dashboard_title %}รถจักรยานยนต์{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block content %}
<div class="ui secondary menu">
  <div class="right menu">
    <a class="ui primary labeled icon button"
      href="{{ url_for('vehicle_lending.motorcycles.create_or_edit', organization_id=organization.id) }}">
      <i class="plus icon"></i>
      เพิ่มรถจักรยานยนต์
    </a>
  </div>
</div>


<div class="ui divided items">
  {% for motorcycle in motorcycles %}
  <div class="item">
    <div class="image">
      {% if not motorcycle.image %}
      <img src="{{ url_for('static', filename='/images/image.png') }}">
      {% else %}
      <img
        src="{{ url_for('vehicle_lending.motorcycles.image', motorcycle_id=motorcycle.id, filename=motorcycle.image.filename, organization_id=organization.id) }}"
        alt="{{ motorcycle.license_plate }}">
      {% endif %}
    </div>
    <div class="content">
      <a class="header"> {{ motorcycle.license_plate }}</a>
      <div class="meta">

      </div>
      <div class="description">
        <span class="cinema">{{ motorcycle.description }}</span>
      </div>

      <div class="extra">

        <a class="ui right floated red button labeled icon" onclick="showDeleteModal('{{ motorcycle.id }}')">
          ลบ
          <i class="trash icon"></i>
        </a>

        <a class="ui right floated primary button labeled icon"
          href="{{ url_for('vehicle_lending.motorcycles.create_or_edit', organization_id=organization.id, motorcycle_id=motorcycle.id) }}">
          แก้ไข
          <i class="edit icon"></i>
        </a>
        <div class="ui modal {{motorcycle.id}}">
          <div class="header">
            ลบข้อมูลรถจักรยานยนต์
          </div>
          <div class="content">
            <p>ต้องการลบข้อมูลรถจักรยานยนต์
              <b>{{ motorcycle.description }}</b>
            </p>
          </div>
          <div class="actions">
            <button class="ui black deny button">
              ยกเลิก
            </button>
            <a class="ui negative right labeled icon button"
              href="{{ url_for('vehicle_lending.motorcycles.delete', motorcycle_id=motorcycle.id) }}">
              ยืนยัน
              <i class="checkmark icon"></i>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>

  {% endfor %}
  {% if not motorcycles %}
  <div class="ui message"> ไม่พบข้อมูลในขณะนี้</div>
  {% endif %}
</div>

{% endblock %}

{% block additional_js %}
<script type="text/javascript">

  function showDeleteModal(item_id) {
    item_id ? $('.ui.modal.' + item_id).modal('show') : $('.ui.modal').modal('hide')
      ;
  }
</script>
{% endblock %}