{% extends '/base/default-dashboard.html' %}
{% import '/base/pagination.html' as paginated %}

{% block title %}ตำแหน่งอุปกรณ์{% endblock %}
{% block dashboard_title %}ตำแหน่งอุปกรณ์{% endblock %}

{% block breadcrumbs %}
{% if request.endpoint == 'item_positions.index' %}
<a class="ui primary button" href="{{ url_for('item_positions.add_or_edit') }}">
  เพิ่มตำแหน่งอุปกรณ์
</a>
{% else %}
<a class="section" href="{{ url_for('item_positions.index') }}">ตำแหน่งอุปกรณ์</a>
<div class="divider"> / </div>
{% endif %}
{% endblock %}

{% block content %}
{% if paginated_item_positions %}
<div style="padding-bottom: 2em;">
  <table class="table table-hover ">
    <thead>
      <tr>
        <th class="table-header">คลังอุปกรณ์</th>
        <th class="table-header">คำอธิบาย</th>
        <th class="table-header">ชั้นวาง</th>
        <th class="table-header">แถว</th>
        <th class="table-header">ตู้เก็บของ</th>
        <th class="table-header">เครื่องมือ</th>
      </tr>
    </thead>
    <tbody>
      {% for item_position in paginated_item_positions.items %}
      <tr>
        <td data-label="Warehouse">{{ item_position.warehouse.name }}</td>
        <td data-label="Description">{{ item_position.description }}</td>
        <td data-label="Rack">{{ item_position.rack }}</td>
        <td data-label="Row">{{ item_position.row }}</td>
        <td data-label="Locker">{{ item_position.locker }}</td>
        <td data-label="Actions">
          <a class="ui primary icon button"
            href="{{ url_for('item_positions.edit', item_position_id=item_position.id) }}">
            <i class="edit icon"></i> แก้ไข
          </a>
          <a class="ui red icon button" onclick="showDeleteModal('{{ item_position.id }}')">
            <i class="trash icon"></i> ลบ
          </a>
          <div class="ui modal {{item_position.id}}">
            <div class="header">
              ลบตำแหน่งอุปกรณ์
            </div>
            <div class="content">
              <p>ต้องการลบตำแหน่งอุปกรณ์
                <b>{{ item_position.warehouse.name }}</b><br />
                <b>{{ item_position.description }}</b>
              </p>
            </div>
            <div class="actions">
              <button class="ui black deny button">
                ยกเลิก
              </button>
              <a class="ui negative right labeled icon button"
                href="{{ url_for('item_positions.delete', item_position_id=item_position.id) }}">
                ยืนยัน
                <i class="checkmark icon"></i>
              </a>
            </div>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if paginated_item_positions.pages != 1 %}
  <div class="ui grid">
    <div class="column row">
      <div class="center aligned column">
        {{paginated.render_pagination(paginated_item_positions,"item_positions.index")}}
      </div>
    </div>
  </div>
  {% endif %}
</div>
{% else %}
<div class="ui info message">ไม่มีข้อมูลการทำรายการในขณะนี้</div>
{% endif %}
<style>
  table.table.table-hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }

  table.table.table-hover th,
  table.table.table-hover td {
    text-align: center;
  }

  table.table.table-hover td {
    vertical-align: middle;
  }

  .table-header {
    background-color: #363636;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
</style>
{#
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> #}

{% endblock %}

{% block additional_js %}
<script type="text/javascript">

  function showDeleteModal(item_position_id) {
    item_position_id ? $('.ui.modal.' + item_position_id).modal('show') : $('.ui.modal').modal('hide')
      ;
  }
</script>
{% endblock %}