{% extends '/base/template-page-login.html' %}
{% import '/base/components/paginations/pagination.html' as paginated %}

{% block title %}ตำแหน่งวัสดุ{% endblock %}
{% block dashboard_title %}ตำแหน่งวัสดุ{% endblock %}

{% block breadcrumbs %}
{% if request.endpoint == 'item_positions.index' %}
<a class="btn btn-primary" href="{{ url_for('item_positions.add_or_edit', organization_id=organization.id) }}">
  เพิ่มตำแหน่งวัสดุ
</a>
{% else %}
<a class="section" href="{{ url_for('item_positions.index', organization_id=organization.id) }}">ตำแหน่งวัสดุ</a>
<div class="divider"> / </div>
{% endif %}
{% endblock %}

{% block content %}
{% if item_positions %}
<div class="segment mt-4 border border-base-300 bg-base-100 rounded-2xl p-6 shadow-sm">
  <table class="table-auto w-full table-hover ">
    <thead>
      <tr>
        <th class="table-style">คลังวัสดุ</th>
        <th class="table-style">คำอธิบาย</th>
        <th class="table-style">ชั้นวาง</th>
        <th class="table-style">แถว</th>
        <th class="table-style">ตู้เก็บของ</th>
        <th class="table-style">เครื่องมือ</th>
      </tr>
    </thead>
    <tbody>
      {% for item_position in paginated_item_positions.items %}
      <tr>
        <td class="table-style" data-label="Warehouse">{{ item_position.warehouse.name }}</td>
        <td class="table-style" data-label="Description">{{ item_position.description }}</td>
        <td class="table-style" data-label="Rack">{{ item_position.rack }}</td>
        <td class="table-style" data-label="Row">{{ item_position.row }}</td>
        <td class="table-style" data-label="Locker">{{ item_position.locker }}</td>
        <td class="table-style" data-label="modal-action">
          <a class="btn btn-primary btn-circle"
            href="{{ url_for('item_positions.edit', item_position_id=item_position.id, organization_id=organization.id) }}">
            <i class="ph ph-pen"></i> แก้ไข
          </a>
          <a class="btn btn-error btn-circle" onclick="showDeleteModal('{{ item_position.id }}')">
            <i class="ph ph-trash"></i> ลบ
          </a>
          <div role="dialog" class="modal {{item_position.id}}">
            <div class="text-2xl font-bold">
              ลบตำแหน่งวัสดุ
            </div>
            <div class=" modal-box">
              <p>ต้องการลบตำแหน่งวัสดุ
                <b>{{ item_position.warehouse.name }}</b><br />
                <b>{{ item_position.description }}</b>
              </p>
            </div>
            <div class="modal-action">
              <button class="btn">
                ยกเลิก
              </button>
              <a class="btn-error btn"
                href="{{ url_for('item_positions.delete', item_position_id=item_position.id, organization_id=organization.id) }}">
                ยืนยัน
                <i class="ph ph-check"></i>
              </a>
            </div>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if paginated_item_positions.pages != 1 %}

  {{ paginated.render_pagination(paginated_item_positions,"item_positions.index", request.args)}}

  {% endif %}
</div>
{% else %}
<div class="flex w-full justify-center py-6 text-xl">ไม่มีข้อมูลการทำรายการในขณะนี้</div>
{% endif %}
<style>
  table.table.table-hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }

  table.table.table-hover th,
  table.table.table-hover td {
    text-align: center;
  }

  table.table.table-hover td {
    vertical-align: middle;
  }

  .table-style {
    background-color: #363636;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
</style>
{#
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> #}

{% endblock %}

{% block additional_js %}
<script type="text/javascript">

  function showDeleteModal(item_position_id) {
    item_position_id ? $('.ui.modal.' + item_position_id).modal('show') : $('.ui.modal').modal('hide')
      ;
  }
</script>
{% endblock %}