{% extends '/base/template-page-login.html' %}
{% import '/base/html-renderer.html' as renderer %}

{% block title %}
หัวหน้าฝ่ายอนุมัติคำสั่งเบิก
{% endblock %}

{% block dashboard_title %}
หัวหน้าฝ่ายอนุมัติคำสั่งเบิก
{% endblock %}

{% block breadcrumbs %}
{{ RenderBreadcrumb([
("คำสั่งเบิกวัสดุ", url_for('approve_orders.endorser_index', organization_id=organization.id) ),
('อนุมัติคำสั่งเบิกวัสดุ', "")]) }}
{% endblock %}



{% block content %}
<div class="navbarmenu">
  <div class="left menu">
    <a class="ui labeled icon button"
      href="{{url_for('approve_orders.endorser_index', organization_id=organization.id) }}">
      <i class="left arrow icon"></i>
      ย้อนกลับ
    </a>
  </div>
  {% if order.status=="confirmed" and checkouts %}
  <div class="right menu">
    <a class="ui positive button" onclick="showModal('approve')"
      style="height:fit-content; margin-top:auto; margin-left:15px; ">
      <i class="check icon"></i>อนุมัติการเบิกวัสดุ</a>
    <a class="ui negative button" onclick="showModal('denied')"
      style="height:fit-content; margin-top:auto; margin-left:15px; ">
      <i class="times icon"></i>ไม่อนุมัติการเบิกวัสดุ</a>
  </div>
  {% endif %}
</div>
{% if checkouts %}

{% if order.status=="confirmed" %}
<form action="{{ url_for('approve_orders.endorser_denied',order_id=order.id, organization_id=organization.id)}}"
  class="ui modal denied">

  <div class="header">
    <span class="ui text red">
      ปฏิเสธคำสั่งเบิกวัสดุ
    </span>
  </div>
  <div class="content">
    <p>ต้องการปฏิเสธคำสั่งเบิกวัสดุ
      <b>{{ order.description }}</b>
    </p>
    <div class="ui form">
      <div class="field">
        <label for="reason">เหตุผล</label>
        <input type="text" id="reason" name="reason">
        <input type="text" name="organization_id" id="organization_id" value="{{ organization.id|safe }}"
          style="display: none;">
      </div>
    </div>

  </div>
  <div class="actions">
    <button class="ui black deny button" type="button">
      ยกเลิก
    </button>
    <button class="ui negative right labeled icon button" type="submit">
      ยืนยัน
      <i class="checkmark icon"></i>
    </button>
  </div>
</form>

<div class="ui modal approve">
  <div class="header">
    <span class="ui text green">
      อนุมัติการเบิกวัสดุ
    </span>
  </div>
  <div class="content">
    <p>ต้องการอนุมัติการเบิกวัสดุ
      <b>{{ order.description }}</b>
    </p>
  </div>
  <div class="actions">
    <button class="ui black deny button">
      ยกเลิก
    </button>
    <a class="ui positive right labeled icon button"
      href="{{ url_for('approve_orders.endorser_approve',order_id=order.id, organization_id=organization.id)}}">
      ยืนยัน
      <i class="checkmark icon"></i>
    </a>
  </div>
</div>
{% endif %}

<div class="segment mt-4 border border-base-300 bg-base-100 rounded-2xl p-6 shadow-sm">
  <div class="overflow-x-auto mt-10 rounded-xl">
    <table class="table-auto w-full">
      <thead>
        <tr>
          <th class="table-style">รูปวัสดุ</th>
          <th class="table-style">วันที่นำวัสดุออก</th>
          <th class="table-style">ชื่อวัสดุ</th>
          {#}<th class="table-style">จำนวนหน่วยใหญ่</th>{#}
          <th class="table-style">จำนวนหน่วยเล็ก</th>
          <th class="table-style">ราคาแต่ละหน่วยเล็ก</th>
          <th class="table-style">รวม</th>
          <th class="table-style">จำนวนที่มีในคลัง</th>
        </tr>
      </thead>
      <tbody>
        {% for checkout in paginated_checkouts.items %}
        <tr>
          <td class="table-style" data-label="Image" class="center aligned">
            <div>
              {% if not checkout.item.image %}
              <img src=" {{ url_for('static', filename='/images/image.png' ) }}" width="70">
              {% else %}
              <img
                src="{{ url_for('items.image', item_id=checkout.item.id, filename=checkout.item.image.filename, organization_id=organization.id) }}"
                width="70">
              {% endif %}
            </div>
          </td>
          <td class="table-style" data-label="Checkout Date">{{ checkout.created_date.strftime('%d/%m/%Y %H:%M:%S') }}
          </td>
          <td class="table-style" data-label="Item">{{ checkout.item.name }}</td>
          {#} <td class="table-style" data-label="Set">{{ checkout.set_ }}</td> {#}
          <td class="table-style" data-label="Piece">{{ checkout.piece }}</td>
          <td class="table-style" data-label="Price Per Piece">{{ checkout.item.get_last_price_per_piece() }}</td>
          <td class="table-style" data-label="Quantity">{{ checkout.quantity }}</td>
          {% if checkout.quantity > checkout.item.get_amount_pieces() %}
          <td class="table-style" data-label="Status" class="text-error">
            <span class="ui red text"> {{ checkout.item.get_items_quantity() }}</span>
          </td>
          {% else %}
          <td class="table-style" data-label="Status" class="text-success">
            <span class="ui green text"> {{ checkout.item.get_items_quantity() }}</span>
          </td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% set params=dict(request.args) %}
    {% if 'page' in params %}
    {% set _dummy=params.pop('page') %}
    {% endif %}
    {% if paginated_checkouts.pages != 1 %}
    <div class="ui grid">
      <div class="column row">
        <div class="center aligned column">
          {{ paginated.render_pagination(paginated_checkouts,"approve_orders.item_checkouts", params)}}
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% else %}
<div class="ui message">ไม่มีข้อมูลการทำรายการในขณะนี้</div>
{% endif %}

{% endblock %}

{% block additional_js %}
<script type="text/javascript">

  function showModal(status) {
    status ? $('.ui.modal.' + status).modal('show') : $('.ui.modal').modal('hide')
      ;
  }
</script>
{% endblock %}