  <div class="ui container">
    <div class="ui grid">
      <div class="four wide column">
        <h5 class="ui header">Vidya Check-in System</h5>
        <img width="20%" src="{{ url_for('static', filename='images/r202.png') }}">
        <p>Develop by R202 research lab, 3 days miracle</p>
      </div>
      <div class="five wide column">
        <h5 class="ui header">Department of Computer Engineering</h5>
        <p>
        Faculty of Engineering<br/>
        Prince of Songkla University<br/>
        Hat Yai, Thailand
        </p>
      </div>
      <div class="seven wide column">
        <h5 class="ui header">Connect</h5>
        <div class="ui link list">
          <a href="http://coe.psu.ac.th">CoE, Eng, PSU</a>
        </div>
      </div>
    </div>
  </div>
