{% extends "/base/base.html" %}

{% block body %}
<header>
  {% block header %}
  {% include "/base/navbar.html" %}

  {% if request.path == '/' %}
  {% include "/base/banner.html" %}
  {% else %}
  <div class="pt-12"></div>
  {% endif %}
  {% endblock %}
</header>

<main>
  <div class="min-h-[20vh] px-4 mx-auto max-w-7xl">
    {% block content %}{% endblock content %}
  </div>
</main>

<footer class="mt-12 pt-8 border-t">
  {% include "/base/footer.html" %}
</footer>
{% endblock %}