<div class="item">
  {%- if current_user.get_image() %}
  <a href="{{ url_for('accounts.index') }}" class="ui image">
    <img class="ui avatar image" src="{{ current_user.get_image() }}">
  </a>
  {% endif -%}
  <a href="{{ url_for('accounts.index') }}"><span class="white-text name">{{ current_user.first_name }} {{
      current_user.last_name }}</span></a><br />
  <a href="{{ url_for('accounts.index') }}"><span class="white-text email">{{ current_user.email }}</span></a>
</div>


<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar"
  style="padding-left: 10px;">
  {% if organization %}
  {% if current_user.has_organization_roles("admin", "supervisor supplier") %}

  <!-- Heading -->
  <div class="sidebar-heading" style="color: grey;">
    แดชบอร์ด
  </div>

  <a class="item" href="{{ url_for('dashboard.all_report', organization_id = organization.id) }}"><i
      class="icon dashboard"></i>แดชบอร์ด</a>
  <a class="item" href="{{ url_for('notifications.index', organization_id = organization.id) }}">การแจ้งเตือน<i
      class="bell icon"></i></a>
  {% endif %}

  {% if current_user.has_organization_roles("admin", "supervisor supplier") %}
  <!-- Heading -->
  <div class="sidebar-heading" style="color: grey;">
    การจัดการ
  </div>

  <a class="item" href="{{ url_for('items.index', organization_id = organization.id) }}">วัสดุทั้งหมด<i
      class="archive icon"></i></a>
  <a class="item" href="{{ url_for('categories.index', organization_id = organization.id) }}">หมวดหมู่<i
      class="tags icon"></i></a>
  <a class="item" href="{{ url_for('suppliers.index', organization_id = organization.id) }}">ร้านค้า<i
      class="cart arrow down icon"></i></a>
  <a class="item" href="{{ url_for('warehouses.index', organization_id = organization.id) }}">คลังวัสดุ<i
      class="store alternate icon"></i></a>
  <a class="item" href="{{ url_for('item_positions.index', organization_id = organization.id) }}">ตำแหน่งวัสดุ<i
      class="map marker alternate icon"></i></a>

  {% endif %}


  <!-- Heading -->
  <div class="sidebar-heading" style="color: grey;">
    การนำเข้าวัสดุ
  </div>

  {% if current_user.has_organization_roles("admin", "supervisor supplier") %}
  <a class="item" href="{{ url_for('item_registers.index', organization_id = organization.id) }}">นำเข้าวัสดุ<i
      class="arrow alternate circle down icon"></i></a>
  <a class="item" href="{{ url_for('inventories.index', organization_id = organization.id) }}">รายการนำเข้าวัสดุ<i
      class="list alternate icon"></i></a>
  {% endif %}

  <!-- Heading -->
  <div class="sidebar-heading" style="color: grey;">
    การส่งอีเมล
  </div>
  <a class="item" href="{{ url_for('email_templates.index', organization_id = organization.id) }}">รูปแบบอีเมล<i
      class="envelope icon"></i></a>

  {% if (current_user.has_organization_roles("admin", "supervisor supplier", "endorser", "head", "staff") and
  current_user.get_current_division()) or current_user.has_roles(['admin']) %}
  <!-- Heading -->
  <div class="sidebar-heading" style="color: grey;">
    การนำวัสดุออก
  </div>


  <a class="item" href="{{ url_for('item_orders.index', organization_id = organization.id) }}">คำสั่งเบิกวัสดุ<i
      class="arrow alternate circle up icon"></i></a>
  <a class="item" href="{{ url_for('item_checkouts.index', organization_id = organization.id) }}">รายการนำวัสดุออก<i
      class="file invoice icon"></i></a>
  {% endif %}

  {% if current_user.has_organization_roles("admin", "endorser", "head", "supervisor supplier") %}
  <!-- Heading -->
  <div class="sidebar-heading" style="color: grey;">
    การอนุมัติ
  </div>
  {% if current_user.has_organization_roles("endorser", "head") %}
  <a class="item"
    href="{{ url_for('approve_orders.endorser_index', organization_id = organization.id )}}">หัวหน้าอนุมัติคำสั่งเบิก</a>
  {% endif %}
  {% if current_user.has_organization_roles("supervisor supplier") %}
  <a class="item"
    href="{{ url_for('approve_orders.supervisor_supplier_index', organization_id = organization.id )}}">หัวหน้าเจ้าหน้าที่พัสดุ<br>อนุมัติคำสั่งเบิก
  </a>
  {% endif %}
  {% if current_user.has_organization_roles("admin") %}
  <a class="item"
    href="{{ url_for('approve_orders.admin_index', organization_id = organization.id )}}">พัสดุอนุมัติคำสั่งเบิก</a>
  {% endif %}
  {% endif %}

  {% if current_user.has_organization_roles("supervisor supplier", "admin") %}
  <!-- Heading -->
  <div class="sidebar-heading" style="color: grey;">
    แจ้งวัสดุเสียหาย
  </div>
  <a class="item" href="{{ url_for('lost_breaks.index', organization_id = organization.id)}}">วัสดุชำรุด/สูญหาย<i
      class="exclamation circle icon"></i></a>
  {% endif %}

  {% if current_user.has_organization_roles("admin") and organization %}
  <!-- Heading -->
  <div class="sidebar-heading" style="color: grey;">
    จัดการแผนก
  </div>
  <a class="item" href="{{ url_for('divisions.index', organization_id = organization.id)}}">แผนกทั้งหมด<i
      class="sitemap icon"></i></a>

  <!-- Heading -->
  <div class="sidebar-heading" style="color: grey;">
    จัดการองค์กร
  </div>
  <a class="item" href="{{ url_for('organizations.detail', organization_id = organization.id)}}">รายละเอียดองค์กร<i
      class="users cog icon"></i></a>
  <a class="item"
    href="{{ url_for('organizations.organizaiton_users', organization_id = organization.id)}}">สมาชิกขององค์กร<i
      class="users icon"></i></a>

  {% endif %}
  {% endif %}


  <!-- Heading -->
  <div class="sidebar-heading" style="color: grey;">
    บัญชีผู้ใช้
  </div>
  {% if organization %}
  <a class="item" href="{{ url_for('accounts.index',organization_id=organization.id) }}"><i
      class="address book icon"></i>ข้อมูลผู้ใช้งาน</a>
  {% else %}
  <a class="item" href="{{ url_for('accounts.index') }}"><i class="address book icon"></i>ข้อมูลผู้ใช้งาน</a>
  {% endif %}
  <a class="item" href="{{ url_for('accounts.logout') }}"><i class="sign out icon"></i>ออกจากระบบ</a>


</ul>