<div class="item">
  {%- if current_user.get_image() %}
  <a href="{{ url_for('accounts.index') }}" class="ui image">
    <img class="ui avatar image" src="{{ current_user.get_image() }}">
  </a>
  {% endif -%}
  <a href="{{ url_for('accounts.index') }}"><span class="white-text name">{{ current_user.first_name }} {{
      current_user.last_name }}</span></a><br />
  <a href="{{ url_for('accounts.index') }}"><span class="white-text email">{{ current_user.email }}</span></a>
</div>


<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar"
  style="padding-left: 10px;">

  {% if current_user.has_roles(['admin']) %}
  <a class="item" href="{{ url_for('admin.index') }}"><i class="user tie icon"></i>Administrator</a>
  {% endif %}
  {% if organization %}
  <!-- Heading -->
  <div class="sidebar-heading" style="color: grey;">
    แดชบอร์ด
  </div>

  <a class="item" href="{{ url_for('dashboard.daily_dashboard') }}"><i class="icon dashboard"></i>แดชบอร์ด</a>
  <a class="item" href="{{ url_for('notifications.index', organization_id = organization.id) }}">การแจ้งเตือน</a>


  {% if current_user.has_organization_roles("admin", "staff", "endorser") %}
  <!-- Heading -->
  <div class="sidebar-heading" style="color: grey;">
    การจัดการ
  </div>

  <a class="item" href="{{ url_for('items.index', organization_id = organization.id) }}">อุปกรณ์ทั้งหมด</a>
  <a class="item" href="{{ url_for('suppliers.index', organization_id = organization.id) }}">ร้านค้า</a>
  <a class="item" href="{{ url_for('warehouses.index', organization_id = organization.id) }}">คลังอุปกรณ์</a>
  <a class="item" href="{{ url_for('item_positions.index', organization_id = organization.id) }}">ตำแหน่งอุปกรณ์</a>
  {% endif %}


  <!-- Heading -->
  <div class="sidebar-heading" style="color: grey;">
    การนำเข้าอุปกรณ์
  </div>

  {% if current_user.has_organization_roles("admin", "staff", "endorser") %}
  <a class="item" href="{{ url_for('item_registers.index', organization_id = organization.id) }}">นำเข้าอุปกรณ์</a>
  {% endif %}
  <a class="item" href="{{ url_for('inventories.index', organization_id = organization.id) }}">รายการนำเข้าอุปกรณ์</a>

  <!-- Heading -->
  <div class="sidebar-heading" style="color: grey;">
    การส่งอีเมล
  </div>
  <a class="item" href="{{ url_for('email_templates.index', organization_id = organization.id) }}">รูปแบบอีเมล</a>

  {% if current_user.has_organization_roles("admin", "staff", "endorser") %}
  <!-- Heading -->
  <div class="sidebar-heading" style="color: grey;">
    การนำอุปกรณ์ออก
  </div>


  <a class="item" href="{{ url_for('item_orders.index', organization_id = organization.id) }}">คำสั่งเบิกอุปกรณ์</a>
  <a class="item" href="{{ url_for('item_checkouts.index', organization_id = organization.id) }}">รายการนำอุปกรณ์ออก</a>
  {% endif %}

  {% if current_user.has_organization_roles("admin", "endorser") %}
  <!-- Heading -->
  <div class="sidebar-heading" style="color: grey;">
    การอนุมัติ
  </div>
  <a class="item"
    href="{{ url_for('approve_orders.index', organization_id = organization.id )}}">อนุมัติคำสั่งเบิกอุปกรณ์</a>
  {% endif %}

  <!-- Heading -->
  <div class="sidebar-heading" style="color: grey;">
    แจ้งอุปกรณ์เสียหาย
  </div>
  <a class="item" href="{{ url_for('lost_breaks.index', organization_id = organization.id)}}">อุปกรณ์ชำรุด/สูญหาย</a>
  {% endif %}


  {% if current_user.has_organization_roles("admin") %}
  <!-- Heading -->
  <div class="sidebar-heading" style="color: grey;">
    จัดการแผนก
  </div>
  <a class="item" href="{{ url_for('divisions.index', organization_id = organization.id)}}">แผนกทั้งหมด</a>

  <!-- Heading -->
  <div class="sidebar-heading" style="color: grey;">
    จัดการองค์กร
  </div>
  <a class="item" href="{{ url_for('organizations.detail', organization_id = organization.id)}}">รายละเอียดองค์กร</a>
  <a class="item"
    href="{{ url_for('organizations.organizaiton_users', organization_id = organization.id)}}">สมาชิกขององค์กร</a>

  {% endif %}


  <!-- Heading -->
  <div class="sidebar-heading" style="color: grey;">
    บัญชีผู้ใช้
  </div>
  <a class="item" href="{{ url_for('accounts.index') }}"><i class="address book icon"></i>ข้อมูลผู้ใช้งาน</a>
  <a class="item" href="{{ url_for('accounts.logout') }}"><i class="sign out icon"></i>ออกจากระบบ</a>
</ul>