{% extends '/base/template-page-login.html' %}
{% import '/base/html-renderer.html' as renderer %}

<div class="active section">
  {% if 'edit' in request.path %}
  {% set head = "แก้ไขวัสดุที่ลงทะเบียน"%}
  {% else %}
  {% set head = "ลงทะเบียนวัสดุ"%}
  {% endif %}
</div>
{% block title %}{{ head }}{% endblock %}
{% block dashboard_title %}{{ head }}{% endblock %}

{% block breadcrumbs %}
{{ RenderBreadcrumb([
("วัสดุทั้งหมด", url_for("items.index", organization_id=organization.id)),
(head, "")]) }}
{% endblock %}

{% block content %}
<div class="ui secondary" style="padding-bottom: 10px;">
  <div class="flex justify-start w-full gap-2">
    <a class="btn  btn-primary" href='{{ url_for("items.index", organization_id=organization.id) }}'>
      <i class="ph ph-arrow-u-up-left"></i>
      ย้อนกลับ
    </a>
  </div>
</div>
<div>
  <form class="segment mt-4 border border-base-300 bg-base-100 rounded-2xl p-6 shadow-sm" method="POST"
    enctype="multipart/form-data">

    {{ form.hidden_tag() }}
    {{ renderer.render_field(form.name) }}
    {{ renderer.render_text_area_field(form.description) }}
    {{ renderer.file_input(form.img) }}
    {{ renderer.render_field(form.barcode_id)}}
    <div class="grid grid-cols-3 gap-2">
      <fieldset class="fieldset w-full">
        <legend class="fieldset-legend"> {{ form.item_format.label.text }}</legend>
        {{ form.item_format(class='select w-full', onchange="check_item_format()") }}
      </fieldset>

      {{ renderer.render_select_field(form.categories) }}
      {{ renderer.render_field(form.minimum)}}
    </div>
    <div class="flex w-full gap-2">
      <div class="flex w-full disabled" id="set_field">
        {{ renderer.render_field(form.set_)}}

      </div>
      <div class="flex w-full" id="set_unit_field">
        {{ renderer.render_field(form.set_unit)}}

      </div>
    </div>
    <div class="flex w-full gap-2 ">
      {% if item %}
      <div class="flex w-full {{ 'disabled' if not item.item_format == 'one to many' else ''}}"
        id="piece_per_set_field">

        {{ renderer.render_field(form.piece_per_set)}}
      </div>
      {% else %}
      <div class="flex w-full " id="piece_per_set_field">
        {{ renderer.render_field(form.piece_per_set)}}

      </div>
      {% endif %}
      <div class="flex w-full" id="piece_unit_field">
        {{ renderer.render_field(form.piece_unit)}}
      </div>

    </div>
    {{ renderer.render_text_area_field(form.remark)}}


    <button class="btn btn-primary" type="submit">ยืนยันข้อมูล</button>


  </form>
</div>
{% endblock %}

{% block additional_js %}
<script type="text/javascript">
  element_set.disabled = true;
  element_unit.disabled = true;
  function check_item_format() {
    var value = document.getElementById("item_format").value;
    var element_piece_per_set = document.getElementById("piece_per_set_field").querySelector('input, select, textarea');
    var element_piece_unit = document.getElementById("piece_unit_field").querySelector('input, select, textarea');

    if (value == "one to one") {
      element_piece_per_set.disabled = true;
      element_piece_unit.disabled = true;
    }
    else {
      element_piece_per_set.disabled = false;
      element_piece_unit.disabled = false;
    }
  }
</script>

{% endblock additional_js %}