{% extends '/base/template-page-login.html' %}
{% import '/base/html-renderer.html' as renderer %}

<div class="active section">
  {% if 'edit' in request.path %}
  {% set head = "แก้ไขวัสดุที่ลงทะเบียน"%}
  {% else %}
  {% set head = "ลงทะเบียนวัสดุ"%}
  {% endif %}
</div>
{% block title %}{{ head }}{% endblock %}
{% block dashboard_title %}{{ head }}{% endblock %}

{% block breadcrumbs %}
{{ RenderBreadcrumb([
("วัสดุทั้งหมด", url_for("items.index", organization_id=organization.id)),
(head, "")]) }}
{% endblock %}

{% block content %}
<div class="ui secondary" style="padding-bottom: 10px;">
  <div class="flex justify-end w-full gap-2">
    <a class="btn  btn-primary" href='{{ url_for("items.index", organization_id=organization.id) }}'>
      <i class="ph ph-arrow-u-up-left"></i>
      ย้อนกลับ
    </a>
  </div>
</div>
<div>
  <form class="segment mt-4 border border-base-300 bg-base-100 rounded-2xl p-6 shadow-sm" method="POST"
    enctype="multipart/form-data">

    {{ form.hidden_tag() }}
    {{ renderer.render_field(form.name) }}
    {{ renderer.render_text_area_field(form.description) }}
    {{ renderer.render_fileinput(form.img) }}
    {{ renderer.render_field(form.barcode_id)}}
    <div class="two fields">
      <div class="field">
        {{ form.item_format.label }}
        {{ form.item_format(class='ui dropdown', onchange="check_item_format()") }}
      </div>
      {{ renderer.render_select_field(form.categories) }}
      {{ renderer.render_field(form.minimum)}}
    </div>
    <div class="two fields">
      <div class="field disabled" id="set_field">
        {{ form.set_.label }}
        {{ form.set_ }}
      </div>
      <div class="field" id="set_unit_field">
        {{ form.set_unit.label }}
        {{ form.set_unit }}
      </div>
    </div>
    <div class="two fields">
      {% if item %}
      <div class="field {{ 'disabled' if not item.item_format == 'one to many' else ''}}" id="piece_per_set_field">
        {{ form.piece_per_set.label }}
        {{ form.piece_per_set }}
      </div>
      {% else %}
      <div class="field " id="piece_per_set_field">
        {{ form.piece_per_set.label }}
        {{ form.piece_per_set }}
      </div>
      {% endif %}
      <div class="field" id="piece_unit_field">
        {{ form.piece_unit.label }}
        {{ form.piece_unit }}
      </div>

    </div>
    <div class="field">
      {{ renderer.render_field(form.remark)}}
    </div>


    <button class="btn btn-primary" type="submit">ยืนยันข้อมูล</button>


  </form>
</div>
{% endblock %}

{% block additional_js %}
<script type="text/javascript">
  $(".attach-file-img").click(function () {
    $(this).parent().find("#img").click();
  });

  $('#img')
    .on('change', function (e) {
      var name = e.target.files[0].name;
      $('.attach-file-img', $(e.target).parent()).val(name);
    });

  element_set.classList.add("disabled");
  element_unit.classList.add("disabled");
  function check_item_format() {
    var value = document.getElementById("item_format").value;
    var element_piece_per_set = document.getElementById("piece_per_set_field");
    var element_piece_unit = document.getElementById("piece_unit_field");

    if (value == "one to one") {
      element_piece_per_set.classList.add("disabled");
      element_piece_unit.classList.add("disabled");
    }
    else {
      element_piece_per_set.classList.remove("disabled");
      element_piece_unit.classList.remove("disabled");
    }
  }
</script>

{% endblock additional_js %}