{% extends '/base/default-dashboard.html' %}
{% import '/base/html-renderer.html' as renderer %}

{% block title %}Items{% endblock %}
{% block dashboard_title %}อุปกรณ์ทั้งหมด{% endblock %}
{% block breadcrumbs %}
<a class="ui primary button" href="{{ url_for('items.add') }}">
  เพิ่มอุปกรณ์
</a>
{% endblock %}

{% block content %}

{% if items %}
<div class="ui four cards">
  {% for item in items %}
  <div class="card">
    <div class="image">
      {% if not item.image %}
      <img src="{{ url_for('static', filename='/images/image.png') }}" alt="{{ item.name }}">
      {% else %}
      <img src="{{ url_for('items.image', item_id=item.id, filename=item.image.filename) }}" alt="{{ item.name }}">
      {% endif %}
    </div>
    <div class="content">
      <div class="header">ชื่ออุปกรณ์ : {{ item.name }}</div>
      <div class="header">จำนวน : {{ item.get_items_quantity() }}</div>
      <div class="meta">คำอธิบาย : {{ item.description }}</div>
      <div class="meta">นํ้าหนัก : {{ item.weight }} kg</div>
      <div class="meta">จำนวนทั้งหมด : {{ item.minimum }} {{ item.unit }}</div>
      <div class="meta">ขนาด (กว้าง x สูง x ลึก) : {{ item.size.width }} x {{ item.size.height }} x {{ item.size.deep }}
      </div>
      <div class="meta">หมวดหมู่: {{ item.categories|join(', ') }}</div>
      <div class="description">ผู้ใช้งาน : {{ item.user.first_name }} {{ item.user.last_name }}</div>
    </div>
    <div class="extra content">
      <div class="ui two buttons">
        <a class="ui primary button" href="{{ url_for('items.edit', item_id=item.id) }}">
          แก้ไข
        </a>
        <a class="ui red button" href="{{ url_for('items.delete', item_id=item.id) }}">
          ลบข้อมูล
        </a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% else %}
<div class="ui info message">ไม่มีข้อมูลการทำรายการในขณะนี้</div>
{% endif %}
{% endblock %}