{% extends '/base/default-dashboard.html' %}
{% import '/base/html-renderer.html' as renderer %}
{% import '/base/pagination.html' as paginated%}

{% block title %}Items{% endblock %}
{% block dashboard_title %}อุปกรณ์ทั้งหมด{% endblock %}
{% block breadcrumbs %}
<a class="ui primary button" href="{{ url_for('items.add', organization_id=organization.id) }}">
  ลงทะเบียนอุปกรณ์
</a>
<a class="ui primary button" href="{{ url_for('items.upload_file', organization_id=organization.id) }}">
  <i class="file upload icon"></i>
  ลงทะเบียนอุปกรณ์แบบหลายรายการ
</a>
{% endblock %}

{% block content %}
<form method="post">
  <div class="ui secondary menu">
    {{form.hidden_tag()}}
    <p style="margin-left:auto;">
      {{ renderer.render_select_clearable(form.item) }}
    </p>
    <p style="margin-left:10px;">
      {{ renderer.render_select_clearable(form.categories) }}
    </p>
    <p>
      <button type="submit" class="ui primary button"
        style="height:fit-content; margin-top:auto; margin-left:15px; ">ยืนยัน</button>
    </p>
  </div>

</form>
{% if items %}
<div class="ui four cards">
  {% for item in paginated_items.items %}
  <div class="card">
    <div class="image">
      {% if not item.image %}
      <img src="{{ url_for('static', filename='/images/image.png') }}" alt="{{ item.name }}">
      {% else %}
      <img
        src="{{ url_for('items.image', item_id=item.id, filename=item.image.filename, organization_id=organization.id) }}"
        alt="{{ item.name }}">
      {% endif %}
    </div>
    <div class="content">
      <div class="header">ชื่ออุปกรณ์ : {{ item.name }}</div>
      <div class="header">จำนวน : {{ item.get_items_quantity() }}</div>
      <div class="meta">คำอธิบาย : {{ item.description }}</div>
      <div class="meta">จำนวนขั้นต่ำที่แจ้งเตือน : {{ item.minimum }} {{ item.unit }}</div>
      <div class="meta">หมวดหมู่: {{ item.categories }}</div>
      <div class="description">ผู้ลงทะเบียน : {{ item.created_by.first_name }} {{ item.created_by.last_name }}</div>
    </div>
    <div class="extra content">
      <div class="{{ 'three' if item.status == 'pending' else 'fluid' }} ui buttons vertical">
        {% if item.status == 'pending' %}
        <a class="fluid ui primary button"
          href="{{ url_for('items.edit', item_id=item.id, organization_id=organization.id) }}">
          แก้ไข
        </a>
        <a class="ui positive button" onclick="showDeleteModal('{{ item.id }}_confirm')">
          บันทึก
        </a>
        <div class="ui modal {{item.id}}_confirm">
          <div class="header">
            บันทึกอุปกรณ์
          </div>
          <div class="content">
            <p>ต้องการบันทึกอุปกรณ์
              <b>{{ item.name }}</b> หรือไม่?
            </p>
            <span class="ui error text">คำเตือน : สามารถยืนยันอุปกรณ์ได้ครั้งเดียวเท่านั้น
              และไม่สามารถแก้ไขรายละเอียดได้อีกต่อไป
              *โปรดตรวจสอบความถูกต้องก่อนยืนยัน*</span>
          </div>
          <div class="actions">
            <button class="ui black deny button">
              ยกเลิก
            </button>
            <a class="ui negative right labeled icon button"
              href="{{ url_for('items.confirm', item_id=item.id, organization_id=organization.id) }}">
              ยืนยัน
              <i class="checkmark icon"></i>
            </a>
          </div>
        </div>
        {% else %}
        <a class="fluid ui primary button"
          href="{{ url_for('items.detail', item_id=item.id, organization_id=organization.id) }}">
          ดูรายละเอียด
        </a>
        {% endif %}
        <a class="ui red button" onclick="showDeleteModal('{{ item.id }}')">
          ลบข้อมูล
        </a>
        <div class="ui modal {{item.id}}">
          <div class="header">
            ลบอุปกรณ์
          </div>
          <div class="content">
            <p>ต้องการลบอุปกรณ์
              <b>{{ item.name }}</b>
            </p>
          </div>
          <div class="actions">
            <button class="ui black deny button">
              ยกเลิก
            </button>
            <a class="ui negative right labeled icon button"
              href="{{ url_for('items.delete', item_id=item.id, organization_id=organization.id) }}">
              ยืนยัน
              <i class="checkmark icon"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% if paginated_items.pages != 1 %}
<div class="ui grid">
  <div class="column row">
    <div class="center aligned column">
      {{paginated.render_pagination(paginated_items,"items.index")}}
    </div>
  </div>
</div>
{% endif %}
{% else %}
<div class="ui info message">ไม่มีข้อมูลการทำรายการในขณะนี้</div>
{% endif %}
{% endblock %}

{% block additional_js %}
<script type="text/javascript">

  function showDeleteModal(item_id) {
    item_id ? $('.ui.modal.' + item_id).modal('show') : $('.ui.modal').modal('hide')
      ;
  }
</script>
{% endblock %}