{% extends '/base/default-dashboard.html' %}
{% import '/base/html-renderer.html' as renderer %}

{% block title %}Edit{% endblock %}
{% block dashboard_title %}Edit{% endblock %}

{% block breadcrumbs %}
<div class="ui breadcrumb">
  <div class="active section">Edit</div>
</div>
{% endblock %}

{% block content %}
<div>
  <form class="ui form" method="POST">

    {{ form.hidden_tag() }}
    {{ form.size.hidden_tag() }}


    {{ renderer.render_field(form.name) }}
    {{ renderer.render_field(form.description) }}
    <div class="three fields">
      {{ renderer.render_field(form.size.width) }}
      {{ renderer.render_field(form.size.height) }}
      {{ renderer.render_field(form.size.deep) }}
    </div>
    {{ renderer.render_field(form.weight) }}
    {{ renderer.render_field(form.categories) }}

    <button class="ui button" type="submit">Submit</button>
  </form>
</div>
{% endblock %}