{% extends '/base/default-dashboard.html' %}
{% import '/base/html-renderer.html' as renderer %}

{% block title %}Edit{% endblock %}
{% block dashboard_title %}แก้ไขสินค้า{% endblock %}

{% block breadcrumbs %}
<div class="ui breadcrumb">
  <div class="active section">แก้ไขสินค้า</div>
</div>
{% endblock %}

{% block content %}
<div>
  <form class="ui form" method="POST" enctype="multipart/form-data">

    {{ form.hidden_tag() }}
    {{ form.size.hidden_tag() }}


    {{ renderer.render_field(form.name) }}
    {{ renderer.render_field(form.description) }}
    {{ renderer.render_fileinput(form.img) }}
    {{ renderer.render_field(form.barcode_id)}}
    <div class="three fields">
      {{ renderer.render_field(form.size.width) }}
      {{ renderer.render_field(form.size.height) }}
      {{ renderer.render_field(form.size.deep) }}
    </div>
    <div class="three fields">
      {{ renderer.render_field(form.weight) }}
      {{ renderer.render_field(form.categories) }}
      {{ renderer.render_select(form.status)}}
    </div>
    <div class="two fields">
      {{ renderer.render_field(form.minimum) }}
      {{ renderer.render_field(form.unit) }}
    </div>

    <button class="ui primary button" type="submit">ยืนยันข้อมูล</button>
  </form>
</div>
{% endblock %}

{% block additional_js %}
<script type="text/javascript">
  $(".attach-file-img").click(function () {
    $(this).parent().find("#img").click();
  });

  $('#img')
    .on('change', function (e) {
      var name = e.target.files[0].name;
      $('.attach-file-img', $(e.target).parent()).val(name);
    });
</script>

{% endblock additional_js %}