{% extends '/base/default-dashboard.html' %}
{% import '/base/html-renderer.html' as renderer %}
{% import '/base/pagination.html' as paginated%}

{% block title %}Items{% endblock %}
{% block dashboard_title %}เปรียบเทียบวัสดุ{% endblock %}
{% block breadcrumbs %}
{% endblock %}

{% block content %}
<div>
  <form class="ui form" method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    {{ renderer.render_fileinput(form.upload_file) }}
    {{ renderer.render_select(form.status) }}
    {{ renderer.render_search_multiple_select(form.categories) }}
    <button class="ui primary button" type="submit">ยืนยัน</button>
  </form>
</div>
{% endblock %}