{% extends '/admin/inventories/index.html' %}
{% import '/admin/base/html-renderer.html' as renderer %}

{% block title %}
{% if 'edit' in request.path %}
แก้ไข
{% else %}
นำเข้าอุปกรณ์
{% endif %}
{% endblock %}
{% block dashboard_title %}
{{ self.title() }}
{% endblock %}

{% block breadcrumbs %}
<div class="active section">{{ item_register.description }}</div>
{% endblock %}

{% block content %}
<div>
  <form class="ui form" method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="three fields">
      <div class="field">
        {{ form.item.label }}
        {{ form.item(class="ui fluid search dropdown") }}
      </div>
      {{ renderer.render_field(form.quantity) }}
      {{ renderer.render_field(form.price) }}
    </div>
    {{ form.csrf_token }}
    <div class="two fields">
      {{ renderer.render_select(form.warehouse) }}
      {{ renderer.render_select(form.position) }}
    </div>

    <button class="ui primary button" type="submit">ยืนยันข้อมูล</button>
  </form>
</div>
{% endblock content %}

{% block additional_js %}
<script type="text/javascript">
  $(document)
    .ready(function () {
      $('.ui.dropdown.validate.selection')
        .dropdown({
          allowAdditions: true
        });
    });
</script>
{% endblock additional_js %}