{% extends '/item_checkouts/index.html' %}

{% block title %}รายการนำสินค้าออก{% endblock %}
{% block dashboard_title %}รายการนำสินค้าออก{% endblock %}

{% block breadcrumbs %}
{{ super() }}
<div class="active section"></div>
{% endblock %}

{% block content %}
<div style="padding-bottom: 1em ;">
  <table class="ui celled table">
    <thead>
      <tr>

        <th>รูปสินค้า</th>
        <th>วันที่นำสินค้าออก</th>
        <th>ชื่อสินค้า</th>
        <th>คลังสินค้า</th>
        <th>จำนวนทั้งหมด</th>
        <th>ราคา</th>
        <th>การอนุมัติ</th>
      </tr>
    </thead>
    <tbody>
      {% for checkout in checkouts %}
      <tr>
        <td data-label="Image">
          <div>
            {% if not checkout.item.image %}
            <img src=" {{ url_for('static', filename='/images/image.png' ) }}" width="70">
            {% else %}
            <img src="{{ url_for('items.image', item_id=checkout.item.id, filename=checkout.item.image.filename) }}"
              width="70">
            {% endif %}
          </div>
        </td>
        <td data-label="Checkout Date">{{ checkout.checkout_date.strftime('%d/%m/%Y %H:%M:%S') }}</td>
        <td data-label="Item">{{ checkout.item.name }}</td>
        <td data-label="Warehouse">{{ checkout.warehouse.name }}</td>
        <td data-label="Quantity">{{ checkout.quantity }}</td>
        <td data-label="Price">{{ checkout.price }}</td>
        <td data-label="Status">
          {% if checkout.status == "pending" %}
          <a class="positive ui button" href="{{ url_for('approve_orders.approve', checkout_item_id=checkout.id, order_id=checkout.order.id)}}">
            อนุมัติ
          </a>
          {% else %}
          -
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


{% endblock %}