{% extends '/item_checkouts/index.html' %}
{% import '/base/pagination.html' as paginated %}

{% block title %}รายการนำวัสดุออก{% endblock %}
{% block dashboard_title %}รายการนำวัสดุออก{% endblock %}

{% block breadcrumbs %}
{{ RenderBreadcrumb([
("คำสั่งเบิกวัสดุ", url_for('item_orders.index', organization_id=organization.id) ),
('รายการนำวัสดุออก' , "")]) }}
{% endblock %}

{% block content %}
<div class="navbarmenu">
  <div class="left menu">
    <a class="ui labeled icon button" href="{{ url_for('item_orders.index', organization_id=organization.id) }}">
      <i class="left arrow icon"></i>
      ย้อนกลับ
    </a>
  </div>
  <div class="right menu">
    {% if current_user.has_organization_roles("admin") %}

    <a href="{{ url_for('item_checkouts.upload_file', organization_id=organization.id, order_id=order.id) }}"
      class="ui primary button">อัปโหลดไฟล์</a>
    {% endif %}
    {% if order.status ==
      "pending" 
      %}
    <a class="ui button primary" onclick="showModal('email')">
      ยืนยันการเบิกพัสดุ
    </a>
    {% endif %}
  </div>
</div>
<div class="ui ordered steps" style="width: 100%;">
  <a class="completed step"
    href="{{ url_for('item_orders.edit', organization_id=organization.id, order_id=order.id) }}">
    <div class="content">
      <div class="title">เพิ่มคำสั่งเบิก</div>
      <div class="description">กรอกข้อมูลคำสั่งเบิก</div>
    </div>
  </a>
  <a class="completed step"
    href='{{  url_for("item_checkouts.catalogs",organization_id=organization.id, order_id=order.id, )}}'>
    <div class="content">
      <div class="title">เลือกพัสดุ</div>
      <div class="description">ทำการเลือกพัสดุที่ต้องการเบิก</div>
    </div>
  </a>
  <div class="{{'active' if order.status == 'pending' else 'completed'}} step">
    <div class="content">
      <div class="title">ยืนยันการเบิกพัสดุ</div>
      <div class="description">ตรวจสอบรายละเอียดก่อนทำการยืนยัน</div>
    </div>
  </div>
</div>
{% if checkouts %}
{% if order.approval_status != 'approved' and order.approval_status != "denied" and order.status == "pending"
%}
{% if order.created_by == current_user %}
<div class="ui modal email">
  <div class="header">
    ยืนยันการเบิกพัสดุ
  </div>
  <div class="content">
    <p>ทำการส่งอีเมลแจ้งเตือนให้แก่ <b>{{ order.head_endorser.get_name() }}</b>

    </p>
  </div>
  <div class="actions">
    <button class="ui black deny button">
      ยกเลิก
    </button>
    <a class="ui positive right labeled icon button"
      href="{{ url_for('email_templates.force_send_email',order_id=order.id, organization_id=organization.id) }}">
      ยืนยัน
      <i class="checkmark icon"></i>
    </a>
  </div>
</div>
{% endif %}
{% endif %}



<div style="padding-bottom: 1em ;">
  <table class="ui celled table">
    <thead>
      <tr>
        <th>รูปวัสดุ</th>
        <th>วันที่นำวัสดุออก</th>
        <th>ชื่อวัสดุ</th>
        {#<th>คลังวัสดุ</th>#}
        {#<th>จำนวนหน่วยใหญ่</th>{#}
        <th>จำนวนหน่วยเล็ก</th>
        <th>ราคาแต่ละหน่วยเล็ก</th>
        {#} <th>รวม</th>{#}
        {#<th>ราคา (ชิ้นละ)</th>#}
        {% if order.approval_status != 'approved' and order.approval_status != "denied" and order.status == "pending" %}
        {% if order.created_by == current_user %}
        <th>แก้ไข/ลบข้อมูล</th>
        {% endif %}
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for checkout in paginated_checkouts.items %}
      <tr>
        <td data-label="Image" class="center aligned">
          <div>
            {% if not checkout.item.image %}
            <img src=" {{ url_for('static', filename='/images/image.png' ) }}" width="70">
            {% else %}
            <img
              src="{{ url_for('items.image', item_id=checkout.item.id, filename=checkout.item.image.filename, organization_id=organization.id) }}"
              width="70">
            {% endif %}
          </div>
        </td>
        <td data-label="Checkout Date">{{ checkout.created_date.strftime('%d/%m/%Y %H:%M:%S') }}</td>
        <td data-label="Item">{{ checkout.item.name }}</td>
        {#<td data-label="Warehouse">{{ checkout.warehouse.name }}</td>#}
        {#<td data-label="Set">{{ checkout.set_ }}</td>{#}
        <td data-label="Piece">{{ checkout.piece }}</td>
        <td data-label="Price Per Piece">{{ checkout.item.get_last_price_per_piece() }}</td>
        {#<td data-label="Quantity">{{ checkout.quantity }}</td>{#}
        {#<td data-label="Price">{{ checkout.price }}</td>#}
        {% if order.approval_status != 'approved' and order.approval_status != "denied" and order.status == "pending" %}
        {% if order.created_by == current_user %}
        <td>
          <a class="ui icon button"
            href="{{ url_for('item_checkouts.edit', checkout_item_id=checkout.id, organization_id=organization.id) }}"
            style=" color: white; background-color: rgb(59, 115, 199);">
            <i class="edit icon"></i>
          </a>
          <a class="ui icon button {{ 'disabled' if order.approval_status == 'approved' else ''}}"
            style="color: white; background-color: rgb(192, 55, 55);" onclick="showDeleteModal('{{ checkout.id }}')">
            <i class="trash icon"></i>
          </a>
          <div class="ui modal {{checkout.id}}">
            <div class="header">
              ลบคำสั่งเบิกวัสดุ
            </div>
            <div class="content">
              <p>ต้องการลบคำสั่งเบิกวัสดุ
                <b>{{ checkout.item.name }}</b>
              </p>
            </div>
            <div class="actions">
              <button class="ui black deny button">
                ยกเลิก
              </button>
              <a class="ui negative right labeled icon button"
                href="{{ url_for('item_checkouts.delete',  checkout_item_id=checkout.id, organization_id=organization.id) }}">
                ยืนยัน
                <i class="checkmark icon"></i>
              </a>
            </div>
          </div>
        </td>
        {% endif %}
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% set params=dict(request.args) %}
  {% if 'page' in params %}
  {% set _dummy=params.pop('page') %}
  {% endif %}
  {% if paginated_checkouts.pages != 1 %}
  <div class="ui grid">
    <div class="column row">
      <div class="center aligned column">
        {{paginated.render_pagination(paginated_checkouts,"item_checkouts.bill_checkout", params)}}
      </div>
    </div>
  </div>
  {% endif %}
</div>
{% else %}
<div class="ui message">ไม่มีข้อมูลการทำรายการในขณะนี้</div>
{% endif %}

{% endblock %}

{% block additional_js %}
<script type="text/javascript">

  function showModal(checkout_item_id) {
    checkout_item_id ? $('.ui.modal.' + checkout_item_id).modal('show') : $('.ui.modal').modal('hide')
      ;
  }
  function showDeleteModal(checkout_item_id) {
    checkout_item_id ? $('.ui.modal.' + checkout_item_id).modal('show') : $('.ui.modal').modal('hide')
      ;
  }
</script>
{% endblock %}