{% extends '/base/default-dashboard.html' %}
{% import '/base/html-renderer.html' as renderer %}
{% import '/base/components/forms.html' as render_form %}
{% import '/base/pagination.html' as paginated%}
{% from '/base/components/breadcrumbs.html' import RenderBreadcrumb%}

{% block title %}Items{% endblock %}
{% block dashboard_title %}รายการวัสดุทั้งหมด{% endblock %}
{% block breadcrumbs %}
{{ RenderBreadcrumb([
("คำสั่งเบิกวัสดุ", url_for('item_orders.index', organization_id=organization.id) ),
('รายการวัสดุทั้งหมด' , "")]) }}
{% endblock %}

{% block content %}
<div class="navbarmenu">
  <div class="left menu">
    <a class="ui labeled icon button"
      href="{{ url_for('item_orders.edit', organization_id=organization.id, order_id=order.id) }}">
      <i class="left arrow icon"></i>
      ย้อนกลับ
    </a>
  </div>
</div>

<div class="ui ordered steps" style="width: 100%;">
  <a class="completed step"
    href="{{ url_for('item_orders.edit', organization_id=organization.id, order_id=order.id) }}">
    <div class="content">
      <div class="title">เพิ่มคำสั่งเบิก</div>
      <div class="description">กรอกข้อมูลคำสั่งเบิก</div>
    </div>
  </a>
  <a class="active step"
    href='{{  url_for("item_checkouts.catalogs",organization_id=organization.id, order_id=order.id, )}}'>
    <div class="content">
      <div class="title">เลือกพัสดุ</div>
      <div class="description">ทำการเลือกพัสดุที่ต้องการเบิก</div>
    </div>
  </a>
  <a class="step"
    href='{{  url_for("item_checkouts.bill_checkout",organization_id=organization.id, order_id=order.id, )}}'>
    <div class="content">
      <div class="title">ยืนยันการเบิกพัสดุ</div>
      <div class="description">ตรวจสอบรายละเอียดก่อนทำการยืนยัน</div>
    </div>
  </a>
</div>

{% set params=dict(request.args) %}
{% if 'order_id' not in params %}
{% set _dummy=params.update({"order_id": order.id|string}) %}
{% endif %}
{% if 'page' in params %}
{% set _dummy=params.pop('page') %}
{% endif %}
<form method="post" style="padding-bottom: 0.5rem;" class="ui form">
  {{form.hidden_tag()}}
  <div class="equal width fields">
    {{ render_form.InputField(form.item_name) }}
    {{ render_form.SelectField(form.item) }}
    {{ render_form.SelectField(form.categories) }}
  </div>
  <div class="ui secondary menu">
    <div class="right menu">
      <button type="submit" class="ui primary button">ค้นหา</button>
    </div>
  </div>
</form>

{% if items %}
<div class="ui four cards">
  {% for item in paginated_items.items %}
  <div class="card">
    <div class="image">
      {% if not item.image %}
      <img src="{{ url_for('static', filename='/images/image.png') }}" alt="{{ item.name }}">
      {% else %}
      <img
        src="{{ url_for('items.image', item_id=item.id, filename=item.image.filename, organization_id=organization.id) }}"
        alt="{{ item.name }}">
      {% endif %}
      {% if item.get_amount_items() == 0 %}
      <div class="ui center dimmer active">
        <div class="content">
          <div class="center">
            <h2 class="ui inverted header">วัสดุหมดชั่วคราว</h2>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
    <div class="content">
      <div class="header">{{ item.name }}</div>
      <div class="header">จำนวน : {{ item.get_items_quantity() }}</div>
      <div class="meta">คำอธิบาย : {{ item.description }}</div>
      <div class="meta">หมวดหมู่: {{ item.categories.name }}</div>
    </div>
    <div class="extra content">
      <div class="ui three buttons" style="width: 100%;">
        <a class="ui icon primary button" data-tooltip="แก้ไข"
          href="{{ url_for('item_checkouts.checkout', item_id=item.id, order_id=order.id, organization_id=organization.id  ) }}">
          <i class="hand point down outline icon"></i>
          เลือกวัสดุชิ้นนี้
        </a>>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% if paginated_items.pages != 1 %}
<div class="ui grid">
  <div class="column row">
    <div class="center aligned column">
      {{paginated.render_pagination(paginated_items,"item_checkouts.catalogs", params)}}
    </div>
  </div>
</div>
{% endif %}
{% else %}
<div class="ui message">ไม่มีข้อมูลการทำรายการในขณะนี้</div>
{% endif %}
{% endblock %}

{% block additional_js %}
<script type="text/javascript">

  function showDeleteModal(item_id) {
    item_id ? $('.ui.modal.' + item_id).modal('show') : $('.ui.modal').modal('hide')
      ;
  }
</script>
<style>
  .ui.dimmer {
    background-color: rgba(0, 0, 0, 0.7) !important;
    /* Semi-transparent black */
  }
</style>
{% endblock %}