{% extends '/base/template-page-login.html' %}
{% import '/base/html-renderer.html' as renderer %}
{% import '/base/components/forms.html' as render_form %}
{% import '/base/components/paginations/pagination.html' as paginated%}
{% from '/base/components/breadcrumbs.html' import RenderBreadcrumb%}

{% block title %}Items{% endblock %}
{% block dashboard_title %}รายการวัสดุทั้งหมด{% endblock %}
{% block breadcrumbs %}
{{ RenderBreadcrumb([
("คำสั่งเบิกวัสดุ", url_for('item_orders.index', organization_id=organization.id) ),
('รายการวัสดุทั้งหมด' , "")]) }}
{% endblock %}

{% block content %}
<div class="flex flex-row justify-between">
  <div class="flex justify-start w-full gap-2">
    <a class="btn  btn-primary"
      href="{{ url_for('item_orders.edit', organization_id=organization.id, order_id=order.id) }}">
      <i class="ph ph-arrow-u-up-left"></i>
      ย้อนกลับ
    </a>
  </div>
</div>

{% set params=dict(request.args) %}
{% if 'order_id' not in params %}
{% set _dummy=params.update({"order_id": order.id|string}) %}
{% endif %}
{% if 'page' in params %}
{% set _dummy=params.pop('page') %}
{% endif %}
<form method="post" class="segment mt-4 border border-base-300 bg-base-100 rounded-2xl p-6 shadow-sm">
  <div class="steps steps-vertical lg:steps-horizontal w-full py-6">
    <a class="step-primary step"
      href="{{ url_for('item_orders.edit', organization_id=organization.id, order_id=order.id) }}">
      เพิ่มคำสั่งเบิก
    </a>
    <a class="step-primary step"
      href='{{  url_for("item_checkouts.catalogs",organization_id=organization.id, order_id=order.id, )}}'>
      เลือกพัสดุ
    </a>
    <a class="step"
      href='{{  url_for("item_checkouts.bill_checkout",organization_id=organization.id, order_id=order.id, )}}'>
      ยืนยันการเบิกพัสดุ
    </a>
  </div>
  {{form.hidden_tag()}}
  <div><b>
      <span class="large text ui">ค้นหาชื่อวัสดุหรือหมวดหมู่</span>
    </b>
  </div>
  <div class="flex flex-row justify-between w-full gap-2">
    {{ renderer.render_field(form.item_name) }}
    {{ renderer.render_select_field(form.categories) }}
  </div>
  <div class="flex flex-row w-full justify-between">
    <div class="flex justify-end w-full gap-2">
      <a class="btn"
        href='{{  url_for("item_checkouts.catalogs",organization_id=organization.id, order_id=order.id, )}}'>
        ล้างการค้นหา
      </a>
      <button type="submit" class="btn btn-primary">ค้นหา</button>
    </div>
  </div>
</form>

{% if order.status ==
"pending"
%}
{% if items %}
<div class="grid grid-cols-1 gap-2 mt-2 lg:grid-cols-3 sm:grid-cols-2 2xl:grid-cols-4 w-full overflow-x-auto">
  {% for item in paginated_items.items %}
  <div class="w-full card bg-base-100 shadow-sm {{' image-full ' if item.get_amount_items() == 0 else '' }}">
    <figure>
      {% if not item.image %}
      <img src="{{ url_for('static', filename='/images/image.png') }}" alt="{{ item.name }}">
      {% else %}
      <img
        src="{{ url_for('items.image', item_id=item.id, filename=item.image.filename, organization_id=organization.id) }}"
        alt="{{ item.name }}">
      {% endif %}

    </figure>

    {% if item.get_amount_items() == 0 %}
    <div class="card-body  w-full">
      <h2 class="card-title text-center">วัสดุหมดชั่วคราว</h2>
    </div>
    {% endif %}
    <div class="card-body">
      <div class="text-2xl font-bold">{{ item.name }}</div>
      <div class=" text-2xl font-bold">จำนวน : {{ item.get_items_quantity() }}</div>
      <div>คำอธิบาย : {{ item.description }}</div>
      <div>หมวดหมู่: {{ item.categories.name }}</div>
      <div class="card-actions h-full items-end justify-center">
        <div class="flex flex-row  w-full">
          <a class=" btn btn-primary w-full" data-tip="แก้ไข"
            href="{{ url_for('item_checkouts.checkout', item_id=item.id, order_id=order.id, organization_id=organization.id  ) }}">
            <i class="ph ph-hand-pointing"></i>
            เลือกวัสดุชิ้นนี้
          </a>
        </div>
      </div>
    </div>

  </div>
  {% endfor %}
</div>

{% if paginated_items.pages != 1 %}

{{ paginated.render_pagination(paginated_items,"item_checkouts.catalogs", params)}}

{% endif %}
{% else %}
<div class="flex w-full justify-center py-6 text-xl">ไม่มีข้อมูลการทำรายการในขณะนี้</div>
{% endif %}
{% endif %}
{% endblock %}

{% block additional_js %}
<script type="text/javascript">

  function showDeleteModal(item_id) {
    item_id ? $('.ui.modal.' + item_id).modal('show') : $('.ui.modal').modal('hide')
      ;
  }
</script>
<style>
  .ui.dimmer {
    background-color: rgba(0, 0, 0, 0.7) !important;
    /* Semi-transparent black */
  }
</style>
{% endblock %}