{% extends '/base/default-dashboard.html' %}
{% import '/base/html-renderer.html' as renderer %}

{% block title %}Checkout{% endblock %}
{% block dashboard_title %}Checkout{% endblock %}


{% block content %}
    <div>
    <form class="ui form" method="POST">
      
      {{ form.hidden_tag() }}

      {{ renderer.render_field(form.item) }}
      {{ renderer.render_field(form.quantity) }}

      <button class="ui primary button" type="submit">Submit</button>
    </form>
    </div>
{% endblock content %}