{% extends '/item_checkouts/index.html' %}
{% import '/base/html-renderer.html' as renderer %}

{% block title %}นำวัสดุออก{% endblock %}
{% block dashboard_title %}นำวัสดุออก{% endblock %}

{% block breadcrumbs %}
{{ RenderBreadcrumb([
("คำสั่งเบิกวัสดุ", url_for('item_orders.index', organization_id=organization.id) ),
("รายการวัสดุทั้งหมด", url_for('item_checkouts.catalogs',order_id=order.id, organization_id=organization.id) ),
('นำวัสดุออก' , "")]) }}
{% endblock %}



{% block content %}
<div class="flex flex-row justify-between">
  <div class="flex justify-start w-full gap-2">
    <a class="btn  btn-primary"
      href="{{ url_for('item_checkouts.catalogs',order_id=order.id, organization_id=organization.id) }}">
      <i class="ph ph-arrow-u-up-left"></i>
      ย้อนกลับ
    </a>
  </div>
</div>



<div>
  <form class="segment mt-4 border border-base-300 bg-base-100 rounded-2xl p-6 shadow-sm" method="POST">
    <div class="steps steps-vertical lg:steps-horizontal w-full py-6">
      <a class="step-primary step"
        href="{{ url_for('item_orders.edit', organization_id=organization.id, order_id=order.id) }}">
        เพิ่มคำสั่งเบิก
      </a>
      <a class="step-primary step"
        href='{{  url_for("item_checkouts.catalogs",organization_id=organization.id, order_id=order.id, )}}'>
        เลือกพัสดุ
      </a>
      <a class="step"
        href='{{  url_for("item_checkouts.bill_checkout",organization_id=organization.id, order_id=order.id, )}}'>
        ยืนยันการเบิกพัสดุ
      </a>
    </div>
    {{ form.hidden_tag() }}
    {{ renderer.render_search_select_field(form.item) }}
    {{ renderer.render_field(form.piece) }}
    {{ renderer.datetime_field(form.created_date, calendar_id="created_date_calendar") }}

    <button class="btn btn-primary" type="submit">ยืนยันข้อมูล</button>
  </form>
</div>

{% if success %}
<div class="modal" open>
  <div class="modal-box">
    <div class="text-2xl font-bold">
      <span class=" text-success">
        บันทึกสำเร็จ
      </span>
    </div>
    <p class="px-2">บันทีกข้อมูลสำเร็จ
    </p>
    <div class="modal-action">
      <a class="btn btn-success"
        href='{{  url_for("item_checkouts.bill_checkout",organization_id=organization.id, order_id=order.id, )}}'>
        เสร็จสิ้น
        <i class="ph ph-check"></i>
      </a>
      <a class="btn btn-primary"
        href='{{ url_for("item_checkouts.catalogs",organization_id=organization.id, order_id=order.id,) }}'>
        เลือกวัสดุเพิ่มเติม
        <i class="ph ph-arrow-u-up-left"></i>
      </a>
    </div>
  </div>
</div>
{% endif %}

{% endblock content %}

{% block additional_js %}
{% endblock %}