{% extends '/base/default-dashboard.html' %}

{% block title %}Checkout{% endblock %}
{% block dashboard_title %}Checkout{% endblock %}


{% block content %}
<div style="padding: 1em ;">
  <table class="ui celled table">
    <thead>
      <tr>
        
        <th>Order</th>
        <th>Item</th>
        <th>Quantity</th>
        
    </tr>
  </thead>
  <tbody>
    {% for checkout in checkouts %}
  <tr>
      
      <td data-label="Order">{{ checkout.order.description }}</td>
      <td data-label="Item">{{ checkout.item.name }}</td>
      <td data-label="Quantity">{{ checkout.quantity }}</td>
      
  </tr>
    {% endfor %}
  </tbody>
  </table>
</div>
<a class="ui primary button" href="{{ url_for('item_checkouts.checkout') }}"> 
  Checkout
</a>
  
{% endblock %}