{% extends '/base/template-page-login.html' %}
{% import '/base/html-renderer.html' as renderer%}
{% import '/base/components/paginations/pagination.html' as paginated%}
{% import '/base/components/forms.html' as render_form %}

{% block title %}รายการนำวัสดุออก{% endblock %}
{% block dashboard_title %}รายการนำวัสดุออก{% endblock %}

{% block breadcrumbs %}

{% endblock %}

{% block content %}
<form method="post" class="segment mt-4 border border-base-300 bg-base-100 rounded-2xl p-6 shadow-sm">
  {{form.hidden_tag()}}
  <div class="flex flex-row justify-between w-full gap-2">
    {{ renderer.render_search_select_field(form.item) }}
    {{ renderer.render_select_field(form.categories) }}
    {{ renderer.date_range_field(form.start_date, form.end_date)}}

  </div>
  <div class="flex flex-row w-full justify-between">
    <div class="flex justify-end w-full gap-2">
      <a class="btn" href='{{  url_for("item_checkouts.index",organization_id=organization.id )}}'>
        ล้างการค้นหา
      </a>
      <button type="submit" class="btn btn-primary">ค้นหา</button>
    </div>
  </div>
</form>

<div class="segment mt-4 border border-base-300 bg-base-100 rounded-2xl p-6 shadow-sm ">
  {% if checkouts %}
  <div class="overflow-x-auto mt-2 rounded-xl">

    <table class="table-auto w-full">
      <thead>
        <tr>
          <th class="table-style">วันที่สั่งเบิกวัสดุ</th>
          <th class="table-style">วัตถุประสงค์</th>
          <th class="table-style">รูปวัสดุ</th>
          <th class="table-style">ชื่อวัสดุ</th>
          <th class="table-style">จำนวนหน่วยเล็ก</th>
          <th class="table-style">สถานะ</th>
          <th class="table-style">ชื่อผู้ขอเบิกใช้งาน</th>
          <th class="table-style">ราคา (หน่วยเล็กละ)</th>
          <th class="table-style">นัดรับ ณ วันที่</th>
        </tr>
      </thead>
      <tbody>
        {% for checkout in paginated_checkouts.items %}
        <tr>
          <td class="table-style" data-label="Checkout Date">{{ checkout.created_date.strftime('%d/%m/%Y %H:%M:%S') }}
          </td>
          <td class="table-style" data-label="Objective"> <a
              href="{{ url_for('item_checkouts.bill_checkout', order_id=checkout.order.id, organization_id=organization.id) }}"
              class="underline hover:text-primary">{{ checkout.order.description }}</a>

          </td>
          <td class="table-style" data-label="Image" class="center aligned">
            <div>
              {% if not checkout.item.image %}
              <img src=" {{ url_for('static', filename='/images/image.png' ) }}" width="70">
              {% else %}
              <img
                src="{{ url_for('items.image', item_id=checkout.item.id, filename=checkout.item.image.filename, organization_id=organization.id) }}"
                width="70">
              {% endif %}
            </div>
          </td>
          <td class="table-style" data-label="Item">{{ checkout.item.name }}
          </td>
          <td class="table-style" data-label="Piece">{{ checkout.piece }}</td>
          {{ checkout.order.get_status()|safe }}

          <td class="table-style" data-label="User">{{ checkout.user.get_name() }}</td>
          <td class="table-style" data-label="Price">
            {{ checkout.inventories[0].get_price_per_piece() if checkout.inventories else "-"}}
          </td>
          <td class="table-style" data-label="Checkout Date">{{ checkout.order.sent_item_date.strftime('%d/%m/%Y %H:%M:%S') if
          checkout.order.sent_item_date else "-" }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if paginated_checkouts.pages != 1 %}

    {{ paginated.render_pagination(paginated_checkouts,"item_checkouts.index")}}

    {% endif %}
    {% else %}
    <div class="flex w-full justify-center py-6 text-xl">ไม่มีข้อมูลการทำรายการในขณะนี้</div>
    {% endif %}
  </div>
</div>

{% endblock %}


{% block additional_js %}

{% endblock %}