{% extends '/base/default-dashboard.html' %}

{% block title %}Checkout{% endblock %}
{% block dashboard_title %}Checkout{% endblock %}


{% block content %}
<div style="padding: 1em ;">
  <table class="ui celled table">
    <thead>
      <tr>
        
        <th>Order</th>
        <th>Item</th>
        <th>Warehouse</th>
        <th>Quantity</th>
        
    </tr>
  </thead>
  <tbody>
    {% for checkout in checkouts %}
  <tr>
      
      <td data-label="Order">{{ checkout.order.id }}</td>
      <td data-label="Item">{{ checkout.item.name }}</td>
      <td data-label="Item">{{ checkout.warehouse.name }}</td>
      <td data-label="Quantity">{{ checkout.quantity }}</td>
      
  </tr>
    {% endfor %}
  </tbody>
  </table>
</div>

  
{% endblock %}