{% extends '/base/default-dashboard.html' %}

{% block title %}Lost or Break{% endblock %}
{% block dashboard_title %}Lost or Break{% endblock %}
{% block breadcrumbs %}
<a class="ui primary button" href="{{ url_for('lost_breaks.add') }}">
  Add
</a>
{% endblock %}

{% block content %}
<div style="padding-bottom: 1em ;">
  <table class="ui celled table">
    <thead>
      <tr>
        <th>Image</th>
        <th>Item</th>
        <th>Description</th>
        <th>Quantity</th>
        <th>Warehouse</th>
        <th>User</th>
        <th>Created Date</th>
        <th>Edit-Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for item in lost_break_items %}
      <tr>
        <td data-label="Image">
          <div>
            {% if not item.item.image %}
            <img src=" {{ url_for('static', filename='/images/image.png' ) }}" width="70">
            {% else %}
            <img src="{{ url_for('items.image', item_id=item.item.id, filename=item.item.image.filename) }}" width="70">
            {% endif %}
          </div>
        </td>
        <td data-label="Item">{{ item.item.name}}</td>
        <td data-label="Description">{{ item.description }}</td>
        <td data-label="Quantity">{{ item.quantity }}</td>
        <td data-label="Warehouse">{{ item.warehouse.name }}</td>
        <td data-label="User">{{ item.user.first_name }} {{ item.user.last_name }}</td>
        <td data-label="Registeration Date">{{ item.created_date.strftime('%d/%m/%Y %H:%M:%S') }}</td>
        <td>
          <a class="ui icon button" href="{{ url_for('lost_breaks.edit', lost_break_item_id=item.id) }}"
            style=" color: white; background-color: rgb(59, 115, 199);">
            <i class="edit icon"></i>
          </a>
          <a class="ui icon button" href="{{ url_for('lost_breaks.delete', lost_break_item_id=item.id) }}"
            style="color: white; background-color: rgb(192, 55, 55);">
            <i class="trash icon"></i>
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}