{% extends '/base/template-page-login.html' %}
{% import '/base/components/forms.html' as render_form %}
{% import 'base/html-renderer.html' as renderer %}
{% import '/base/components/paginations/pagination.html' as paginated%}

{% block title %}วัสดุชำรุด หรือ สูญหาย{% endblock %}
{% block dashboard_title %}วัสดุชำรุด หรือ สูญหาย{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block content %}
<div class="flex flex-row w-full justify-between">
  <div class="flex justify-start w-full gap-2">
    <a class="ui primary labeled icon button" href="{{ url_for('lost_breaks.add', organization_id=organization.id) }}">
      <i class="ph ph-plus"></i>
      เพิ่มวัสดุชำรุด/สูญหาย
    </a>
  </div>
</div>
<form method="post" class="segment mt-4 border border-base-300 bg-base-100 rounded-2xl p-6 shadow-sm">
  <div class="flex flex-row justify-between w-full gap-2">

    {{ form.hidden_tag() }}
    {{ renderer.render_field(form.name) }}
    {{ renderer.date_range_field(form.start_date, form.end_date)}}

  </div>

  <div class="flex flex-row w-full justify-between">
    <div class="flex justify-start w-full gap-2">
      <button type="submit" class="btn btn-primary">ค้นหา</button>
    </div>
  </div>
  {% if lost_break_items %}
  <div class="segment mt-4 border border-base-300 bg-base-100 rounded-2xl p-6 shadow-sm">
    <div class="overflow-x-auto mt-2 rounded-xl">
      <table class="table-auto w-full">
        <thead>
          <tr>
            <th class="table-style">รูปวัสดุ</th>
            <th class="table-style">ชื่อวัสดุ</th>
            <th class="table-style">คำอธิบาย</th>
            <th class="table-style">จำนวนทั้งหมด</th>
            <th class="table-style">คลังวัสดุ</th>
            <th class="table-style">ชื่อผู้ใช้งาน</th>
            <th class="table-style">วันที่วัสดุชำรุดหรือสูญหาย</th>
            <th class="table-style">แก้ไข/ลบข้อมูล</th>
          </tr>
        </thead>
        <tbody>
          {% for item in paginated_lost_break_items.items %}

          {% if calendar_select %}
          {% if check_in_time(item.created_date,calendar_select,calendar_end) %}
          <tr>
            <td class="table-style" data-label="Image" class="center aligned">
              <div>
                {% if not item.item.image %}
                <img src=" {{ url_for('static', filename='/images/image.png' ) }}" width="70">
                {% else %}
                <img
                  src="{{ url_for('items.image', item_id=item.item.id, filename=item.item.image.filename, organization_id=organization.id) }}"
                  width="70">
                {% endif %}
              </div>
            </td>
            <td class="table-style" data-label="Item">{{ item.item.name}}</td>
            <td class="table-style" data-label="Description">{{ item.description }}</td>
            <td class="table-style" data-label="Quantity">{{ item.quantity }}</td>
            <td class="table-style" data-label="Warehouse">{{ item.warehouse.name }}</td>
            <td class="table-style" data-label="User">{{ item.user.first_name }} {{ item.user.last_name }}</td>
            <td class="table-style" data-label="Registeration Date">
              {{ item.created_date.strftime('%d/%m/%Y %H:%M:%S') }}
            </td>
            <td class="table-style">
              <a class="btn btn-circle"
                href="{{ url_for('lost_breaks.edit', lost_break_item_id=item.id, organization_id=organization.id) }}"
                style=" color: white; background-color: rgb(59, 115, 199);">
                <i class="ph ph-pen"></i>
              </a>
              <a class="btn btn-circle btn-error"
                href="{{ url_for('lost_breaks.delete', lost_break_item_id=item.id, organization_id=organization.id) }}">
                <i class="ph ph-trash"></i>
              </a>
            </td>
          </tr>
          {% endif %}
          {% else %}
          <tr>
            <td class="table-style" data-label="Image" class="center aligned">
              <div>
                {% if not item.item.image %}
                <img src=" {{ url_for('static', filename='/images/image.png' ) }}" width="70">
                {% else %}
                <img
                  src="{{ url_for('items.image', item_id=item.item.id, filename=item.item.image.filename, organization_id=organization.id) }}"
                  width="70">
                {% endif %}
              </div>
            </td>
            <td class="table-style" data-label="Item">{{ item.item.name}}</td>
            <td class="table-style" data-label="Description">{{ item.description }}</td>
            <td class="table-style" data-label="Quantity">{{ item.quantity }}</td>
            <td class="table-style" data-label="Warehouse">{{ item.warehouse.name }}</td>
            <td class="table-style" data-label="User">{{ item.user.first_name }} {{ item.user.last_name }}</td>
            <td class="table-style" data-label="Registeration Date">
              {{ item.created_date.strftime('%d/%m/%Y %H:%M:%S') }}
            </td>
            <td class="table-style">
              <a class="btn btn-circle"
                href="{{ url_for('lost_breaks.edit', lost_break_item_id=item.id, organization_id=organization.id) }}"
                style=" color: white; background-color: rgb(59, 115, 199);">
                <i class="ph ph-pen"></i>
              </a>
              <a class="btn btn-circle btn-primary" style="color: white;" onclick="showDeleteModal('{{ item.id }}')">
                <i class="ph ph-trash"></i>
              </a>
              <div role="dialog" class="modal {{item.id}}">
                <div class="text-2xl font-bold">
                  ลบข้อมูลวัสดุชำรุด หรือ สูญหาย
                </div>
                <div class=" modal-box">
                  <p>ต้องการลบข้อมูลวัสดุชำรุด หรือ สูญหาย
                    <b>{{ item.item.name }}</b>
                  </p>
                </div>
                <div class="modal-action">
                  <button class="btn">
                    ยกเลิก
                  </button>
                  <a class="btn-error btn"
                    href="{{ url_for('lost_breaks.delete', lost_break_item_id=item.id, organization_id=organization.id) }}">
                    ยืนยัน
                    <i class="ph ph-check"></i>
                  </a>
                </div>
              </div>
            </td>
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>
      </table>
      {% if paginated_lost_break_items.pages != 1 %}

      {{ paginated.render_pagination(paginated_lost_break_items,"lost_breaks.index")}}

      {% endif %}
    </div>
  </div>
  {% else %}
  <div class="ui message">ไม่มีข้อมูลการทำรายการในขณะนี้</div>
  {% endif %}
</form>
{% endblock %}

{% block additional_js %}
<script type="text/javascript">

  function showDeleteModal(item_id) {
    item_id ? $('.ui.modal.' + item_id).modal('show') : $('.ui.modal').modal('hide')
      ;
  }
</script>
<script type="text/javascript">
  datetime_formatter = {
    date: "DD/MM/YYYY"
  };
  var calendar_setting = {
    type: 'date',
    monthFirst: false,
    formatter: datetime_formatter,
    today: false,
    ampm: false,
    text: {
      days: ['อา', 'จ', 'อ', 'พ', 'พฤ', 'ศ', 'ส'],
      months: ['มกราคม', 'กุมภาพันธ์', 'มีนาคม', 'เมษายน', 'พฤษภาคม', 'มิถุนายน', 'กรกฎาคม', 'สิงหาคม', 'กันยายน', 'ตุลาคม', 'พฤษจิกายน', 'ธันวาคม'],
      monthsShort: ['ม.ค.', 'ก.พ.', 'มี.ค.', 'เม.ย.', 'พ.ค.', 'มิ.ย.', 'ก.ค.', 'ส.ค.', 'ก.ย.', 'ต.ค.', 'พ.ย.', 'ธ.ค.'],
      today: 'วันนี้',
      now: 'ปัจจุบัน',
      am: 'AM',
      pm: 'PM'
    },
  };
  $('#start_date').calendar(calendar_setting);
  $('#end_date').calendar(calendar_setting);

  $(document)
    .ready(function () {
      $('.ui.dropdown.validate.selection')
        .dropdown({
          allowAdditions: true,
          fullTextSearch: 'exact'
        });
    });
</script>
{% endblock %}