{% extends '/base/default-dashboard.html' %}

{% block dashboard_title %}
ข้อมูลผู้ใช้งาน
{% endblock %}

{% block breadcrumbs %}
<a href="{{ url_for('accounts.index') }}" class="section">บัญชีผู้ใช้งาน</a>
{% endblock %}


{% block content %}
<div class="ui container" style="width: 100%;">
  <div class="ui segment">
    <h2 class="ui header">ข้อมูลผู้ใช้งาน <a class="btn-floating btn-large waves-effect waves-light"
        href="{{ url_for('accounts.edit_profile') }}" title='Edit profile.'><i class="edit icon"></i></a>
    </h2>
    <div class="ui grid two column">
      <div class="column">
        <h3>{{ current_user.first_name }}</h3>
      </div>
      <div class="column">
        <h3>{{ current_user.last_name }}</h3>
      </div>
      <div class="column">
      <h3><b>องค์กร:</b> {{ current_user.metadata['organization'] }}</h3>
      </div>
    </div>
  </div>
</div>
{% endblock %}