{% extends '/base/default-dashboard.html' %}

{% block dashboard_title %}
Profile
{% endblock %}

{% block breadcrumbs %}
<a href="{{ url_for('accounts.index') }}" class="section">Accounts</a>
{% endblock %}


{% block content %}
<div class="ui container">
  <div class="ui segment">
    <h2 class="ui header">Profile <a class="btn-floating btn-large waves-effect waves-light" href="{{ url_for('accounts.edit_profile') }}" title='Edit profile.'><i class="edit icon"></i></a>
    </h2>
    <div class="ui grid two column">
      <div class="column">
        {{ current_user.first_name }}
      </div>
      <div class="column">
        {{ current_user.last_name }}
      </div>
      <div class="column">
        {{ current_user.metadata['thai_first_name'] }}
      </div>
      <div class="column">
        {{ current_user.metadata['thai_last_name'] }}
      </div>
      <div class="column">
        <b>Student ID:</b> {{ current_user.metadata['student_id'] }}
      </div>
      <div class="column">
        <b>Organization:</b> {{ current_user.metadata['organization'] }}
      </div>
    </div>
  </div>
</div>
{% endblock %}
