{% extends "/base/default-page.html" %}

{% block title %}เข้าสู่ระบบ% endblock %}

{% block content %}
<div class="ui middle aligned center aligned grid" style="height: 500px">
  <div class="column">
    <h2 class="ui image header" style="font-size: 3em;">
      <i class="ui icon sun big" ></i> <br/>
      {# <img src="{{ url_for('static', filename='images/lotus-full-500px.png') }}" width="200px"> #}
      <div class="content">
        เข้าสู่ระบบ
      </div>
    </h2>
    <div>
      <div class="ui large vertical buttons" >
        <div class="row" style="padding-top: 10px;">
          <div class="column header" style="text-align: left;">
            <h3>สำหรับสมาชิกคณะวิศวกรรมศาสตร์ ม.อ.</h3>
          </div>
        </div>
        {#
        <div class="row" style="padding-top: 5px;">
          <a class="ui labeled icon button primary huge" href="{{ url_for('accounts.login_engpsu') }}">
            <i class="user icon"></i>
            PSU Passport by Eng
          </a>
        </div>
        <div class="row" style="padding-top: 20px;">
          <div class="column header" style="text-align: left;">
            <h3>Other</h3>
          </div>
        </div>
        #} 
        <div class="row" style="padding-top: 5px;">
          <a class="ui labeled icon red button huge" href="{{ url_for('loginpass.login', name='google') }}">
            <i class="google icon"></i>
            Google
          </a>
        </div>
        
      </div>
    </div>
  </div>
</div>


{% endblock %}
