{% extends "/base/default-page.html" %}

{% block title %}เข้าสู่ระบบ
{% endblock %}

{% block content %}
<div class="ui middle aligned center aligned grid" style="padding-bottom: 15rem;">
  <div class="column">
    <h2 class="ui image" style="font-size: 3em;">
      <div style="height: 20rem;">
        <img class="big ui image" src="../static/images/diis_psu.png" alt="diis-psu">
      </div>
      <div class="content" style="padding-top: 2rem;">
        เข้าสู่ระบบ
      </div>
    </h2>
    <div>
      <div class="ui large vertical buttons">
        <div class="row">
          <div class="column header" style="text-align: left;">
            <h3></h3>
          </div>
        </div>

        <div class="row" style="padding-top: 5px;">
          <a class="ui labeled icon button primary huge" href="{{ url_for('accounts.login_oauth', name='psu') }}">
            <i class="user icon"></i>
            PSU Passport
          </a>
        </div>

        {#}
        <div class="row" style="padding-top: 5px;">
          <a class="ui labeled icon red button huge" href="{{ url_for('accounts.login_oauth', name='google') }}">
            <i class="google icon"></i>
            Google
          </a>
        </div>
        {#}
      </div>
    </div>
  </div>
</div>
{% endblock %}