{% extends '/vehicle_lending/base/default-car-page.html' %}
{% import '/base/components/forms.html' as render_form %}
{% import '/base/components/paginations/pagination.html' as paginated %}

{% block title %}
{{ "เพิ่มการขอใช้รถยนต์" if "edit" not in request.path else "แก้ไขรายละเอียดการขอใช้รถยนต์" }}
{% endblock %}

{% block dashboard_title %}
{{ "เพิ่มการขอใช้รถยนต์" if "edit" not in request.path else "แก้ไขรายละเอียดการขอใช้รถยนต์"}}
{% endblock %}

{% block breadcrumbs %}
{{ RenderBreadcrumb([
("การขอใช้รถยนต์", url_for('vehicle_lending.car_applications.index', organization_id=organization.id) ),
( "เพิ่มการขอใช้รถยนต์" if "edit" not in request.path else "แก้ไขรายละเอียดการขอใช้รถยนต์", "")]) }}
{% endblock %}

{% block content %}
<div class="ui secondary" style="padding-bottom: 10px;">
  <div class="flex justify-start w-full gap-2">
    <a class="btn  btn-primary"
      href='{{ url_for("vehicle_lending.car_applications.index", organization_id=organization.id) }}'>
      <i class="ph ph-arrow-u-up-left"></i>
      ย้อนกลับ
    </a>
  </div>
</div>
<form method="post" class="segment mt-4 border border-base-300 bg-base-100 rounded-2xl p-6 shadow-sm">
  <div class="flex flex-row justify-between w-full gap-2">
    {{form.csrf_token }}
    {{renderer.render_field(form.request_reason)}}
  </div>
  <div class="flex flex-row justify-between w-full gap-2">
    {{renderer.render_field(form.location)}}
  </div>
  <div class="flex flex-row justify-between w-full gap-2">
    {{ renderer.render_select_field(form.car, clearable=false) }}
    {{ renderer.render_field(form.passenger_number) }}
  </div>
  <div class="flex flex-row justify-between w-full gap-2">
    {{ renderer.render_radio(form.using_type) }}
    {{ renderer.render_radio(form.travel_type) }}
  </div>

  <!-- {{ render_form.RadioField(form.travel_type) }}
  {{ render_form.RadioField(form.using_type) }} -->

  <div class="flex flex-row w-full gap-2">
    {{renderer.date_field_js(form.departure_date) }}
    {{renderer.time_field(form.departure_time) }}


  </div>
  <div class="flex flex-row justify-between w-full gap-2 items-end" id="return_datetime">
    {{renderer.date_field_js(form.return_date) }}
    {{renderer.time_field(form.return_time) }}
  </div>
  <div class="flex flex-row justify-between w-full gap-2" id="flight_datetime">
    {{renderer.render_field(form.flight_number) }}
    {{renderer.time_field(form.flight_time) }}
  </div>
  <div class="flex flex-row justify-between w-full gap-2" id="flight_return_field">
    {{renderer.render_field(form.flight_return_number) }}
    {{renderer.time_field(form.flight_return_time) }}
  </div>
  <div class="flex flex-row w-full justify-between">
    <div class="flex justify-start w-full gap-2">
      <button type="submit" class="btn btn-primary">ยืนยัน</button>
    </div>
  </div>
</form>
{% endblock %}


{% block additional_js %}
<script type="text/javascript">
  $(document).ready(function () {

    function toggleReturnDate() {
      let travelType = $("input[name='travel_type']:checked").val();
      let return_dateField = $("#return_date");
      let return_timeField = $("#return_time");

      if (travelType === "one way") {
        $("#return_datetime").hide();
        return_dateField.prop("required", false);
        return_timeField.prop("required", false);
      } else {
        $("#return_datetime").show();
        return_dateField.prop("required", true);
        return_timeField.prop("required", true);
      }
    }

    $("input[name='travel_type']").change(toggleReturnDate);

    toggleReturnDate();
  });
</script>
<script type="text/javascript">
  $(document).ready(function () {

    function toggleFlightDate() {
      let travelType = $("input[name='travel_type']:checked").val();
      let usingType = $("input[name='using_type']:checked").val();

      let flight_numberField = $("#flight_number");
      let flight_timeField = $("#flight_time");

      let flight_numberReturnField = $("#flight_return_number");
      let flight_timeReturnField = $("#flight_return_time");

      if (usingType === "airport transfer") {
        $("#flight_datetime").show();
        flight_numberField.prop("required", true);
        flight_timeField.prop("required", true);

      } else {
        $("#flight_datetime").hide();
        flight_numberField.prop("required", false);
        flight_timeField.prop("required", false);

      }

      if ((travelType === "round trip") && (usingType === "airport transfer")) {
        $("#flight_return_field").show();
        flight_numberReturnField.prop("required", true);
        flight_timeReturnField.prop("required", true);

      } else {
        $("#flight_return_field").hide();
        flight_numberReturnField.prop("required", false);
        flight_timeReturnField.prop("required", false);
      }
    }

    $("input[name='using_type']").change(toggleFlightDate);
    $("input[name='travel_type']").change(toggleFlightDate);

    toggleFlightDate();
  });
</script>
{% endblock %}