{% extends '/vehicle_lending/base/default-car-page.html' %}
{% import '/base/components/forms.html' as render_form %}
{% import '/base/components/paginations/pagination.html' as paginated %}

{% block title %}
{{ "เพิ่มการขอใช้รถยนต์" if "edit" not in request.path else "แก้ไขรายละเอียดการขอใช้รถยนต์" }}
{% endblock %}

{% block dashboard_title %}
{{ "เพิ่มการขอใช้รถยนต์" if "edit" not in request.path else "แก้ไขรายละเอียดการขอใช้รถยนต์"}}
{% endblock %}

{% block breadcrumbs %}
{{ RenderBreadcrumb([
("การขอใช้รถยนต์", url_for('vehicle_lending.car_applications.index', organization_id=organization.id) ),
( "เพิ่มการขอใช้รถยนต์" if "edit" not in request.path else "แก้ไขรายละเอียดการขอใช้รถยนต์", "")]) }}
{% endblock %}

{% block content %}
<div class="ui secondary" style="padding-bottom: 10px;">
  <div class="flex justify-start w-full gap-2">
    <a class="btn  btn-primary"
      href='{{ url_for("vehicle_lending.car_applications.index", organization_id=organization.id) }}'>
      <i class="ph ph-arrow-u-up-left"></i>
      ย้อนกลับ
    </a>
  </div>
</div>
<form method="post" class="segment mt-4 border border-base-300 bg-base-100 rounded-2xl p-6 shadow-sm">
  {{form.csrf_token }}
  <div class="flex flex-row justify-between w-full gap-2">
    {{ renderer.render_radio(form.using_type) }}
    <div id="travel_type_field" class="w-full">
      {{ renderer.render_radio(form.travel_type) }}
    </div>
    <div id="airport_transfer_type_field" class="w-full" style="display: none;">
      {{ renderer.render_radio(form.airport_transfer_type) }}
    </div>
  </div>

  <!-- {{ render_form.RadioField(form.travel_type) }}
  {{ render_form.RadioField(form.using_type) }} -->

  <div class="flex flex-col w-full gap-2 md:flex-row">
    {{renderer.date_field_js(form.departure_date) }}
    {{renderer.time_field(form.departure_time) }}


  </div>
  <div class="flex flex-col justify-between w-full gap-2 items-end md:flex-row" id="return_datetime">
    {{renderer.date_field_js(form.return_date) }}
    {{renderer.time_field(form.return_time) }}
  </div>
  <div class="flex flex-col justify-between w-full gap-2 md:flex-row" id="flight_datetime">
    {{renderer.render_field(form.flight_number) }}
    {{renderer.time_field(form.flight_time) }}
  </div>
  <div class="flex flex-col justify-between w-full gap-2 md:flex-row" id="flight_return_field">
    {{renderer.render_field(form.flight_return_number) }}
    {{renderer.time_field(form.flight_return_time) }}
  </div>
  <div class="divider"></div>
  <div class="flex flex-row justify-between w-full gap-2">
    {{renderer.render_field(form.request_reason)}}
  </div>
  <div class="flex flex-row justify-between w-full gap-2" id="location_field_row">
    {{renderer.render_field(form.location)}}
  </div>
  <div class="flex flex-row justify-between w-full gap-2">
    {{renderer.render_field(form.passenger_location)}}
  </div>
  <div class="flex flex-row justify-between w-full gap-2">
    {{ renderer.render_select_field(form.car, clearable=false) }}
    {{ renderer.render_field(form.passenger_number) }}
  </div>
  
  <div class="flex flex-row w-full justify-between">
    <div class="flex justify-start w-full gap-2">
      <button type="submit" class="btn btn-primary">ยืนยัน</button>
    </div>
  </div>
</form>
{% endblock %}


{% block additional_js %}
<script type="text/javascript">
  $(document).ready(function () {
    function updateFormVisibility() {
      let usingType = $("input[name='using_type']:checked").val();
      let travelType = $("input[name='travel_type']:checked").val();
      let airportTransferType = $("input[name='airport_transfer_type']:checked").val();
      let returnDatetime = $("#return_datetime");
      let flightDatetime = $("#flight_datetime");
      let flightReturnField = $("#flight_return_field");
      let travelTypeField = $("#travel_type_field");
      let airportTransferTypeField = $("#airport_transfer_type_field");

      let returnDateField = $("#return_date");
      let returnTimeField = $("#return_time");
      let flightNumberField = $("#flight_number");
      let flightTimeField = $("#flight_time");
      let flightReturnNumberField = $("#flight_return_number");
      let flightReturnTimeField = $("#flight_return_time");
      let locationField = $("#location");
      let locationFieldRow = $("#location_field_row");

      [returnDateField, returnTimeField, flightNumberField, flightTimeField, flightReturnNumberField, flightReturnTimeField].forEach(function(field) {
        field.prop("required", false);
      });

      if (usingType === "airport transfer") {
        travelTypeField.hide();

        airportTransferTypeField.show();
        locationFieldRow.hide();
        locationField.val("สนามบินหาดใหญ่");
        returnDatetime.hide();

        if (airportTransferType === "pickup") {
            flightDatetime.hide();
            flightReturnField.show();
            flightReturnNumberField.prop("required", true);
            flightReturnTimeField.prop("required", true);
        } else if (airportTransferType === "dropoff") {
            flightDatetime.show();
            flightReturnField.hide();
            flightNumberField.prop("required", true);
            flightTimeField.prop("required", true);
        } else {
            flightDatetime.hide();
            flightReturnField.hide();
        }
      } else {
        travelTypeField.show();
        airportTransferTypeField.hide();
        locationFieldRow.show();

        flightDatetime.hide();
        flightReturnField.hide();
        
        if (locationField.val() === "สนามบินหาดใหญ่") {
            locationField.val("");
        }

        if (travelType === "round trip") {
          returnDatetime.show();
          returnDateField.prop("required", true);
          returnTimeField.prop("required", true);
        } else {
          returnDatetime.hide();
        }
      }
    }

    $("input[name='using_type']").change(updateFormVisibility);
    $("input[name='travel_type']").change(updateFormVisibility);
    $("input[name='airport_transfer_type']").change(updateFormVisibility);

    updateFormVisibility();
  });
</script>
{% endblock %}