{% extends '/vehicle_lending/base/default-car-page.html' %}
{% import '/base/components/forms.html' as render_form %}
{% import '/base/components/paginations/pagination.html' as paginated %}


{% block title %}คำขอใช้รถยนต์{% endblock %}
{% block dashboard_title %}คำขอใช้รถยนต์{% endblock %}

{% block breadcrumbs %}

{% endblock %}

{% block content %}
<div class="flex flex-row w-full justify-between">
  <div class="flex justify-end w-full gap-2">
    <a class="btn btn-primary"
      href="{{ url_for('vehicle_lending.car_applications.create_or_edit', organization_id=organization.id) }}">
      <i class="ph ph-plus"></i>
      เพิ่มคำขอใช้รถยนต์
    </a>
  </div>
</div>

<div class="segment mt-4 border border-base-300 bg-base-100 rounded-2xl p-6 shadow-sm ">
  <div class="overflow-x-auto mt-2 rounded-xl">
    {% if paginated_car_applications.total %}
    <table class="table-auto w-full">
      <thead>
        <tr>
          <th class="table-style"></th>
          <th class="table-style">วันที่ต้องการใช้</th>
          <th class="table-style">เหตุผลที่ต้องการใช้</th>
          <th class="table-style">ชื่อผู้ใช้งาน</th>
          <th class="table-style">สถานะ</th>
          <th class="table-style">เหตุผล</th>
          <th class="table-style">จัดการ</th>

        </tr>
      </thead>
      <tbody>
        {% for car_application in paginated_car_applications.items %}
        <tr>
          <td class="table-style"> {{ loop.index }}</td>
          <td class="table-style" data-label="Created Date">
            {{ car_application.departure_datetime.strftime('%d/%m/%Y %H:%M:%S') }}
          </td>
          <td class="table-style" data-label="Description">{{ car_application.request_reason }}</td>
          <td class="table-style" data-label="User">{{ car_application.creator.get_name() }}</td>



          {{ car_application.get_status()|safe }}

          <td class="table-style">
            {{ car_application.remark }}
          </td>
          <td class="table-style">
            {% if 'pending' in car_application.status %}
            <a class="btn btn-circle btn-primary" data-tip="แก้ไข"
              href="{{ url_for('vehicle_lending.car_applications.create_or_edit', car_application_id=car_application.id, organization_id=organization.id) }}">
              <i class="ph ph-pen"></i>
            </a>
            {% endif %}

            <a class="btn btn-circle btn-error {{ 'disabled' if car_application.status == 'active' else ''}}"
              data-tip="ลบ" onclick="showDeleteModal('{{ car_application.id }}')">
              <i class="ph ph-trash"></i>
            </a>

            {{ ModalNegative(
              id=car_application.id,
              header="ลบคำขอใช้รถยนต์",
              body="ต้องการลบคำขอใช้รถยนต์ <b> %s </b>" | format(car_application.description),
              cancel="ยกเลิก",
              submit="ยืนยัน",
              redirect=url_for('vehicle_lending.car_applications.delete', car_application_id=car_application.id, organization_id=organization.id),
              ) }}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% else %}
<div class="flex w-full justify-center py-6 text-xl"> ไม่พบข้อมูลในขณะนี้</div>
{% endif %}
{% endblock %}