{% extends '/inventories/index.html' %}
{% import '/base/pagination.html' as paginated %}

{% block title %}รายการบิลวัสดุ{% endblock %}
{% block dashboard_title %}รายการบิลวัสดุ{% endblock %}

{% block breadcrumbs %}
{{ RenderBreadcrumb([
("นำเข้าวัสดุ", url_for("item_registers.index", organization_id=organization.id)),
('รายการบิลวัสดุ', "")]) }}
{% endblock %}

{% block content %}
<div class="navbarmenu">
  <div class="left menu">
    <a class="ui labeled icon button" href="{{ url_for('item_registers.index', organization_id=organization.id) }}">
      <i class="left arrow icon"></i>
      ย้อนกลับ
    </a>
  </div>
  {% if item_register.status == "pending" %}

  <div class="right menu">
    <div class="ui dropdown button labeled icon">
      <i class="wrench icon"></i>
      การจัดการ

      <div class="menu" style=" flex-direction: column !important;">

        <a class="item" style="width: 100%;" onclick="showConfirmModal('{{ item_register.id }}')"><span
            class="ui green text">
            <i class="check icon"></i>
            ยืนยันการนำเข้าวัสดุ</span></a>
        <a class="item" style="width: 100%;"
          href="{{ url_for('inventories.upload_file_inventory_info', item_register_id=item_register.id, organization_id=organization.id) }}">
          <span class="ui primary text">
            <i class="file upload icon"></i>
            อัพโหลดไฟล์
          </span>
        </a>
        <a class="item" style="width: 100%;"
          href="{{ url_for('inventories.download_template_inventory_file', organization_id=organization.id) }}">
          <span class="ui primary text">
            <i class="file download icon"></i>
            ดาวน์โหลดรูปแบบนำเข้าวัสดุ
          </span>
        </a>

      </div>
    </div>
  </div>
  {% endif %}

</div>


<div class="ui modal {{item_register.id}}">
  <div class="header">
    ยืนยันการนำเข้าวัสดุ
  </div>
  <div class="content">
    <p>ต้องการยืนยันการนำเข้าวัสดุ
      <br />
      เลขกำกับใบเสร็จ :
      <b>{{ item_register.receipt_id }}</b>
      <br />
      รายละเอียด :
      <b>{{ item_register.description }}</b>
      <br />
      ร้านค้า :
      <b>{{ item_register.supplier.get_supplier_name() }}</b>
      <br />
      ผู้ลงทะเบียนวัสดุ :
      <b>{{ item_register.created_by.get_name() }}</b>
      <br />
      วันที่ลงทะเบียนวัสดุ :
      <b>{{ item_register.created_date.strftime('%d/%m/%Y %H:%M:%S') }}</b>
      <br />
      <span class="ui error text">คำเตือน : สามารถยืนยันการนำเข้าวัสดุได้ครั้งเดียวเท่านั้น
        และไม่สามารถแก้ไขรายละเอียดได้อีกต่อไป
        *โปรดตรวจสอบความถูกต้องก่อนยืนยัน*</span>
    </p>
  </div>
  <div class="actions">
    <button class="ui negative deny button">
      ยกเลิก
    </button>
    <a class="ui positive right labeled icon button"
      href="{{ url_for('item_registers.confirm_item_register', item_register_id=item_register.id, organization_id=organization.id) }}">
      ยืนยัน
      <i class="checkmark icon"></i>
    </a>
  </div>
</div>
{% if paginated_inventories.pages %}
<div>
  <table class="ui celled table">
    <thead>
      <tr>
        <th>รูปวัสดุ</th>
        <th>ชื่อวัสดุ</th>
        <th>วันที่ลงทะเบียนวัสดุ</th>
        <th>คลังวัสดุ</th>
        <th>จำนวนหน่วยใหญ่</th>
        <th>จำนวนหน่วยเล็ก</th>
        <th>จำนวนคงเหลือ</th>
        <th>ราคาแต่ละหน่วยใหญ่</th>
        <th>ราคาแต่ละหน่วยเล็ก</th>
        <th>ราคารวมทั้งหมด</th>
        {% if item_register.status == "pending" %}
        <th>แก้ไข/ลบข้อมูล</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for inventory in paginated_inventories.items %}
      <tr>
        <td data-label="Image" class="center aligned">
          <div>
            {% if not inventory.item.image %}
            <img src=" {{ url_for('static', filename='/images/image.png' ) }}" width="70">
            {% else %}
            <img
              src="{{ url_for('items.image', item_id=inventory.item.id, filename=inventory.item.image.filename, organization_id=organization.id) }}"
              width="70">
            {% endif %}
          </div>
        </td>
        <td data-label="Item Name">{{ inventory.item.name }}</td>
        <td data-label="Checkin Date">{{ inventory.get_created_date() }}</td>
        <td data-label="Warehouse">{{ inventory.warehouse.name }}</td>
        <td data-label="Set">{{ inventory.set_ }}</td>
        <td data-label="Quantity">{{ inventory.quantity }}</td>
        <td data-label="Remain">{{ inventory.remain }}</td>
        <td data-label="Price">{{ inventory.price }}</td>
        <td data-label="Price Per Piece">{{ inventory.get_price_per_piece() }}</td>
        <td data-label="All Price">{{ inventory.get_all_price() }}</td>
        {% if item_register.status == "pending" %}
        <td>
          <a class="ui icon button"
            href="{{ url_for('inventories.edit', inventory_id=inventory.id, organization_id=organization.id) }}"
            style=" color: white; background-color: rgb(59, 115, 199);">
            <i class="edit icon"></i>
          </a>
          <a class="ui icon button" onclick="showDeleteModal('{{ inventory.id }}')"
            style="color: white; background-color: rgb(192, 55, 55);">
            <i class="trash icon"></i>
          </a>
          <div class="ui modal {{inventory.id}}">
            <div class="header">
              ลบข้อมูลวัสดุในบิล
            </div>
            <div class="content">
              <p>ต้องการลบข้อมูลวัสดุ
                <b>{{ inventory.item.name }}</b>
              </p>
            </div>
            <div class="actions">
              <button class="ui black deny button">
                ยกเลิก
              </button>
              <a class="ui negative right labeled icon button"
                href="{{ url_for('inventories.delete', inventory_id=inventory.id, organization_id=organization.id) }}">
                ยืนยัน
                <i class="checkmark icon"></i>
              </a>
            </div>
          </div>
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% set params=dict(request.args) %}
  {% if 'page' in params %}
  {% set _dummy=params.pop('page') %}
  {% endif %}
  {% if paginated_inventories.pages != 1 %}
  <div class="ui grid">
    <div class="column row">
      <div class="center aligned column">
        {{paginated.render_pagination(paginated_inventories,"inventories.bill_item", params)}}
      </div>
    </div>
  </div>
  {% endif %}
</div>
{% else %}
<div class="ui message">ไม่มีข้อมูลการทำรายการในขณะนี้</div>
{% endif %}
{% endblock %}

{% block additional_js %}
<script type="text/javascript">

  function showDeleteModal(inventory_id) {
    inventory_id ? $('.ui.modal.' + inventory_id).modal('show') : $('.ui.modal').modal('hide')
      ;
  }

  function showConfirmModal(item_register_id) {
    item_register_id ? $('.ui.modal.' + item_register_id).modal('show') : $('.ui.modal').modal('hide')
      ;
  }
</script>
{% endblock %}