{% extends '/base/default-dashboard.html' %}

{% block title %}Inventory{% endblock %}
{% block dashboard_title %}Inventory{% endblock %}
{% block breadcrumbs %}
{% if request.endpoint == 'inventories.index' %}
<div class="active section">Inventory</div>
{% else %}
<a class="section" href="{{ url_for('inventories.index') }}">Inventory</a>
<div class="divider"> / </div>
{% endif %}
{% endblock %}

{% block content %}
<div>
  <table class="ui striped padded celled table">
    <thead>
      <tr>
        <th>Image</th>
        <th>Item Name</th>
        <th>Registration ID</th>
        <th>Registration Date</th>
        <th>Warehouse</th>
        <th>Position ( Rack / Row / Locker )</th>
        <th>Quantity</th>
        <th>Remain</th>
        <th>Price</th>
        <th>Bill</th>
        <th>User</th>
      </tr>
    </thead>
    <tbody>
      {% for inventory in inventories %}
      <tr>
        <td data-label="Image">
          <div>
            {% if not inventory.item.image %}
            <img src=" {{ url_for('static', filename='/images/image.png' ) }}" width="70">
            {% else %}
            <img src="{{ url_for('items.image', item_id=inventory.item.id, filename=inventory.item.image.filename) }}" width="70">
            {% endif %}
          </div>
        </td>
        <td data-label="Item Name">{{ inventory.item.name }}</td>
        <td data-label="Registrarion ID">{{ inventory.registration.receipt_id}}</td>
        <td data-label="Checkin Date">{{ inventory.registeration_date.strftime('%d/%m/%Y %H:%M:%S') }}</td>
        <td data-label="Warehouse">{{ inventory.warehouse.name }}</td>
        <td data-label="Position">{{ inventory.position.rack }} / {{ inventory.position.row }} / {{ inventory.position.locker }} </td>
        <td data-label="Quantity">{{ inventory.quantity }}</td>
        <td data-label="Remain">{{ inventory.remain }}</td>
        <td data-label="Price">{{ inventory.price }}</td>
        <td data-label="Bill">
          {% if not inventory.bill %}
          -
          {% else %}
          <a class="ui icon button">Show</a>
          {% endif %}
        </td>
        <td data-label="User">{{ inventory.user.first_name }} {{ inventory.user.last_name }}</td>
      </tr>
      <div class="bill modal" id="{{loop.index}}">
        <img src=" {{ url_for('inventories.bill', inventory_id=inventory.id, filename=inventory.bill.filename)}} " width="70%">
      </div>
      {% endfor %}
    </tbody>
  </table>
</div>


<script>
  $('.bill.modal')
  .modal('attach events', '.ui.icon.button', 'show')
;
</script>

{% endblock %}

{% block additional_js %}
<script type="text/javascript">
  $(".attach-file-bill").click(function () {
    $(this).parent().find("#bill").click();
  });

  $('#bill')
    .on('change', function (e) {
      var name = e.target.files[0].name;
      $('.attach-file-bill', $(e.target).parent()).val(name);
    });
</script>

{% endblock additional_js %}