{% extends '/base/template-page-login.html' %}
{% import '/base/html-renderer.html' as renderer %}
{% import '/base/components/paginations/pagination.html' as paginated %}
{% import '/base/components/forms.html' as render_form %}

{% block title %}รายการนำเข้าอุปกรณ์{% endblock %}
{% block dashboard_title %}รายการนำเข้าอุปกรณ์{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block content %}
<form method="post" class="segment mt-4 border border-base-300 bg-base-100 rounded-2xl p-6 shadow-sm">
  <div class="flex flex-row justify-between w-full gap-2">

    {{ form.hidden_tag() }}
    {{ renderer.render_search_select_field(form.item) }}
    {{ renderer.render_select_field(form.categories) }}
    {{ renderer.date_range_field(form.start_date, form.end_date)}}

  </div>
  <div class="flex flex-row w-full justify-between">
    <div class="flex justify-start w-full gap-2">
      <button type="submit" class="btn btn-primary">ค้นหา</button>
    </div>
  </div>
  <div>
    {% if inventories %}
    <table class="ui striped padded celled table">
      <thead>
        <tr>
          <th class="table-style">รูปอุปกรณ์</th>
          <th class="table-style">ชื่ออุปกรณ์</th>
          <th class="table-style">เลขลงทะเบียนอุปกรณ์</th>
          <th class="table-style">วันที่ลงทะเบียนอุปกรณ์</th>
          <th class="table-style">คลังอุปกรณ์</th>
          <th class="table-style">ตำแหน่ง ( ชั้นวาง / แถว / ตู้เก็บของ )</th>
          <th class="table-style">จำนวนชุด</th>
          <th class="table-style">จำนวนชิ้น</th>
          <th class="table-style">จำนวนคงเหลือ</th>
          <th class="table-style">ราคา (ชิ้นละ)</th>
          <th class="table-style">บิลอุปกรณ์</th>
          <th class="table-style">ผู้ใช้งาน</th>
        </tr>
      </thead>
      <tbody>
        {% for inventory in paginated_inventories.items %}
        <tr>
          <td class="table-style" data-label="Image" class="center aligned">
            <div>
              {% if not inventory.item.image %}
              <img src=" {{ url_for('static', filename='/images/image.png', organization_id=organization.id) }}"
                width="70">
              {% else %}
              <img
                src="{{ url_for('items.image', item_id=inventory.item.id, filename=inventory.item.image.filename, organization_id=organization.id) }}"
                width="70">
              {% endif %}
            </div>
          </td>
          <td class="table-style" data-label="Item Name">{{ inventory.item.name }}</td>
          <td class="table-style" data-label="Registrarion ID">
            <a
              href="{{ url_for('inventories.bill_item', item_register_id=inventory.registration.id, organization_id=organization.id) }}">{{
              inventory.registration.receipt_id}} <i class="ph ph-eye"></i>
            </a>
          </td>
          <td class="table-style" data-label="Checkin Date">{{ inventory.get_created_date() }}</td>
          <td class="table-style" data-label="Warehouse">{{ inventory.warehouse.name }}</td>
          <td class="table-style" data-label="Position">{{ inventory.position.rack }} / {{ inventory.position.row }} /
            {{
            inventory.position.locker }}
          </td>
          <td class="table-style" data-label="Set">{{ inventory.set_ }}</td>
          <td class="table-style" data-label="Quantity">{{ inventory.quantity }}</td>
          <td class="table-style" data-label="Remain">{{ inventory.remain }}</td>
          <td class="table-style" data-label="Price">{{ inventory.price }}</td>
          <td class="table-style">
            <a href="{{ url_for('inventories.bill', inventory_id=inventory.id, organization_id=organization.id) }}"
              target="_blank">
              {{inventory.get_bill_file_name() }}
            </a>
          </td>
          <td class="table-style" data-label="User">{{ inventory.created_by.get_name() }}</td>

          {% endfor %}
      </tbody>
    </table>
    {% if paginated_inventories.pages != 1 %}

    {{ paginated.render_pagination(paginated_inventories,"inventories.index")}}

    {% endif %}
    {% else %}
    <div class="flex w-full justify-center py-6 text-xl">ไม่มีข้อมูลการทำรายการในขณะนี้</div>
    {% endif %}
  </div>
</form>
{% endblock %}


{% block additional_js %}
<script type="text/javascript">
  datetime_formatter = {
    date: "DD/MM/YYYY"
  };
  var calendar_setting = {
    type: 'date',
    monthFirst: false,
    formatter: datetime_formatter,
    today: false,
    ampm: false,
    text: {
      days: ['อา', 'จ', 'อ', 'พ', 'พฤ', 'ศ', 'ส'],
      months: ['มกราคม', 'กุมภาพันธ์', 'มีนาคม', 'เมษายน', 'พฤษภาคม', 'มิถุนายน', 'กรกฎาคม', 'สิงหาคม', 'กันยายน', 'ตุลาคม', 'พฤษจิกายน', 'ธันวาคม'],
      monthsShort: ['ม.ค.', 'ก.พ.', 'มี.ค.', 'เม.ย.', 'พ.ค.', 'มิ.ย.', 'ก.ค.', 'ส.ค.', 'ก.ย.', 'ต.ค.', 'พ.ย.', 'ธ.ค.'],
      today: 'วันนี้',
      now: 'ปัจจุบัน',
      am: 'AM',
      pm: 'PM'
    },
  };
  $('#start_date').calendar(calendar_setting);
  $('#end_date').calendar(calendar_setting);

  $(document)
    .ready(function () {
      $('.ui.dropdown.validate.selection')
        .dropdown({
          allowAdditions: true,
          fullTextSearch: 'exact'
        });
    });
</script>
{% endblock %}