{% extends '/admin/base/default-dashboard.html' %}
{% import '/admin/base/html-renderer.html' as renderer %}
{% import '/admin/base/pagination.html' as paginated%}

{% block title %}วัสดุชำรุด หรือ สูญหาย{% endblock %}
{% block dashboard_title %}วัสดุชำรุด หรือ สูญหาย{% endblock %}

{% block breadcrumbs %}
{% if request.endpoint == 'lost_breaks.index' %}

<a class="ui primary button" href="{{ url_for('admin.lost_breaks.add') }}">
  เพิ่มวัสดุชำรุด/สูญหาย
</a>

{% else %}
<a class="section" href="{{ url_for('admin.lost_breaks.index') }}">เพิ่มวัสดุชำรุด/สูญหาย</a>
{% endif %}
{% endblock %}

{% block content %}
<form method="post">
  <div class="ui secondary menu">
    <p style="margin-left:auto;">
      {{form.hidden_tag()}}
      {{renderer.render_calendar_default(form.start_date, calendar_id="start_date")}}
    </p>
    <p style="margin-left:10px;">
      {{renderer.render_calendar_default(form.end_date, calendar_id="end_date")}}
    </p>
    <p>
      <button type="submit" class="ui primary button"
        style="height:fit-content; margin-top:auto; margin-left:15px; ">ยืนยัน</button>
    </p>
  </div>
  {% if lost_break_items %}
  <div style="padding-bottom: 1em ;">
    <table class="ui celled table">
      <thead>
        <tr>
          <th>รูปวัสดุ</th>
          <th>ชื่อวัสดุ</th>
          <th>คำอธิบาย</th>
          <th>จำนวนทั้งหมด</th>
          <th>คลังวัสดุ</th>
          <th>ชื่อผู้ใช้งาน</th>
          <th>วันที่วัสดุชำรุดหรือสูญหาย</th>
          <th>แก้ไข/ลบข้อมูล</th>
        </tr>
      </thead>
      <tbody>
        {% for item in paginated_lost_break_items.items %}

        {% if calendar_select %}
        {% if check_in_time(item.created_date,calendar_select,calendar_end) %}
        <tr>
          <td data-label="Image" class="center aligned">
            <div>
              {% if not item.item.image %}
              <img src=" {{ url_for('static', filename='/images/image.png' ) }}" width="70">
              {% else %}
              <img src="{{ url_for('admin.items.image', item_id=item.item.id, filename=item.item.image.filename) }}"
                width="70">
              {% endif %}
            </div>
          </td>
          <td data-label="Item">{{ item.item.name}}</td>
          <td data-label="Description">{{ item.description }}</td>
          <td data-label="Quantity">{{ item.quantity }}</td>
          <td data-label="Warehouse">{{ item.warehouse.name }}</td>
          <td data-label="User">{{ item.user.first_name }} {{ item.user.last_name }}</td>
          <td data-label="Registeration Date">{{ item.created_date.strftime('%d/%m/%Y %H:%M:%S') }}</td>
          <td>
            <a class="ui icon button" href="{{ url_for('admin.lost_breaks.edit', lost_break_item_id=item.id) }}"
              style=" color: white; background-color: rgb(59, 115, 199);">
              <i class="edit icon"></i>
            </a>
            <a class="ui icon button" href="{{ url_for('admin.lost_breaks.delete', lost_break_item_id=item.id) }}"
              style="color: white; background-color: rgb(192, 55, 55);">
              <i class="trash icon"></i>
            </a>
          </td>
        </tr>
        {% endif %}
        {% else %}
        <tr>
          <td data-label="Image" class="center aligned">
            <div>
              {% if not item.item.image %}
              <img src=" {{ url_for('static', filename='/images/image.png' ) }}" width="70">
              {% else %}
              <img src="{{ url_for('admin.items.image', item_id=item.item.id, filename=item.item.image.filename) }}"
                width="70">
              {% endif %}
            </div>
          </td>
          <td data-label="Item">{{ item.item.name}}</td>
          <td data-label="Description">{{ item.description }}</td>
          <td data-label="Quantity">{{ item.quantity }}</td>
          <td data-label="Warehouse">{{ item.warehouse.name }}</td>
          <td data-label="User">{{ item.user.first_name }} {{ item.user.last_name }}</td>
          <td data-label="Registeration Date">{{ item.created_date.strftime('%d/%m/%Y %H:%M:%S') }}</td>
          <td>
            <a class="ui icon button" href="{{ url_for('admin.lost_breaks.edit', lost_break_item_id=item.id) }}"
              style=" color: white; background-color: rgb(59, 115, 199);">
              <i class="edit icon"></i>
            </a>
            <a class="ui icon button" style="color: white; background-color: rgb(192, 55, 55);"
              onclick="showDeleteModal('{{ item.id }}')">
              <i class="trash icon"></i>
            </a>
            <div class="ui modal {{item.id}}">
              <div class="header">
                ลบข้อมูลวัสดุชำรุด หรือ สูญหาย
              </div>
              <div class="content">
                <p>ต้องการลบข้อมูลวัสดุชำรุด หรือ สูญหาย
                  <b>{{ item.item.name }}</b>
                </p>
              </div>
              <div class="actions">
                <button class="ui black deny button">
                  ยกเลิก
                </button>
                <a class="ui negative right labeled icon button"
                  href="{{ url_for('admin.lost_breaks.delete', lost_break_item_id=item.id) }}">
                  ยืนยัน
                  <i class="checkmark icon"></i>
                </a>
              </div>
            </div>
          </td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
    {% if paginated_lost_break_items.pages != 1 %}
    <div class="ui grid">
      <div class="column row">
        <div class="center aligned column">
          {{paginated.render_pagination(paginated_lost_break_items,"lost_breaks.index")}}
        </div>
      </div>
    </div>
    {% endif %}
  </div>
  {% else %}
  <div class="ui info message">ไม่มีข้อมูลการทำรายการในขณะนี้</div>
  {% endif %}
</form>
{% endblock %}

{% block additional_js %}
<script type="text/javascript">

  function showDeleteModal(item_id) {
    item_id ? $('.ui.modal.' + item_id).modal('show') : $('.ui.modal').modal('hide')
      ;
  }
</script>
<script type="text/javascript">
  datetime_formatter = {
    date: "DD/MM/YYYY"
  };
  var calendar_setting = {
    type: 'date',
    monthFirst: false,
    formatter: datetime_formatter,
    today: false,
    ampm: false,
    text: {
      days: ['อา', 'จ', 'อ', 'พ', 'พฤ', 'ศ', 'ส'],
      months: ['มกราคม', 'กุมภาพันธ์', 'มีนาคม', 'เมษายน', 'พฤษภาคม', 'มิถุนายน', 'กรกฎาคม', 'สิงหาคม', 'กันยายน', 'ตุลาคม', 'พฤษจิกายน', 'ธันวาคม'],
      monthsShort: ['ม.ค.', 'ก.พ.', 'มี.ค.', 'เม.ย.', 'พ.ค.', 'มิ.ย.', 'ก.ค.', 'ส.ค.', 'ก.ย.', 'ต.ค.', 'พ.ย.', 'ธ.ค.'],
      today: 'วันนี้',
      now: 'ปัจจุบัน',
      am: 'AM',
      pm: 'PM'
    },
  };
  $('#start_date').calendar(calendar_setting);
  $('#end_date').calendar(calendar_setting);

  $(document)
    .ready(function () {
      $('.ui.dropdown.validate.selection')
        .dropdown({
          allowAdditions: true,
          fullTextSearch: 'exact'
        });
    });
</script>
{% endblock %}