{% extends '/base/default-dashboard.html' %}
{% import '/base/html-renderer.html' as renderer %}
{% import '/base/pagination.html' as paginated %}

{% block dashboard_title %}
รายงานทั้งหมด
{% endblock %}

{% block breadcrumbs %}
<a class="ui button primary" href="{{ url_for('dashboard.download_all_report',organization_id=organization.id,
   search_quarter=search_quarter if search_quarter else form.quarter.data,
    search_categories=search_categories, search_item=search_item) }}">
  ดาวน์โหลดรายงานวัสดุคงเหลือ </a>
{% endblock %}

{% block content %}
<form method="post" style="padding-bottom: 0.5rem;">
  <div class="ui secondary menu">
    {{form.hidden_tag()}}
    <p style="margin-left:auto;">
      <label style="font-weight: bold; padding-right: 10px;">{{ form.item.label }}</label>
      {{ form.item(class="ui search dropdown clearable") }}
    </p>
    <p style="margin-left:10px;">
      <label style="font-weight: bold; padding-right: 10px;">{{ form.categories.label }}</label>
      {{ form.categories(class="ui search dropdown") }}
    </p>
    <p style="margin-left:10px;">
      <label style="font-weight: bold; padding-right: 10px;">{{ form.quarter.label }}</label>
      {{ form.quarter(class="ui search dropdown") }}
    </p>

    <p>
      <button type="submit" class="ui primary button"
        style="height:fit-content; margin-top:auto; margin-left:15px; ">ยืนยัน</button>
    </p>
  </div>
</form>
{% if items_snapshot %}
<div class="ui container" style="width: 100%;">
  <table class="ui celled table">
    <thead>
      <tr>
        <th>ลำดับ</th>
        <th>ชื่อวัสดุ</th>
        <th>หมวดหมู่</th>
        <th>คงเหลือ (หน่วยนับใหญ่)</th>
        <th>หน่วยนับใหญ่</th>
        <th>คงเหลือ (หน่วยนับเล็ก)</th>
        <th>หน่วยนับเล็ก</th>
        <th>ราคาหน่วยใหญ่</th>
        <th>ราคาหน่วยเล็ก</th>
        <th>รวมเป็นเงิน</th>
      </tr>
    </thead>
    <tbody>
      {% for item_snapshot in items_snapshot %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>{{ item_snapshot.item.name }}</td>
        <td>{{ item_snapshot.item.categories.name }}</td>
        <td>{{ item_snapshot.amount }}</td>
        <td>{{ item_snapshot.item.set_unit }}</td>
        <td>{{ (item_snapshot.get_amount_pieces()) if
          item_snapshot.item.item_format == "one to many" else "-" }}</td>
        <td>{{ (item_snapshot.item.piece_unit) if
          item_snapshot.item.item_format == "one to many" else "-" }}</td>
        <td>{{ item_snapshot.last_price if item_snapshot.last_price else "-" }} </td>
        <td>{{ (item_snapshot.last_price_per_piece if item_snapshot.last_price_per_piece else "-") if
          item_snapshot.item.item_format == "one to many" else "-" }}</td>
        <td>{{ item_snapshot.remaining_balance if item_snapshot.remaining_balance else "-" }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
<div class="ui info message">ไม่มีข้อมูลการทำรายการในขณะนี้</div>
{% endif %}
{% endblock content %}



{% block additional_js %}
<script type="text/javascript">
  datetime_formatter = {
    date: "DD/MM/YYYY"
  };
  var calendar_setting = {
    type: 'date',
    monthFirst: false,
    formatter: datetime_formatter,
    today: false,
    ampm: false,
    text: {
      days: ['อา', 'จ', 'อ', 'พ', 'พฤ', 'ศ', 'ส'],
      months: ['มกราคม', 'กุมภาพันธ์', 'มีนาคม', 'เมษายน', 'พฤษภาคม', 'มิถุนายน', 'กรกฎาคม', 'สิงหาคม', 'กันยายน', 'ตุลาคม', 'พฤษจิกายน', 'ธันวาคม'],
      monthsShort: ['ม.ค.', 'ก.พ.', 'มี.ค.', 'เม.ย.', 'พ.ค.', 'มิ.ย.', 'ก.ค.', 'ส.ค.', 'ก.ย.', 'ต.ค.', 'พ.ย.', 'ธ.ค.'],
      today: 'วันนี้',
      now: 'ปัจจุบัน',
      am: 'AM',
      pm: 'PM'
    },
  };
  $('#start_date').calendar(calendar_setting);
  $('#end_date').calendar(calendar_setting);

  $(document)
    .ready(function () {
      $('.ui.dropdown.validate.selection')
        .dropdown({
          allowAdditions: true,
          fullTextSearch: 'exact'
        });
    });
</script>
{% endblock %}