{% extends '/base/template-page-login.html' %}
{% import '/base/html-renderer.html' as renderer %}
{% import '/base/components/paginations/pagination.html' as paginated %}
{% import '/base/components/forms.html' as render_form %}

{% block dashboard_title %}
รายงานวัสดุคงเหลือ
{% endblock %}

{% block breadcrumbs %}
<a class="btn  btn-primary" href="{{ url_for('dashboard.download_all_report',organization_id=organization.id,
   search_quarter=search_quarter if search_quarter else form.quarter.data,
    search_categories=search_categories, search_item=search_item, 
    search_start_date=request.args.get('search_start_date') ,search_end_date=request.args.get('search_end_date')) }}">
  ดาวน์โหลดรายงานวัสดุคงเหลือ </a>
{% endblock %}

{% block content %}
<form method="post" class="segment mt-4 border border-base-300 bg-base-100 rounded-2xl p-6 shadow-sm">
  {{form.hidden_tag()}}
  <div class="flex flex-row justify-between w-full gap-2">
    {{ renderer.render_search_select_field(form.item) }}
    {{ renderer.render_select_field(form.categories) }}
  </div>

  <div class="flex flex-row justify-between w-full gap-2">
    {{ renderer.render_select_field(form.quarter) }}

    {{ renderer.date_range_field(form.start_date, form.end_date)}}

  </div>
  <div class="flex flex-row w-full justify-between">
    <div class="flex justify-end w-full gap-2">
      <a class="btn" href='{{  url_for("dashboard.all_report",organization_id=organization.id )}}'>
        ล้างการค้นหา
      </a>
      <button type="submit" class="btn btn-primary">ค้นหา</button>
    </div>
  </div>
</form>

{% if items_snapshot %}
<div class="segment mt-4 border border-base-300 bg-base-100 rounded-2xl p-6 shadow-sm">
  <div class="overflow-x-auto mt-2 rounded-xl">
    <table class="table-auto w-full">
      <thead>
        <tr>
          <th class="table-style">ลำดับ</th>
          <th class="table-style">ชื่อวัสดุ</th>
          <th class="table-style">หมวดหมู่</th>
          <th class="table-style">คงเหลือ (หน่วยนับใหญ่)</th>
          <th class="table-style">หน่วยนับใหญ่</th>
          <th class="table-style">คงเหลือ (หน่วยนับเล็ก)</th>
          <th class="table-style">หน่วยนับเล็ก</th>
          <th class="table-style">ราคาหน่วยใหญ่</th>
          <th class="table-style">ราคาหน่วยเล็ก</th>
          <th class="table-style">รวมเป็นเงิน</th>
          {% if current_user.has_roles(['admin']) %}
          <th class="table-style">คงเหลือหน้าเว็บ</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for item_snapshot in items_snapshot %}
        <tr>
          <td class="table-style">{{ loop.index }}</td>
          <td class="table-style">{{ item_snapshot.item.name }}</td>
          <td class="table-style">{{ item_snapshot.item.categories.name }}</td>
          <td class="table-style">{{ item_snapshot.get_amount() }}</td>
          <td class="table-style">{{ item_snapshot.item.set_unit }}</td>
          <td class="table-style">{{ (item_snapshot.get_pieces()) if
          item_snapshot.item.item_format == "one to many" else "-" }}</td>
          <td class="table-style">{{ (item_snapshot.item.piece_unit) if
          item_snapshot.item.item_format == "one to many" else "-" }}</td>
          <td class="table-style">{{ item_snapshot.last_price if item_snapshot.last_price else "-" }} </td>
          <td class="table-style">{{ (item_snapshot.last_price_per_piece if item_snapshot.last_price_per_piece else "-") if
          item_snapshot.item.item_format == "one to many" else "-" }}</td>
          <td class="table-style">{{ item_snapshot.get_all_price() if item_snapshot.get_all_price() else "-" }}</td>
          {% if current_user.has_roles(['admin']) %}
          <td class="table-style  {% if current_user.has_roles(['admin']) %} {{ 'bg-red-200' if item_snapshot.item.get_amount_pieces() != item_snapshot.get_amount_pieces() else '' }}" {% endif %}>{{ item_snapshot.item.get_amount_pieces() }}
          </td>
          {% endif %}

        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% else %}
<div class="flex w-full justify-center py-6 text-xl">ไม่มีข้อมูลการทำรายการในขณะนี้</div>
{% endif %}
{% endblock content %}