{% extends '/base/default-dashboard.html' %}
{% import '/base/html-renderer.html' as renderer %}

{% block title %}แดชบอร์ดรายวัน{% endblock %}
{% block dashboard_title %}
<div class="ui small left header" style="display:inline-block;">แดชบอร์ดรายวัน</div>
<div class="ui small right floated header">{{today_date}}</div>
{% endblock %}

{% block content %}

<head>
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
 
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>

<div class="row shadow-sm" style="margin-top: 30px; margin-left: auto; margin-right: auto;">
  <div class="col-6 col-sm-3">
    <div class="card text-white bg-success mb-3" style="max-width: 18rem; --bs-bg-opacity: .7">
      <div class="card-header">
        <ion-icon name="bag-add-outline" style="margin-right: 10px;"></ion-icon>
        จำนวนสินค้าทั้งหมด
      </div>
      <div class="card-body">
        <h5 class="card-title" style="text-align: center;">{{ item_quantity }} รายการ</h5>
        <p class="card-text">
          <a href="/item_registers/" class="text-white" style="text-decoration: none;"> [ เพิ่มเติม ]</a>
        </p>
      </div>
    </div>
  </div>

  <div class="col-6 col-sm-3">
    <div class="card text-white bg-info mb-3" style="max-width: 18rem; --bs-bg-opacity: .8;">
      <div class="card-header">
        <ion-icon name="cart-outline" style="margin-right: 10px;"></ion-icon>
        สินค้าที่ขาย
      </div>
      <div class="card-body">
        <h5 class="card-title" style="text-align: center;">{{ checkout_quantity }} รายการ</h5>
        <p class=" card-text">
          <a href="/item_orders/" class="text-white" style="text-decoration: none;"> [ เพิ่มเติม ]</a>
        </p>
      </div>
    </div>
  </div>


  <div class="col-6 col-sm-3">
    <div class="card text-white bg-warning mb-3" style="max-width: 18rem; --bs-bg-opacity: .7">
      <div class="card-header">
        <ion-icon name="bag-check-outline" style="margin-right: 10px;"></ion-icon>
        สินค้าคงเหลือ
      </div>
      <div class="card-body">
        <h5 class="card-title" style="text-align: center;">{{ item_remain }} รายการ</h5>
        <p class="card-text">
          <a href="/item_registers/" class="text-white" style="text-decoration: none;"> [ เพิ่มเติม ]</a>
        </p>
      </div>
    </div>
  </div>

  <div class="col-6 col-sm-3">
    <div class="card text-white bg-primary mb-3" style="max-width: 18rem; --bs-bg-opacity: .8">
      <div class="card-header">
        <ion-icon name="cash-outline" style="margin-right: 10px;"></ion-icon>
        รายได้รวม
      </div>
      <div class="card-body">
        <h5 class="card-title" style="text-align: center;"> {{total_values}} ฿</h5>
        <p class="card-text">
          <a href="/item_checkouts/" class="text-white" style="text-decoration: none;"> [ เพิ่มเติม ]</a>
        </p>
      </div>
    </div>
  </div>
</div>

{% if checkout_quantity == 0 %}

<div class="ui icon message"
  style="margin-top: 15px; margin-left: auto; margin-right: auto; color: rgb(18, 19, 18); border-style: solid ;max-width: fit-content; border-width: 1px;">
  <i class="chart line icon"></i>
  <div class="content">
    <div class="header">
      <div class="ui primary header">จำนวนสินค้าที่ขายได้</div>รายวัน
    </div>
    <p>
  </div>
</div>

<div class="ui info message">ไม่มีข้อมูลการทำรายการในขณะนี้</div>

{% else %}

{% set month = select_month %}
{% set select_eng_month = eng_month[month] %}
<div class="ui icon message"
  style="margin-top: 15px; margin-bottom: 25px; margin-left: auto; margin-right: auto; color: rgb(18, 19, 18); border-style: solid ;max-width: fit-content; border-width: 1px;">
  <i class="chart line icon"></i>
  <div class="content">
    <div class="header">
      <div class="ui primary header">{{ years[select_year] }} {{ eng_month[month] }}</div>แผนภูมิรายวัน
    </div>
    </p>
  </div>
</div>
<div class="button demo" style="margin-left: auto; margin-right: auto; max-width: fit-content;">
  <div class="ui hidden divider"></div>
  <div class="ui red vertical animated button">
    <div class="visible content">คุณกำลังอยู่หน้ารายวัน</div>
    <a class="hidden content" style="color: #ffffff; text-decoration: none;" href="/dashboard/">
      แสดงแผนภูมิรายวัน
    </a>
  </div>
  <div class="ui green vertical animated button">
    <div class="visible content">แสดงแผนภูมิรายเดือน</div>
    <a class="hidden content" style="color: #ffffff; text-decoration: none;" href="/dashboard/monthly">
      แสดงแผนภูมิรายเดือน
    </a>
  </div>
  <div class="ui green vertical animated button">
    <div class="visible content">แสดงแผนภูมิรายปี</div>
    <a class="hidden content" style="color: #ffffff; text-decoration: none;" href="/dashboard/yearly">
      แสดงแผนภูมิรายปี
    </a>
  </div>
</div>
{{select_month}}
{% if format_year not in years %}
  <div class="ui info message">ไม่มีข้อมูลการทำรายการในขณะนี้</div>
{% elif select_year >= 0 %}
<div class="shadow" id="chart" style="margin: auto; width: fit-content"></div>
{% endif %}

{% if format_year in years %}
<div class="shadow" id="chart" style="margin: auto; width: fit-content"></div>
{% endif %}
{% endif %}

<div >
  {% for year in range(size_years) %}
  <form method="post" style="max-width: fit-content;">
    {% set tab_year = years[index_year] %}
    {% set years = select_year %}
    
    {% endfor %}
    <p />
    {% for month in range(12) %}
    {% set tab_month = eng_month[format_month] %}

    {% endfor %}
    <p />

  </form>
</div>



<form method="post">
  <div class="ui secondary  menu" style="text-align:center ; justify-content:center; ">
    <p style="margin-left:10px;">
      {{renderer.render_calendar(form.calendar_month_year, calendar_id="month_year_calendar")}}
      </p>
    </div>
    <div style="text-align:center ; justify-content:center;">
    <button type="submit" class="ui primary button" >ยืนยัน</button>
    </div>
</form>


{% endblock %}

{% block additional_js %}
<script>
  var select_year = {{ select_year }}
  var select_month = {{ select_month }}
  var checkout_trend_day = {{ checkout_trend_day }}
  var years_day = {{ years_day }}

  var checkout_trend_day = checkout_trend_day[select_year][select_month]
  var years_day = years_day[select_year][select_month]
  var options = {
    series: [{
      name: "Checkout",
      data: checkout_trend_day,
    }],
    chart: {
      height: 350, width: 800,
      type: 'bar',
      zoom: {
        enabled: true
      }
    },
    dataLabels: {
      enabled: true,
    },
    colors: ['#0dcaf0'],
    stroke: {
      curve: 'straight'
    },
    title: {
      text: '',
      align: 'center',

    },
    grid: {
      row: {
        colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
        opacity: 0.5
      },
    },
    xaxis: {
      categories: years_day,
    }
  };

  var chart = new ApexCharts(document.querySelector("#chart"), options);
  chart.render(); 
</script>

<script>
  $('.menu .item')
    .tab()
    ;
</script>

<script type="text/javascript">
  datetime_formatter = {
    datetime: function (datetime, settings) {
        if (!datetime) return '';
          var day = datetime.getDate();
          var month = datetime.getMonth() + 1;
          var year = datetime.getFullYear();
          var minutes = datetime.getMinutes();
          var hour = datetime.getHours();

        return year + '-' + ("0" + month).slice(-2);
  }
};
var calendar_setting = {
type: 'month',
formatter: datetime_formatter,
text: {

  months: ['มกราคม', 'กุมภาพันธ์', 'มีนาคม', 'เมษายน', 'พฤษภาคม', 'มิถุนายน', 'กรกฎาคม', 'สิงหาคม', 'กันยายน', 'ตุลาคม', 'พฤษจิกายน', 'ธันวาคม'],
  monthsShort: ['ม.ค.', 'ก.พ.', 'มี.ค.', 'เม.ย.', 'พ.ค.', 'มิ.ย.', 'ก.ค.', 'ส.ค.', 'ก.ย.', 'ต.ค.', 'พ.ย.', 'ธ.ค.'],

},
};
$('#month_year_calendar').calendar(calendar_setting);
</script>

<script type="text/javascript">
$(document)
.ready(function() {
  $('.ui.dropdown.validate.selection')
  .dropdown({
    allowAdditions: true,
    fullTextSearch: 'exact'
  });
});
</script>



{% endblock %}