{% extends '/base/default-dashboard.html' %}
{% import '/base/html-renderer.html' as renderer %}

{% block title %}แดชบอร์ดรายวัน{% endblock %}
{% block dashboard_title %}
<div class="ui small left header" style="display:inline-block;">แดชบอร์ดรายวัน</div>
<div class="ui small right floated header">{{today_date}}</div>
{% endblock %}
{% block breadcrumbs %}
<div class="row justify-content-center align-items-center">
  <div class="col-12 col-sm-6 col-md-4 col-lg-3">
    <div class="card bg-white" style="border-radius: 10px; box-shadow: 0 -10px 0 #7994c0; margin: 10px;">
      <div class="card-body text-center">
        <ion-icon name="cart-outline" style="font-size: 3rem; color: #003ea1;"></ion-icon>
        <h5 class="card-title mt-3 ">อุปกรณ์ที่ขาย <span style="color: #003ea1;"><b><h3>{{ item_order }}</h3></b></span> รายการ</h5>
        <p class="card-text "><a href="/item_orders/" class="text-black">[ เพิ่มเติม ]</a></p>
      </div>
    </div>
  </div>

  <div class="col-12 col-sm-6 col-md-4 col-lg-3">
    <div class="card bg-white" style="border-radius: 10px; box-shadow: 0 -10px 0 #a15e5e; margin: 10px;">
      <div class="card-body text-center">
        <ion-icon name="bag-check-outline" style="font-size: 3rem; color: #6d0000;"></ion-icon>
        <h5 class="card-title mt-3">อุปกรณ์คงเหลือ <span style="color: #6d0000;"><b><h3>{{ item_regis }}</h3></b></span> รายการ</h5>
        <p class="card-text "><a href="/item_registers/" class="text-black">[ เพิ่มเติม ]</a></p>
      </div>
    </div>
  </div>

  <div class="col-12 col-sm-6 col-md-4 col-lg-3">
    <div class="card bg-white" style="border-radius: 10px; box-shadow: 0 -10px 0 #84d892; margin: 10px;">
      <div class="card-body text-center">
        <ion-icon name="cash-outline" style="font-size: 3rem; color: #00A11B;"></ion-icon>
        <h5 class="card-title mt-3 ">รายได้รวม <span style="color: #00A11B;"><b><h3>{{total_values}}</h3></b></span> ฿ </h5>
        <p class="card-text "><a href="/item_checkouts/" class="text-black">[ เพิ่มเติม ]</a></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block content %}

<head>
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>

<div class="ui icon message" style="background-color: #e9ecef; border-radius: 10px;">
  <i class="chart line icon"></i>
  <div class="content" style="color: #292d33;">
    <div class="ui medium header">{{ eng_month[month] }} {{ years[select_year] }} แผนภูมิรายวัน</div>
    <p>
      ข้อมูลแผนภูมินี้จะแสดงให้คุณเห็นจำนวนรายรับในแต่ละวัน
    </p>
  </div>
  <form method="post" onsubmit="return validateForm()">
    <div class="ui secondary menu" style="text-align:center;">
      <p>
        {{renderer.render_calendar(form.calendar_month_year, calendar_id="month_year_calendar")}}
      </p>
    </div>
  </form>
</div>


{% if checkout_quantity == 0 %}
<div class="ui info message">ไม่มีข้อมูลการทำรายการในขณะนี้</div>
{% else %}
{% if select_year < 0 %}
  <div class="ui info message">ไม่มีข้อมูลการทำรายการในขณะนี้</div>
{% else %}
<div class="shadow" id="chart" style="margin: auto; width: fit-content"></div>
{% endif %}
{% endif %}

<style>
  .button-group {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .button {
    background-color: #0074cc;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 5px;
    transition: background-color 0.3s;
  }

  .button:hover {
    background-color: #0074cc70;
  }
  .button.green {
    background-color: #00A11B;
  }
  .button.green:hover {
    background-color: #00a11b70;
  }
</style>

<div class="button-group">
  <a href="/dashboard/" class="button green" style="color: white; text-align: center;">คุณกำลังอยู่หน้ารายวัน</a>
  <a href="/dashboard/monthly" class="button" style="color: white; text-align: center;">แสดงแผนภูมิรายเดือน</a>
  <a href="/dashboard/yearly" class="button" style="color: white; text-align: center;">แสดงแผนภูมิรายปี</a>
</div>



{% endblock %}

{% block additional_js %} 
<script>
  function validateForm() {
    var dateInput = document.querySelector("#month_year_calendar input").value;
    dateInput = dateInput.trim();
    if (dateInput === "") {
      alert("Please enter year and month before submitting.");
      return false;
    }
    return true;
  }
</script>

<script>
  var select_year = {{ select_year }}
  var select_month = {{ select_month }}
  var checkout_trend_day = {{ checkout_trend_day }}
  var years_day = {{ years_day }}

  var checkout_trend_day = checkout_trend_day[select_year][select_month]
  var years_day = years_day[select_year][select_month]
  var options = {
    series: [{
      name: "Profit of (Checkout * Price)",
      data: checkout_trend_day,
    }],
    chart: {
      height: 350, width: 800,
      type: 'bar',
      zoom: {
        enabled: true
      }
    },
    dataLabels: {
      enabled: true,
    },
    colors: ['#00A11B'],
    stroke: {
      curve: 'straight'
    },
    title: {
      text: 'แผนภูมิแท่งแสดงข้อมูลรายรับรายจ่ายประจำเดือน',
      align: 'center',

    },
    grid: {
      row: {
        colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
        opacity: 0.5
      },
    },
    xaxis: {
      categories: years_day,
      title: {
        text: 'วันที่',
      },
    },
    yaxis: {
      title: {
        text: 'รายได้ (บาท)',
      },
    }
  };

  var chart = new ApexCharts(document.querySelector("#chart"), options);
  chart.render(); 
</script>

<script>
  $('.menu .item')
    .tab()
    ;
</script>

<script type="text/javascript">
  datetime_formatter = {
    datetime: function (datetime, settings) {
        if (!datetime) return '';
          var day = datetime.getDate();
          var month = datetime.getMonth() + 1;
          var year = datetime.getFullYear();
          var minutes = datetime.getMinutes();
          var hour = datetime.getHours();

        return year + '-' + ("0" + month).slice(-2);
  }
};
var calendar_setting = {
type: 'month',
formatter: datetime_formatter,
text: {

  months: ['มกราคม', 'กุมภาพันธ์', 'มีนาคม', 'เมษายน', 'พฤษภาคม', 'มิถุนายน', 'กรกฎาคม', 'สิงหาคม', 'กันยายน', 'ตุลาคม', 'พฤษจิกายน', 'ธันวาคม'],
  monthsShort: ['ม.ค.', 'ก.พ.', 'มี.ค.', 'เม.ย.', 'พ.ค.', 'มิ.ย.', 'ก.ค.', 'ส.ค.', 'ก.ย.', 'ต.ค.', 'พ.ย.', 'ธ.ค.'],

},
};
$('#month_year_calendar').calendar(calendar_setting);
</script>

<script type="text/javascript">
$(document)
.ready(function() {
  $('.ui.dropdown.validate.selection')
  .dropdown({
    allowAdditions: true,
    fullTextSearch: 'exact'
  });
});
</script>



{% endblock %}