{% extends '/base/default-dashboard.html' %}
{% import '/base/html-renderer.html' as renderer %}
{% import '/base/pagination.html' as paginated %}

{% block dashboard_title %}
แดชบอร์ด
{% endblock %}

{% block breadcrumbs %}

{% endblock %}

{% block content %}
<div class="ui grid">
  {% if notifications%}
  <div class="sixteen wide column">
    <div class="ui cards">
      <div class="card" style="width: 100%; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);">
        <div class="content" style="flex: 2; background-color: rgb(255, 192, 192);">

          <div class="description" style="display: flex; justify-content: space-between; align-items: center;">
            <div class="header" style="font-size: 1.5rem;">
              <span class="ui large text" style="padding-right: 5px; font-weight: 600;">แจ้งเตือนวัสดุคงเหลือ : {{
                notifications }}</span>
            </div>
            <span>
              <a class="fluid ui orange button"
                href="{{ url_for('notifications.index' , organization_id=organization.id )}}">
                ตรวจสอบรายละเอียด
              </a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  <div class="ten wide column">
    <div class="header" style="font-size: 1.5rem; font-weight: bold; padding-left:  10px;">
      คำขอใหม่
    </div>
    {% if orders %}
    <table class="ui celled table">
      <thead>
        <tr>
          <th>วันที่สั่งเบิกวัสดุ</th>
          <th>วัตถุประสงค์</th>
          <th>ชื่อผู้ใช้งาน</th>
          <th>สถานะ</th>
          <th>รายการวัสดุ</th>

        </tr>
      </thead>
      <tbody>
        {% for order in orders %}
        <tr>
          <td>{{ order.created_date.strftime('%d/%m/%Y %H:%M:%S') }}</td>
          <td>{{ order.description }}</td>
          <td>{{ order.created_by.get_name() }}</td>
          {% if order.status == "pending" %}
          <td data-label="Status" class="yellow">
            <span class="ui yellow text">{{ order.get_status_display() }}</span>
          </td>
          {% elif order.approval_status == "approved" and order.approval_status == "approved" %}
          <td data-label="Status" class="green">
            <span class="ui green text">{{ order.get_status_display() }}
            </span>
          </td>
          {% elif order.status == "denied" or order.approval_status == "denied"%}
          <td data-label="Status" class="red">
            <span class="ui red text">{{ order.get_status_display() }}</span>
          </td>
          {% else %}
          <td data-label="Status" class="yellow">
            <span class="ui yellow text">{{ order.get_status_display() }}</span>
          </td>
          {% endif %}
          <td>
            <a class="ui primary button"
              href="{{ url_for('item_checkouts.bill_checkout', order_id=order.id, organization_id=organization.id) }}"
              style=" color: white; background-color: rgb(59, 115, 199);">
              <i class="eye icon"></i>
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <div class="ui info message">ไม่มีคำขอใหม่ในขณะนี้</div>
    {% endif %}
  </div>
  <div class="six wide column" style="display:flex; align-items: center; justify-content: center;">
    <div class="ui card" style="height: 100%; width:70%;">
      <div class="content">
        <div class="center aligned header" style="font-size: 2rem; line-height: 2.5rem; padding-top:1rem;">จำนวนคำขอใหม่
        </div>
        <div class="center aligned description"
          style="display:flex; align-items: center; height: 100%; justify-content: center; padding-bottom:1rem;">
          <p style="font-size: 2.25rem; line-height: 2.5rem;">{{ count_orders }}</p>
        </div>
      </div>
      <div class="extra content">

      </div>
    </div>
  </div>

  <div class="ten wide column">
    <div class="header" style="font-size: 1.5rem; font-weight: bold; padding-left:  10px;">
      คำขอที่กำลังดำเนินการอยู่
    </div>
    {% if pending_orders %}
    <table class="ui celled table">
      <thead>
        <tr>
          <th>วันที่สั่งเบิกวัสดุ</th>
          <th>วัตถุประสงค์</th>
          <th>ชื่อผู้ใช้งาน</th>
          <th>สถานะ</th>
          <th>รายการวัสดุ</th>

        </tr>
      </thead>
      <tbody>
        {% for order in pending_orders %}
        <tr>
          <td>{{ order.created_date.strftime('%d/%m/%Y %H:%M:%S') }}</td>
          <td>{{ order.description }}</td>
          <td>{{ order.created_by.get_name() }} </td>
          {% if order.status == "pending" %}
          <td data-label="Status" class="yellow">
            <span class="ui yellow text">{{ order.get_status_display() }}</span>
          </td>
          {% elif order.approval_status == "approved" and order.approval_status == "approved" %}
          <td data-label="Status" class="green">
            <span class="ui green text">{{ order.get_status_display() }}
            </span>
          </td>
          {% elif order.status == "denied" or order.approval_status == "denied"%}
          <td data-label="Status" class="red">
            <span class="ui red text">{{ order.get_status_display() }}</span>
          </td>
          {% else %}
          <td data-label="Status" class="yellow">
            <span class="ui yellow text">{{ order.get_status_display() }}</span>
          </td>
          {% endif %}
          <td>
            <a class="ui primary button"
              href="{{ url_for('item_checkouts.bill_checkout', order_id=order.id, organization_id=organization.id) }}"
              style=" color: white; background-color: rgb(59, 115, 199);">
              <i class="eye icon"></i>
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <div class="ui info message">ไม่มีคำขอที่กำลังดำเนินการอยู่ในขณะนี้</div>
    {% endif %}
  </div>
  <div class="six wide column" style="display:flex; align-items: center; justify-content: center; ">
    <div class="ui card" style="height: 100%; width:70%;">
      <div class="content">
        <div class="center aligned header" style="font-size: 1.75rem; line-height: 2.5rem; padding-top:1rem;">
          จำนวนคำขอที่กำลังดำเนินการอยู่
        </div>
        <div class="center aligned description"
          style="display:flex; align-items: center; height: 100%; justify-content: center; padding-bottom:1rem;">
          <p style="font-size: 2.25rem; line-height: 2.5rem;">{{ count_pending_orders }}</p>

        </div>
      </div>
      <div class="extra content">

      </div>
    </div>
  </div>
</div>
{% endblock content %}