{% extends '/base/default-dashboard.html' %}

{% block content %}
<div class="row">
  <div class="column">
    <h3>Hello {{ current_user.first_name }} {{ current_user.last_name }}</h3>
  </div>
</div>

<a class="ui primary button" href="{{ url_for('items.index') }}"> 
  Items
</a>

<a class="ui primary button" href="{{ url_for('suppliers.index') }}"> 
  Suppliers
</a>

<a class="ui primary button" href="{{ url_for('item_registers.index') }}"> 
  Item Registers
</a>

<a class="ui primary button" href="{{ url_for('item_checkouts.index') }}"> 
  Item Checkout
</a>

{% endblock %}