{% extends '/base/default-dashboard.html' %}

{% block title %}Monthly Dashboard{% endblock %}
{% block dashboard_title %}
<div class="ui small left header" style="display:inline-block;">Monthly Dashboard</div>
<div class="ui small right floated header">{{date_now}}</div>
{% endblock %}

{% block content %}

<head>
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <!-- ionicon -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>


<div class="row shadow-sm" style="margin-top: 30px; margin-left: auto; margin-right: auto;">
  <div class="col-6 col-sm-3">
    <div class="card text-white bg-success mb-3" style="max-width: 18rem; --bs-bg-opacity: .7">
      <div class="card-header">
        <ion-icon name="bag-add-outline" style="margin-right: 10px;"></ion-icon>
        Quantity
      </div>
      <div class="card-body">
        <h5 class="card-title" style="text-align: center;">{{ item_quantity }} items</h5>
        <p class="card-text">
          <a href="/item_registers/" class="text-white" style="text-decoration: none;"> [ more detail ]</a>
        </p>
      </div>
    </div>
  </div>

  <div class="col-6 col-sm-3">
    <div class="card text-white bg-info mb-3" style="max-width: 18rem; --bs-bg-opacity: .8;">
      <div class="card-header">
        <ion-icon name="cart-outline" style="margin-right: 10px;"></ion-icon>
        Items Checkout
      </div>
      <div class="card-body">
        <h5 class="card-title" style="text-align: center;">{{ checkout_quantity }} items</h5>
        <p class=" card-text">
          <a href="/item_orders/" class="text-white" style="text-decoration: none;"> [ more detail ]</a>
        </p>
      </div>
    </div>
  </div>


  <div class="col-6 col-sm-3">
    <div class="card text-white bg-warning mb-3" style="max-width: 18rem; --bs-bg-opacity: .7">
      <div class="card-header">
        <ion-icon name="bag-check-outline" style="margin-right: 10px;"></ion-icon>
        Remain
      </div>
      <div class="card-body">
        <h5 class="card-title" style="text-align: center;">{{ item_remain }} items</h5>
        <p class="card-text">
          <a href="/item_registers/" class="text-white" style="text-decoration: none;"> [ more detail ]</a>
        </p>
      </div>
    </div>
  </div>

  <div class="col-6 col-sm-3">
    <div class="card text-white bg-primary mb-3" style="max-width: 18rem; --bs-bg-opacity: .8">
      <div class="card-header">
        <ion-icon name="cash-outline" style="margin-right: 10px;"></ion-icon>
        Total values
      </div>
      <div class="card-body">
        <h5 class="card-title" style="text-align: center;"> {{total_values}} ฿</h5>
        <p class="card-text">
          <a href="/item_checkouts/" class="text-white" style="text-decoration: none;"> [ more detail ]</a>
        </p>
      </div>
    </div>
  </div>
</div>

{% set year = select_year %}
<div class="ui icon message"
  style="margin-top: 15px; margin-left: auto; margin-right: auto; color: rgb(18, 19, 18); border-style: solid ;max-width: fit-content; border-width: 1px;">
  <i class="chart line icon"></i>
  <div class="content">
    <div class="header">
      <div class="ui primary header">{{ checkout_years[year] }}</div>Trend Month
    </div>
    <p />
  </div>
</div>

{% if year == none %}
<div class="ui info message">There is no data at this time.</div>
{% endif %}

<div class="ui tabular menu" style="justify-content:center; text-align:center;">
  {% for year in range(size_checkout_years) %}
  {% set tab_year = checkout_years[year] %}
  <form id={{tab_year}} method="post" style="max-width: fit-content;">
    <div style="display: inline; margin-left:5px;">
    <input type="radio" name="year" value={{year}} />
    <label>{{tab_year}}</label>
    </div>
    {% endfor %}
    <p />
  
  <p>
  <button class="ui primary button" type="submit" style="justify-content:center; margin-bottom: 1em;">SUBMIT</button>
  </p>
</form>
</div>

{% set year = select_year %}
<div class="shadow" id="chart" style="margin: auto; width: fit-content"></div>
<script>
  var checkout_trend_month = {{ checkout_trend_month[year] }}
  var checkout_years = {{ checkout_years[year] }}
  var options = {
    series: [{
      name: "Checkout",
      data: checkout_trend_month,
    }],
    chart: {
      height: 350, width: 800,
      type: 'bar',
      zoom: {
        enabled: true
      }
    },
    dataLabels: {
      enabled: true,
    },
    colors: ['#0dcaf0'],
    stroke: {
      curve: 'straight'
    },
    title: {
      text: '',
      align: 'center',

    },
    grid: {
      row: {
        colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
        opacity: 0.5
      },
    },
    xaxis: {
      categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
    }
  };

  var chart = new ApexCharts(document.querySelector("#chart"), options);
  chart.render(); 
</script>

<script>
  $('.menu .item')
    .tab()
    ;
</script>

<div class="button demo" style="margin-left: auto; margin-right: auto; max-width: fit-content;">
  <div class="ui hidden divider"></div>
  <div class="ui vertical animated button">
    <div class="visible content">Daily</div>
    <a class="hidden content" href="/dashboard/">
      Got it!
    </a>
  </div>
  <div class="ui vertical animated button">
    <div class="visible content">Monthly</div>
    <a class="hidden content" href="/dashboard/monthly">
      Got it!
    </a>
  </div>
  <div class="ui vertical animated button">
    <div class="visible content">Yearly</div>
    <a class="hidden content" href="/dashboard/yearly">
      Got it!
    </a>
  </div>
</div>

{% endblock %}