{% extends '/base/default-dashboard.html' %}
{% import '/base/html-renderer.html' as renderer %}
{% block title %}แดชบอร์ดรายเดือน{% endblock %}
{% block dashboard_title %}
<div class="ui small left header" style="display:inline-block;">แดชบอร์ดรายเดือน</div>
<div class="ui small right floated header">{{today_date}}</div>
{% endblock %}
{% block breadcrumbs %}
<div class="row justify-content-center align-items-center">
  <div class="col-12 col-sm-6 col-md-4 col-lg-3">
    <div class="card bg-white" style="border-radius: 10px; box-shadow: 0 -10px 0 #7994c0; margin: 10px;">
      <div class="card-body text-center">
        <ion-icon name="cart-outline" style="font-size: 3rem; color: #003ea1;"></ion-icon>
        <h5 class="card-title mt-3 ">คำสั่งเบิกอุปกรณ์ <span style="color: #003ea1;"><b>
              <h3>{{ monthly_item_orders | length }}</h3>
            </b></span> รายการ</h5>
        <p class="card-text "><a href="/item_orders/" class="text-black">[ เพิ่มเติม ]</a></p>
      </div>
    </div>
  </div>

  <div class="col-12 col-sm-6 col-md-4 col-lg-3">
    <div class="card bg-white" style="border-radius: 10px; box-shadow: 0 -10px 0 #a15e5e; margin: 10px;">
      <div class="card-body text-center">
        <ion-icon name="bag-check-outline" style="font-size: 3rem; color: #6d0000;"></ion-icon>
        <h5 class="card-title mt-3">อุปกรณ์นำเข้าคงเหลือ <span style="color: #6d0000;"><b>
              <h3>{{ amount_item_registers }}</h3>
            </b></span> รายการ</h5>
        <p class="card-text "><a href="/item_registers/" class="text-black">[ เพิ่มเติม ]</a></p>
      </div>
    </div>
  </div>

  <div class="col-12 col-sm-6 col-md-4 col-lg-3">
    <div class="card bg-white" style="border-radius: 10px; box-shadow: 0 -10px 0 #84d892; margin: 10px;">
      <div class="card-body text-center">
        <ion-icon name="cash-outline" style="font-size: 3rem; color: #00A11B;"></ion-icon>
        <h5 class="card-title mt-3 ">จำนวนเงินของอุปกรณ์ที่เบิก <span style="color: #00A11B;"><b>
              <h3>{{ total_values }}</h3>
            </b></span> ฿ </h5>
        <p class="card-text "><a href="/item_checkouts/" class="text-black">[ เพิ่มเติม ]</a></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block content %}

<head>
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>

<div class="ui icon message" style="background-color: #e9ecef; border-radius: 10px;">
  <i class="chart line icon"></i>
  <div class="content" style="color: #292d33;">
    <div class="ui medium header"> แผนภูมิรายเดือนประจำเดือน {{ this_month }}</div>
    <p>
      ข้อมูลแผนภูมินี้จะแสดงให้คุณเห็นจำนวนรายรับตลอดทั้งเดือน
    </p>
  </div>
  <form method="POST">
    <div class="ui secondary menu" style="text-align:center;">
      {{ form.hidden_tag() }}
      {{ renderer.render_calendar_default(form.month_year, calendar_id="month_year_calendar") }}
      <button type="submit" class="ui primary button" style="height:fit-content; margin-left:15px; ">ยืนยัน</button>
    </div>
  </form>
</div>


{#
{% if checkout_quantity == 0 %}
<div class="ui info message">ไม่มีข้อมูลการทำรายการในขณะนี้</div>

{% else %}

{% set year = check_date_index %}
{% endif %}
#}
<div class="shadow" id="chart" style="margin: auto; width: fit-content"></div>
<script type="text/javascript">
  var checkout_trend_month = {{ trend_checkout_items }}
  var options = {
    series: [{
      name: "Profit of (Checkout * Price)",
      data: checkout_trend_month,
    }],
    chart: {
      height: 350, width: 800,
      type: 'bar',
      zoom: {
        enabled: true
      }
    },
    dataLabels: {
      enabled: true,
    },
    colors: ['#00A11B'],
    stroke: {
      curve: 'straight'
    },
    title: {
      text: 'แผนภูมิแท่งแสดงจำนวนเงินของอุปกรณ์ที่เบิกประจำเดือน ' + " {{this_month}}",
      align: 'center',

    },
    grid: {
      row: {
        colors: ['#f3f3f3', 'transparent'],
        opacity: 0.5
      },
    },
    xaxis: {
      categories: {{ days_month_categories }},
  title: {
    text: 'วันที่',
        },
      },
  yaxis: {
    title: {
      text: 'จำนวนเงิน (บาท)',
        },
  },
  };

  var chart = new ApexCharts(document.querySelector("#chart"), options);
  chart.render(); 
</script>

<script>
  $('.menu .item')
    .tab()
    ;
</script>

<style>
  .button-group {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button {
    background-color: #0074cc;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 5px;
    transition: background-color 0.3s;
  }

  .button:hover {
    background-color: #0074cc70;
  }

  .button.green {
    background-color: #00A11B;
  }

  .button.green:hover {
    background-color: #00a11b70;
  }
</style>

<div class="button-group">
  <a href="/dashboard/daily" class="button" style="color: white; text-align: center;">แสดงแผนภูมิรายวัน</a>
  <a href="/dashboard/monthly" class="button green"
    style="color: white; text-align: center;">คุณกำลังอยู่หน้ารายเดือน</a>
  <a href="/dashboard/yearly" class="button" style="color: white; text-align: center;">แสดงแผนภูมิรายปี</a>
</div>

{% endblock %}


{% block additional_js %}
<script type="text/javascript">
  datetime_formatter = {
    month: "MM/YYYY"
  };
  var calendar_setting = {
    type: 'month',
    formatter: datetime_formatter,
    today: false,
    ampm: false,
  };
  $('#month_year_calendar').calendar(calendar_setting);

  $(document)
    .ready(function () {
      $('.ui.dropdown.validate.selection')
        .dropdown({
          allowAdditions: true,
          fullTextSearch: 'exact'
        });
    });

</script>
{% endblock %}
{# ["มกรา", "กุมภา", "มีนา", "เมษา", "พฤษภา", "มิถุนา", "กรกฏา", "สิงหา", "กันยา", "ตุลา", "พฤศจิกา", "ธันวา"] #}