{% extends '/base/template-page-login.html' %}
{% import '/base/html-renderer.html' as renderer %}
{% import '/base/components/paginations/pagination.html' as paginated %}
{% import '/base/components/forms.html' as render_field %}

{% block title %}สมาชิกขององค์กร{% endblock %}
{% block dashboard_title %}สมาชิกขององค์กร{% endblock %}

{% block breadcrumbs %}

{% endblock %}

{% block content %}

<div class="flex flex-row w-full justify-between">
  <div class="flex justify-start w-full gap-2">
    <div class="ui dropdown button labeled icon">
      <i class="wrench icon"></i>
      การจัดการ
      <div class="menu" style=" flex-direction: column !important;">
        <a class="item" style="width: 100%;"
          href="{{ url_for('organizations.add_member', organization_id=organization.id) }}">
          <span class="ui primary text">
            <i class="plus circle icon"></i>
            เพิ่มสมาชิก
          </span>
        </a>
        <a class="item" style="width: 100%;"
          href="{{ url_for('organizations.upload_member_file', organization_id=organization.id) }}">
          <span class="ui primary text">
            <i class="file upload icon"></i>
            เพิ่มสมาชิกแบบหลายรายการ
          </span>
        </a>
      </div>
    </div>
  </div>
</div>

<form method="post" class="segment mt-4 border border-base-300 bg-base-100 rounded-2xl p-6 shadow-sm">
  <div class="flex flex-row justify-between w-full gap-2">
    {{ form.csrf_token }}
    {{ render_field.SelectField(form.user) }}
    {{ render_field.SelectField(form.role) }}
    {{ render_field.DateField(form.start_date) }}
    {{ render_field.DateField(form.end_date) }}
  </div>

  <div class="flex flex-row w-full justify-between">
    <div class="flex justify-start w-full gap-2">
      <button type="submit" class="btn btn-primary">ค้นหา</button>
    </div>
  </div>
</form>

{% if org_users %}

<table class="table-auto w-full">
  <thead>
    <tr>
      <th class="table-style">ชื่อสมาชิก (ภาษาอังกฤษ)</th>
      <th class="table-style">อีเมล</th>
      <th class="table-style">ตำแหน่ง</th>
      <th class="table-style">ระดับ</th>
      <th class="table-style">แผนก</th>
      <th class="table-style">เพิ่มเข้ามาเมื่อวันที่</th>
      <th class="table-style">จัดการ</th>
    </tr>
  </thead>
  <tbody>
    {% for org_user in paginated_org_users.items %}
    <tr>
      <td class="table-style" data-label="Organization">{{ org_user.display_fullname() }}</td>
      <td class="table-style" data-label="Email">{{ org_user.display_email() }}</td>
      <td class="table-style" data-label="Email">
        {% if org_user.appointment|length >= 30 %}
        <span data-tooltip="{{ org_user.appointment }}">
          {{ org_user.display_appointment() }}
        </span>
        {% else %}
        {{ org_user.display_appointment() }}
        {% endif %}
      </td>
      <td class="table-style" data-label="Roles">{{ org_user.display_roles() }}</td>
      <td class="table-style" data-label="Roles">{{ org_user.division.name }}</td>
      <td class="table-style" data-label="Create date">{{ org_user.created_date.strftime('%d/%m/%Y') if
        org_user.created_date else "-"}}
      </td>
      <td class="table-style">
        <a class="btn btn-circle btn-primary" data-tooltip="แก้ไข"
          href="{{ url_for('organizations.edit_roles', organization_id=organization.id, org_user_id=org_user.id) }}">
          <i class="ph ph-pen"></i>
        </a>
        <a class="btn btn-circle btn-error" data-tooltip="ลบ" onclick="showDeleteModal('{{ org_user.id }}')">
          <i class="ph ph-trash"></i>
        </a>
        <div role="dialog" class="modal {{ org_user.id }}">
          <div class="text-2xl font-bold">
            ลบสมาชิก
          </div>
          <div class=" modal-box">
            <p>ต้องการลบสมาชิก<b> {{ org_user.display_fullname() }}</b><br />


            </p>
          </div>
          <div class="modal-action">
            <button class="btn">
              ยกเลิก
            </button>
            <a class="btn-error btn"
              href="{{ url_for('organizations.remove_org_user', organization_id=organization.id, org_user_id=org_user.id)}}">
              ยืนยัน
              <i class="ph ph-check"></i>
            </a>
          </div>
        </div>
      </td>
    </tr>

    {% endfor %}
  </tbody>
</table>
{% set params=dict(request.args) %}
{% if 'page' in params %}
{% set _dummy=params.pop('page') %}
{% endif %}
{% if 'organization_id' not in params %}
{% set _dummy=params.update({"organization_id": organization.id}) %}
{% endif %}
{% if paginated_org_users.pages != 1 %}

{{ paginated.render_pagination(paginated_org_users,"organizations.organizaiton_users", params)}}

{% endif %}

{% else %}
<div class="ui message">ไม่มีข้อมูลการสมาชิกในขณะนี้</div>
{% endif %}
{% endblock %}

{% block additional_js %}
<script type="text/javascript">

  function showDeleteModal(org_user_id) {
    org_user_id ? $('.ui.modal.' + org_user_id).modal('show') : $('.ui.modal').modal('hide')
      ;
  }
</script>
<script type="text/javascript">
  var datetime_formatter = {
    date: "DD/MM/YYYY"
  };

  $(document)
    .ready(function () {
      $('.ui.dropdown.validate.selection')
        .dropdown({
          allowAdditions: true,
          fullTextSearch: 'exact'
        });
    });
</script>
<script type="text/javascript">
  $('#{{ form.start_date.name }}').calendar({
    type: 'date',
    monthFirst: false,
    formatter: datetime_formatter,
    today: false,
    ampm: false,
    text: {
      days: ['อา', 'จ', 'อ', 'พ', 'พฤ', 'ศ', 'ส'],
      months: ['มกราคม', 'กุมภาพันธ์', 'มีนาคม', 'เมษายน', 'พฤษภาคม', 'มิถุนายน', 'กรกฎาคม', 'สิงหาคม', 'กันยายน', 'ตุลาคม', 'พฤษจิกายน', 'ธันวาคม'],
      monthsShort: ['ม.ค.', 'ก.พ.', 'มี.ค.', 'เม.ย.', 'พ.ค.', 'มิ.ย.', 'ก.ค.', 'ส.ค.', 'ก.ย.', 'ต.ค.', 'พ.ย.', 'ธ.ค.'],
      today: 'วันนี้',
      now: 'ปัจจุบัน',
      am: 'AM',
      pm: 'PM'
    },
    endCalendar: $('#{{ form.end_date.name }}')
  });
  $('#{{ form.end_date.name }}').calendar({
    type: 'date',
    monthFirst: false,
    formatter: datetime_formatter,
    today: false,
    ampm: false,
    text: {
      days: ['อา', 'จ', 'อ', 'พ', 'พฤ', 'ศ', 'ส'],
      months: ['มกราคม', 'กุมภาพันธ์', 'มีนาคม', 'เมษายน', 'พฤษภาคม', 'มิถุนายน', 'กรกฎาคม', 'สิงหาคม', 'กันยายน', 'ตุลาคม', 'พฤษจิกายน', 'ธันวาคม'],
      monthsShort: ['ม.ค.', 'ก.พ.', 'มี.ค.', 'เม.ย.', 'พ.ค.', 'มิ.ย.', 'ก.ค.', 'ส.ค.', 'ก.ย.', 'ต.ค.', 'พ.ย.', 'ธ.ค.'],
      today: 'วันนี้',
      now: 'ปัจจุบัน',
      am: 'AM',
      pm: 'PM'
    },
    startCalendar: $('#{{ form.start_date.name }}')
  });
</script>
{% endblock %}