{% extends '/inventories/index.html' %}
{% import '/base/html-renderer.html' as renderer %}

{% block title %}
เพิ่มสมาชิกแบบหลายรายการ
{% endblock %}

{% block dashboard_title %}
เพิ่มสมาชิกแบบหลายรายการ
{% endblock %}

{% block breadcrumbs %}
{{ RenderBreadcrumb([
("สมาชิกขององค์กร", url_for('organizations.organizaiton_users', organization_id=organization.id) ),
("เพิ่มสมาชิกแบบหลายรายการ ", "")]) }}
{% endblock %}

{% block content %}

{% if errors %}
<div role="dialog" class="modal upload_errors">
  <div class="text-2xl font-bold">
    เกิดปัญหา
  </div>
  <div class=" scrolling content red">
    {% for error in errors %}
    <span class="ui error text">
      <b>- {{ error }}</b><br>
    </span>
    {% endfor %}
  </div>
  <div class="modal-action">
    <button class="btn-error btn">
      ยืนยัน
      <i class="ph ph-check"></i>
    </button>
  </div>
</div>
{% endif %}
<div class="flex flex-row justify-between">
  <div class="flex justify-end w-full gap-2">
    <a class="btn  btn-primary"
      href="{{ url_for('organizations.organizaiton_users', organization_id=organization.id) }}">
      <i class="ph ph-arrow-u-up-left"></i>
      ย้อนกลับ
    </a>
  </div>
  <div class="flex justify-start w-full gap-2">
    <a class="btn btn-primary"
      href="{{ url_for('organizations.download_template_member_file', organization_id=organization.id) }}">
      <i class="file download icon"></i> ดาวน์โหลดรูปแบบไฟล์การเพิ่มสมาชิก</a>
  </div>
</div>

<div>
  <form class="segment mt-4 border border-base-300 bg-base-100 rounded-2xl p-6 shadow-sm" method="POST"
    enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    {{ renderer.render_fileinput(form.upload_file) }}
    <button class="btn btn-primary" type="submit">ยืนยันข้อมูล</button>
  </form>
</div>
{% endblock content %}

{% block additional_js %}
<script type="text/javascript">
  $(".attach-file-{{ form.upload_file.name }}").click(function () {
    $("#{{ form.upload_file.name }}").click();
  });

  $('#{{ form.upload_file.name }}')
    .on('change', function (e) {
      var name = e.target.files[0].name;
      $('.attach-file-{{ form.upload_file.name }}', $(e.target).parent()).val(name);
    });

  $('.ui.modal.upload_errors')
    .modal('show')
    ;
  $('.ui.modal.upload_completed')
    .modal('show')
    ;
</script>
{% endblock additional_js %}