{% extends '/item_positions/index.html' %}
{% import '/base/html-renderer.html' as renderer %}

{% block title %}
{% if 'edit' in request.path %}
แก้ไขหมวดหมู่
{% else %}
เพิ่มหมวดหมู่
{% endif %}
{% endblock %}
{% block dashboard_title %}
{{ self.title() }}
{% endblock %}

{% block breadcrumbs %}
{{ RenderBreadcrumb([
("หมวดหมู่", url_for("categories.index", organization_id=organization.id)),
('แก้ไขหมวดหมู่' if 'edit' in request.path else 'เพิ่มหมวดหมู่', "")]) }}
{% endblock %}

{% block content %}
<div class="navbarmenu">
  <div class="left menu">
    <a class="ui labeled icon button" href="{{ url_for('categories.index', organization_id=organization.id) }}">
      <i class="left arrow icon"></i>
      ย้อนกลับ
    </a>
  </div>
</div>
<div>
  <form class="ui form" method="POST">

    {{ form.hidden_tag() }}
    {{ renderer.render_field(form.name) }}
    {{ renderer.render_field(form.description)}}

    {% if 'edit' == request.path %}
    <button class="ui primary button" type="submit">แก้ไขหมวดหมู่</button>
    {% else %}
    <button class="ui primary button" type="submit">ยืนยันข้อมูล</button>
    {% endif %}
  </form>
</div>
{% endblock %}