{% extends '/admin/item_registers/index.html' %}
{% import '/admin/base/html-renderer.html' as renderer %}


{% block title %}

{% if 'edit' in request.path %}
แก้ไขรายละเอียดองค์กร
{% else %}
เพิ่มองค์กร
{% endif %}

{% endblock %}


{% block dashboard_title %}
{{ self.title() }}
{% endblock %}


{% block breadcrumbs %}
<a class="section" href="{{ url_for('admin.organizations.index') }}">ลงทะเบียนอุปกรณ์</a>
<i class="right angle icon divider"></i>
<div class="active section">
  เพิ่มสมาชิก
</div>
{% endblock %}

{% block content %}
<div>
  <form class="ui form" method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    {{ renderer.render_search_multiple_select(form.members) }}
    {{ renderer.render_select(form.role) }}

    <button class="ui primary button" type="submit">ยืนยันข้อมูล</button>
  </form>
</div>
{% endblock content %}