{% extends '/admin/organizations/index.html' %}
{% import '/admin/base/html-renderer.html' as renderer %}


{% block title %}

{% if 'edit' in request.path %}
แก้ไขรายละเอียดองค์กร
{% else %}
เพิ่มองค์กร
{% endif %}

{% endblock %}


{% block dashboard_title %}
{{ self.title() }}
{% endblock %}


{% block breadcrumbs %}

{% endblock %}

{% block content %}
<div class="flex flex-row justify-between">
  <div class="flex justify-start w-full gap-2">
    <a class="btn  btn-primary" href="{{ url_for('admin.organizations.index') }}">
      <i class="ph ph-arrow-u-up-left"></i>
      ย้อนกลับ
    </a>
  </div>
</div>
<div>
  <form class="segment mt-4 border border-base-300 bg-base-100 rounded-2xl p-6 shadow-sm" method="POST">
    {{ form.hidden_tag() }}
    {{ renderer.render_field(form.name) }}
    {{ renderer.render_text_area_field(form.description) }}
    <button class="btn btn-primary" type="submit">ยืนยันข้อมูล</button>
  </form>
</div>
{% endblock content %}
{#}
{% block additional_js %}
<script type="text/javascript">
  $(".attach-file-{{ form.bill_file.name }}").click(function () {
    $("#{{ form.bill_file.name }}").click();
  });

  $('#{{ form.bill_file.name }}')
    .on('change', function (e) {
      var name = e.target.files[0].name;
      $('.attach-file-{{ form.bill_file.name }}', $(e.target).parent()).val(name);
    });
</script>


{% endblock additional_js %}
{#}