{% extends '/admin/base/default-dashboard.html' %}
{% import '/admin/base/html-renderer.html' as renderer %}

{% block title %} แก้ไขตำแหน่ง {% endblock %}
{% block dashboard_title %} แก้ไขตำแหน่ง {% endblock %}

{% block breadcrumbs %}
<a class="section" href="{{ url_for('admin.organizations.index') }}">องค์กร</a>
<i class="right angle icon divider"></i>
<a class="section"
  href="{{ url_for('admin.organizations.organizaiton_users', organization_id=organization.id) }}">สมาชิกขององค์กร</a>
<i class="right angle icon divider"></i>

<div class="active section">
  แก้ไขตำแหน่ง {{ org_user.user.get_name() }}
</div>
{% endblock %}

{% block content %}

<div>
  <form class="ui form" method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    {{ renderer.render_select(form.role) }}
    <button class="ui primary button" type="submit">ยืนยันข้อมูล</button>
  </form>
</div>

{% endblock content %}