{% extends '/admin/base/template-page-login.html' %}
{% import '/admin/base/html-renderer.html' as renderer %}
{% import '/admin/base/components/paginations/pagination.html' as paginated %}

{% block title %}สมาชิกขององค์กร{% endblock %}
{% block dashboard_title %}สมาชิกขององค์กร{% endblock %}

{% block breadcrumbs %}
<a class="btn btn-primary" href="{{ url_for('admin.organizations.add_member', organization_id=organization.id) }}">
  เพิ่มสมาชิก
</a>
{% endblock %}

{% block content %}
<form method="post">
  {{ renderer.render_default_search_user(form) }}

  {% if org_users %}
  <div class="segment mt-4 border border-base-300 bg-base-100 rounded-2xl p-6 shadow-sm">
    <div class="overflow-x-auto mt-2 rounded-xl">
      <table class="table-auto w-full">
        <thead>
          <tr>
            <th class="table-style">ชื่อสมาชิก</th>
            <th class="table-style">อีเมล</th>
            <th class="table-style">ตำแหน่ง</th>
            <th class="table-style">เพิ่มเข้ามาเมื่อวันที่</th>
            <th class="table-style">แก้ไขตำแหน่ง/ลบสมาชิก</th>
          </tr>
        </thead>
        <tbody>
          {% for org_user in paginated_org_users.items %}
          <tr>
            <td class="table-style" data-label="Organization">{{ org_user.display_fullname() }}</td>
            <td class="table-style" data-label="Email">{{ org_user.display_email() }}</td>
            <td class="table-style" data-label="Roles">{{ org_user.roles }}</td>
            <td class="table-style" data-label="Create date">{{ org_user.created_date.strftime('%d/%m/%Y') if
            org_user.created_date else "-"}}
            </td>
            <td class="table-style">
              <a class="btn btn-circle"
                href="{{ url_for('admin.organizations.edit_roles', organization_id=organization.id, org_user_id=org_user.id) }}"
                style=" color: white; background-color: rgb(59, 115, 199);">
                <i class="ph ph-pen"></i>
              </a>
              <a class="btn btn-circle" style="color: white; background-color: rgb(192, 55, 55);"
                onclick="showDeleteModal('{{ org_user.id }}')">
                <i class="ph ph-trash"></i>
              </a>
              <div role="dialog" class="modal {{ org_user.id }}">
                <div class="text-2xl font-bold">
                  ลบสมาชิก
                </div>
                <div class=" modal-box">
                  <p>ต้องการลบสมาชิก<b> {{ org_user.display_fullname() }}</b><br />


                  </p>
                </div>
                <div class="modal-action">
                  <button class="btn">
                    ยกเลิก
                  </button>
                  <a class="btn-error btn"
                    href="{{ url_for('admin.organizations.remove_org_user', organization_id=organization.id, org_user_id=org_user.id)}}">
                    ยืนยัน
                    <i class="ph ph-check"></i>
                  </a>
                </div>
              </div>
            </td>
          </tr>

          {% endfor %}
        </tbody>
      </table>
      {% set params=dict(request.args) %}
      {% if 'page' in params %}
      {% set _dummy=params.pop('page') %}
      {% endif %}
      {% if "organization_id" not in params %}
      {% set _dummy=params.update({"organization_id": organization.id }) %}
      {% endif %}
      {% if paginated_org_users.pages != 1 %}


      {{ paginated.render_pagination(paginated_org_users,"admin.organizations.organizaiton_users", params)}}

      {% endif %}
    </div>
  </div>
  {% else %}
  <div class="ui message">ไม่มีข้อมูลการสมาชิกในขณะนี้</div>
  {% endif %}
</form>
{% endblock %}

{% block additional_js %}
<script type="text/javascript">

  function showDeleteModal(org_user_id) {
    org_user_id ? $('.ui.modal.' + org_user_id).modal('show') : $('.ui.modal').modal('hide')
      ;
  }
</script>
<script type="text/javascript">
  datetime_formatter = {
    date: "DD/MM/YYYY"
  };
  var calendar_setting = {
    type: 'date',
    monthFirst: false,
    formatter: datetime_formatter,
    today: false,
    ampm: false,
    text: {
      days: ['อา', 'จ', 'อ', 'พ', 'พฤ', 'ศ', 'ส'],
      months: ['มกราคม', 'กุมภาพันธ์', 'มีนาคม', 'เมษายน', 'พฤษภาคม', 'มิถุนายน', 'กรกฎาคม', 'สิงหาคม', 'กันยายน', 'ตุลาคม', 'พฤษจิกายน', 'ธันวาคม'],
      monthsShort: ['ม.ค.', 'ก.พ.', 'มี.ค.', 'เม.ย.', 'พ.ค.', 'มิ.ย.', 'ก.ค.', 'ส.ค.', 'ก.ย.', 'ต.ค.', 'พ.ย.', 'ธ.ค.'],
      today: 'วันนี้',
      now: 'ปัจจุบัน',
      am: 'AM',
      pm: 'PM'
    },
  };
  $('#start_date').calendar(calendar_setting);
  $('#end_date').calendar(calendar_setting);

  $(document)
    .ready(function () {
      $('.ui.dropdown.validate.selection')
        .dropdown({
          allowAdditions: true,
          fullTextSearch: 'exact'
        });
    });
</script>
{% endblock %}