{% extends '/base/default-dashboard.html' %}

{% block title %}Supplier{% endblock %}
{% block dashboard_title %}Supplier{% endblock %}


{% block content %}
    <div>
    <form class="ui form" method="POST">
      
      {{ form.hidden_tag() }}
      <div class="field">
        <label>{{ form.name.label }}</label>
         {{ form.name }}
      </div>

      <div class="field">
        <label>{{ form.address.label }}</label>
         {{ form.address }}
      </div>

      <div class="field">
        <label>{{ form.description.label }}</label>
         {{ form.description }}
      </div>

      <div class="field">
        <label>{{ form.tax_id.label }}</label>
         {{ form.tax_id }}
      </div>

      <div class="field">
        <label>{{ form.contact.label }}</label>
         {{ form.contact }}
      </div>

      <div class="field">
        <label>{{ form.email.label }}</label>
         {{ form.email }}
      </div>

      <button class="ui button" type="submit">Submit</button>
    </form>
    </div>
{% endblock content %}
