{% extends '/base/default-dashboard.html' %}

{% block title %}ร้านค้า{% endblock %}
{% block dashboard_title %}ร้านค้า{% endblock %}

{% block breadcrumbs %}
{% if request.endpoint == 'suppliers.index' %}
<a class="ui primary button" href="{{ url_for('suppliers.add') }}">
  เพิ่มร้านค้า
</a>
{% else %}
<a class="section" href="{{ url_for('suppliers.index') }}">ร้านค้า</a>
<div class="divider"> / </div>
{% endif %}
{% endblock %}

{% block content %}

{% if suppliers %}
<div class="ui four cards">
  {% for supplier in suppliers %}
  <div class="card" style="width: 100%;">
    <div class="content" style="padding: 20px;">
      <div class="header" style="font-size: 2em; font-weight: bold;">{{ supplier.name }}</div>
      <div class="meta" style="font-size: 1.2em; margin-top: 10px;">
        <span class="meta" style="margin-right: 3%;"><strong>ที่อยู่: </strong> {{ supplier.address }} </span>
        <span class="meta" style="margin-right: 3%;"><strong>เลขกำกับภาษี: </strong> {{ supplier.tax_id }} </span>
        <span class="meta" style="margin-right: 3%;"><strong>ช่องทางการติดต่อ: </strong> {{ supplier.contact }} </span>
        <span class="meta" style="margin-right: 3%;"><strong>อีเมล: </strong> {{ supplier.email }} </span>
      </div>
      <div class="description" style="font-size: 1.5em; margin-top: 10px;">
        <p>{{ supplier.description }}</p>
      </div>
      <div class="actions" style="margin-top: 10px;">
        <a class="ui yellow icon button" href="{{ url_for('suppliers.edit', supplier_id=supplier.id) }}">
          <i class="edit icon"></i> แก้ไข
        </a>
        <a class="ui red icon button" href="{{ url_for('suppliers.delete', supplier_id=supplier.id) }}">
          <i class="trash icon"></i> ลบ
        </a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>



{% else %}
  <div class="ui info message">ไม่มีข้อมูลการทำรายการในขณะนี้</div>
{% endif %}

{% endblock %}
