{% extends '/base/template-page-login.html' %}
{% import '/base/components/paginations/pagination.html' as paginated %}

{% block title %}ร้านค้า{% endblock %}
{% block dashboard_title %}ร้านค้า{% endblock %}

{% block breadcrumbs %}

{% endblock %}

{% block content %}
<div class="flex flex-row w-full justify-between">
  <div class="flex justify-start w-full gap-2">
    <div class="dropdown dropdown-hover">
      <label tabindex="0" class="btn btn-primary gap-2">
        <i class="wrench icon"></i>
        การจัดการ
      </label>
      <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
        <li>
          <a href="{{ url_for('suppliers.add', organization_id=organization.id) }}">
            <i class="plus-circle icon"></i>
            เพิ่มร้านค้า
          </a>
        </li>
        <li>
          <a href="{{ url_for('suppliers.upload_file', organization_id=organization.id) }}">
            <i class="file-upload icon"></i>
            ลงทะเบียนร้านค้าแบบหลายรายการ
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
{% if suppliers %}
<div class="mt-4 border border-base-300 bg-base-100 rounded-2xl p-6 shadow-sm">
  {% for supplier in paginated_suppliers.items %}
  <div class="card bg-base-100 shadow-md mb-4">
    <div class="card-body flex flex-col md:flex-row gap-4">
      <div class="flex-1">
        <h2 class="card-title text-2xl font-bold text-gray-800">{{ supplier.get_supplier_name() }}</h2>
        <div class="mt-2">
          <table class="table-auto w-full">
            <tbody>
              <tr>
                <td class="font-bold">ที่อยู่:</td>
                <td>{{ supplier.address }}</td>
              </tr>
              <tr>
                <td class="font-bold">เลขผู้เสียภาษี:</td>
                <td>{{ supplier.tax_id }}</td>
              </tr>
              <tr>
                <td class="font-bold">ช่องทางการติดต่อ:</td>
                <td>{{ supplier.contact }}</td>
              </tr>
              <tr>
                <td class="font-bold">อีเมล:</td>
                <td>{{ supplier.email }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="flex-1 bg-gray-100 p-4 rounded-lg">
        <h3 class="text-lg font-semibold text-gray-700 mb-2">คำอธิบาย</h3>
        <p>{{ supplier.description }}</p>
        <div class="mt-6 flex justify-end gap-2">
          <a class="btn btn-primary"
            href="{{ url_for('suppliers.edit', supplier_id=supplier.id, organization_id=organization.id) }}">
            <i class="ph ph-pen"></i> แก้ไข
          </a>
          <button class="btn btn-error" onclick="showDeleteModal('{{ supplier.id }}')">
            <i class="ph ph-trash"></i> ลบ
          </button>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  {% if paginated_suppliers.pages != 1 %}
  {{ paginated.render_pagination(paginated_suppliers,"suppliers.index") }}
  {% endif %}
</div>
{% else %}
<div class="flex w-full justify-center py-6 text-xl">ไม่มีข้อมูลการทำรายการในขณะนี้</div>
{% endif %}

{% endblock %}

{% block additional_js %}
<script type="text/javascript">
  function showDeleteModal(supplier_id) {
    supplier_id ? document.querySelector(`.modal.${supplier_id}`).classList.add('modal-open') : document.querySelectorAll('.modal').forEach(modal => modal.classList.remove('modal-open'));
  }
</script>
{% endblock %}