{% extends '/suppliers/index.html' %}
{% import '/base/html-renderer.html' as renderer %}

{% block title %}
เพิ่มร้านค้า
{% endblock %}

{% block dashboard_title %}
{{ self.title() }}
{% endblock %}

{% block breadcrumbs %}
<a class="section" href="{{ url_for('suppliers.index', organization_id=organization.id) }}">ร้านค้าทั้งหมด</a>
<i class="right angle icon divider"></i>
<div class="active section">ลงทะเบียนร้านค้า</div>
{% endblock %}

{% block content %}
{% if upload_errors.errors %}
<div class="ui modal upload_errors">
  <div class="header">
    เกิดปัญหา
  </div>
  <div class="content red">
    <span class="ui error text">
      <b>{{ upload_errors.errors }}</b>
    </span>
  </div>
  <div class="actions">
    <button class="ui negative right labeled icon button">
      ยืนยัน
      <i class="checkmark icon"></i>
    </button>
  </div>
</div>
{% endif %}
<div class="ui secondary menu">
  <div class="right item">
    <a class="ui primary button"
      href="{{ url_for('suppliers.download_template_suppliers_file', organization_id=organization.id) }}">
      <i class="file download icon"></i> ดาวน์โหลดรูปแบบการลงทะเบียนร้านค้า</a>
  </div>
</div>
<div class="ui secondary" style="margin-bottom: 1rem;">
  <div class="left item">
    <span class="ui text large"><b>ตัวเลือกที่ใส่ในช่องประเภทผู้จัดหาสินค้า</b></span> <br>
    <b>person</b> : บุคคล<br>
    <b>market</b> : ร้านค้า<br>
    <b>incorporated</b> : บริษัท / Inc.<br>
    <b>company limited</b> : บริษัทจำกัด / Co., Ltd.<br>
    <b>corporation limited</b> : บริษัทจำกัด (ขนาดใหญ่) / Corp., Ltd.<br>
    <b>public company limited</b> : บริษัทจำกัด (มหาชน) / Pub Co., Ltd.<br>
    <b>partnership limited</b> : ห้างหุ้นส่วนจำกัด / Part., Ltd.<br>
  </div>
</div>
<div>
  <form class="ui form" method="POST" enctype="multipart/form-data">

    {{ form.hidden_tag() }}
    {{ renderer.render_fileinput(form.upload_file) }}
    <button class="ui primary button" type="submit">ยืนยันข้อมูล</button>
  </form>
</div>
{% endblock content %}

{% block additional_js %}
<script type="text/javascript">
  $(".attach-file-{{ form.upload_file.name }}").click(function () {
    $("#{{ form.upload_file.name }}").click();
  });

  $('#{{ form.upload_file.name }}')
    .on('change', function (e) {
      var name = e.target.files[0].name;
      $('.attach-file-{{ form.upload_file.name }}', $(e.target).parent()).val(name);
    });

  $('.ui.modal.upload_errors')
    .modal('show')
    ;
  $('.ui.modal.upload_completed')
    .modal('show')
    ;
</script>
{% endblock additional_js %}