{% extends '/item_orders/index.html' %}
{% import '/base/html-renderer.html' as renderer %}

{% block title %}
การยืนยันหัวหน้าเจ้าหน้าที่พัสดุอนุมัติคำสั่งเบิก
{% endblock %}

{% block dashboard_title %}
{{ self.title() }}
{% endblock %}

{% block breadcrumbs %}
{{ RenderBreadcrumb([
("คำสั่งเบิกวัสดุ", url_for('approve_orders.supervisor_supplier_index', organization_id=organization.id) ),
("หัวหน้าฝ่ายบริหารจัดการอนุมัติคำสั่งเบิกวัสดุ",
url_for('approve_orders.supervisor_supplier_approved_detail',order_id=order.id,
organization_id=organization.id) ),
('อนุมัติคำสั่งเบิกวัสดุ', "")]) }}
{% endblock %}



{% block content %}
<div class="flex flex-row justify-between">
  <div class="flex justify-end w-full gap-2">
    <a class="btn  btn-primary"
      href="{{ url_for('approve_orders.supervisor_supplier_approved_detail',order_id=order.id, organization_id=organization.id) }}">
      <i class="ph ph-arrow-u-up-left"></i>
      ย้อนกลับ
    </a>
  </div>
</div>
<div>
  <form class="segment mt-4 border border-base-300 bg-base-100 rounded-2xl p-6 shadow-sm" method="POST">
    <div style="margin-top: 1rem; margin-bottom: 1rem;">
      <span class="ui large text header">คำขอ : {{ order.description }}</span>
    </div>
    {{ form.hidden_tag() }}
    {#}
    {{ renderer.render_select_field(form.admin_approver) }}
    {#}

    <button class="btn btn-primary" type="submit">ยืนยันข้อมูล</button>
  </form>
</div>
{% endblock content %}

{% block additional_js %}
<script type="text/javascript">

  function showModal(order_id) {
    order_id ? $('.ui.modal.' + order_id).modal('show') : $('.ui.modal').modal('hide')
      ;
  }
</script>
<script type="text/javascript">
  datetime_formatter = {
    datetime: "DD/MM/YYYY h:mm"
  };
  var calendar_setting = {
    type: 'datetime',
    monthFirst: false,
    formatter: datetime_formatter,
    today: false,
    ampm: false,
    text: {
      days: ['อา', 'จ', 'อ', 'พ', 'พฤ', 'ศ', 'ส'],
      months: ['มกราคม', 'กุมภาพันธ์', 'มีนาคม', 'เมษายน', 'พฤษภาคม', 'มิถุนายน', 'กรกฎาคม', 'สิงหาคม', 'กันยายน', 'ตุลาคม', 'พฤษจิกายน', 'ธันวาคม'],
      monthsShort: ['ม.ค.', 'ก.พ.', 'มี.ค.', 'เม.ย.', 'พ.ค.', 'มิ.ย.', 'ก.ค.', 'ส.ค.', 'ก.ย.', 'ต.ค.', 'พ.ย.', 'ธ.ค.'],
      today: 'วันนี้',
      now: 'ปัจจุบัน',
      am: 'AM',
      pm: 'PM'
    },
  };
  $('#sent_item_date').calendar(calendar_setting);

  $(document)
    .ready(function () {
      $('.ui.dropdown.validate.selection')
        .dropdown({
          allowAdditions: true,
          fullTextSearch: 'exact'
        });
    });
</script>
{% endblock %}