{% extends '/base/template-page-login.html' %}
{% import '/base/html-renderer.html' as renderer %}
{% import '/base/components/paginations/pagination.html' as paginated %}

{% block title %}หัวหน้าเจ้าหน้าที่พัสดุอนุมัติคำสั่งเบิก{% endblock %}
{% block dashboard_title %}หัวหน้าเจ้าหน้าที่พัสดุอนุมัติคำสั่งเบิก{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block content %}
<form method="post" class="segment mt-4 border border-base-300 bg-base-100 rounded-2xl p-6 shadow-sm">
  <div class="flex flex-row w-full">

    {{form.hidden_tag()}}
    {{renderer.date_range_field(form.start_date, form.end_date)}}
  </div>
  <div class="flex justify-end w-full gap-2">
    <a class="btn" href="{{ url_for('approve_orders.supervisor_supplier_index', organization_id=organization.id) }}">
      ล้างการค้นหา
    </a>
    <button type="submit" class="btn btn-primary">ยืนยัน</button>
  </div>
</form>

<div class="segment mt-4 border border-base-300 bg-base-100 rounded-2xl p-6 shadow-sm">
  <div class="overflow-x-auto">
    {% if orders %}
    <table class="table-auto w-full">
      <thead>
        <tr>
          <th class="table-style">วันที่สั่งเบิกวัสดุ</th>
          <th class="table-style">คำอธิบาย</th>
          <th class="table-style">ชื่อผู้ใช้งาน</th>
          <th class="table-style">การอนุมัติ</th>
        </tr>
      </thead>
      <tbody>
        {% for order in paginated_orders.items %}
        <tr>
          <td class="table-style" data-label="Created Date">{{ order.created_date.strftime('%d/%m/%Y %H:%M:%S') }}</td>
          <td class="table-style" data-label="Description">{{ order.description }}</td>
          <td class="table-style" data-label="User">{{ order.created_by.get_name() }}</td>
          <td class="table-style" data-label="Status">
            <a class="btn btn-success"
              href="{{ url_for('approve_orders.supervisor_supplier_approved_detail', order_id=order.id, organization_id=organization.id)}}">
              ตรวจสอบวัสดุ
            </a>
          </td>
        </tr>

        {% endfor %}
      </tbody>
    </table>
    {% if paginated_orders.pages != 1 %}

    {{ paginated.render_pagination(paginated_orders,"approve_orders.supervisor_supplier_index", request.args)}}

    {% endif %}
    {% else %}
    <div class="flex w-full justify-center py-6 text-xl">ไม่มีข้อมูลการทำรายการในขณะนี้</div>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block additional_js %}

{% endblock %}