@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap");
@import "tailwindcss";
@config "./tailwind.config.js";

@plugin "daisyui" {
  themes: patsara;
}

@theme {
  --font-sans: "Noto Sans Thai", "sans-serif";
}

@plugin "daisyui/theme" {
  name: "patsara";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(98% 0.003 247.858);
  --color-base-200: oklch(97% 0.001 106.424);
  --color-base-300: oklch(92% 0.003 48.717);
  --color-base-content: oklch(21% 0.006 56.043);
  --color-primary: oklch(62% 0.214 259.815);
  --color-primary-content: oklch(97% 0.014 254.604);
  --color-secondary: oklch(76% 0.188 70.08);
  --color-secondary-content: oklch(98% 0.016 73.684);
  --color-accent: oklch(65% 0.241 354.308);
  --color-accent-content: oklch(97% 0.014 343.198);
  --color-neutral: oklch(55% 0.013 58.071);
  --color-neutral-content: oklch(98% 0.001 106.423);
  --color-info: oklch(82% 0.111 230.318);
  --color-info-content: oklch(97% 0.013 236.62);
  --color-success: oklch(72% 0.219 149.579);
  --color-success-content: oklch(98% 0.014 180.72);
  --color-warning: oklch(75% 0.183 55.934);
  --color-warning-content: oklch(98% 0.026 102.212);
  --color-error: oklch(63% 0.237 25.331);
  --color-error-content: oklch(97% 0.013 17.38);
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 0.5px;
  --depth: 1;
  --noise: 1;
}

.ph-size {
  font-size: 20px;
}

.ph {
  font-size: 24px;
}

.table-style {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom-width: 2px;
  border-width: 2px;
  border-left-width: 2px;
  border-right-width: 2px;
  border-top-width: 2px;
  border-bottom-color: var(--color-base-300);
  border-color: var(--color-base-300);
  color: var(--color-base-content);
}

fieldset {
  @apply p-0;
}

.input-readonly {
  @apply !bg-base-300 border-base-300;
}