{% extends '/accounts/index.html' %}
{% import '/base/error-handler.html' as eh %}
{% import '/base/html-renderer.html' as renderer %}

{% block breadcrumbs %}
{{ super() }}
<i class="right angle icon divider"></i>
<div class="active section">แก้ไขบัญชีผู้ใช้งาน</div>
{% endblock %}

{% block content %}
<div class="ui content">
  <div class="ui segment">
    <h2>ข้อมูลผู้ใช้งาน</h2>
    <form method="POST" class="ui form" enctype="multipart/form-data">
      {{ form.csrf_token }}
      <div class="two fields">
        {{ renderer.render_field(form.first_name) }}
        {{ renderer.render_field(form.last_name) }}
      </div>
      <div class="two fields">
        {{ renderer.render_field(form.thai_first_name) }}
        {{ renderer.render_field(form.thai_last_name) }}
      </div>
      <div class="two fields">
        {{ renderer.render_field(form.citizen_id) }}
        {{ renderer.render_fileinput(form.pic) }}
      </div>

      <button name="create" type="submit" class="ui primary button">เปลี่ยนข้อมูล</button>
    </form>
  </div>
</div>

<div class="row">
  <div class="col s12">
  </div>
</div>

{% endblock %}

{% block additional_js %}
<script type="text/javascript">
  $(".attach-file-{{ form.pic.name }}").click(function () {
    $("#{{ form.pic.name }}").click();
  });

  $('#{{ form.pic.name }}')
    .on('change', function (e) {
      var name = e.target.files[0].name;
      $('.attach-file-{{ form.pic.name }}', $(e.target).parent()).val(name);
    });
</script>

{% endblock additional_js %}