{% extends "/admin/base/template-page-unlogin.html" %}

{% block title %}เข้าสู่ระบบ
{% endblock %}

{% block content %}
<div class="ui middle aligned center aligned grid" style="height: 500px">
  <div class="column">
    <h2 class="ui image" style="font-size: 3em;">
      <i class="ph ph-sun"></i> <br />
      {# <img src="{{ url_for('static', filename='images/lotus-full-500px.png') }}" width="200px"> #}
      <div class="modal-box">
        เข้าสู่ระบบ
      </div>
    </h2>
    <div>
      <div class="ui large vertical buttons">
        <div class="row" style="padding-top: 10px;">
          <div class="column header" style="text-align: left;">
            <h3></h3>
          </div>
        </div>

        <div class="row" style="padding-top: 5px;">
          <a class="btn  primary huge" href="{{ url_for('admin.accounts.login_oauth', name='psu') }}">
            <i class="ph ph-user-circle"></i>
            PSU Passport
          </a>
        </div>

        <div class="row" style="padding-top: 5px;">
          <a class="ui labeled icon red button huge" href="{{ url_for('admin.accounts.login_oauth', name='google') }}">
            <i class="ph ph-google-logo"></i>
            Google
          </a>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}