{% extends '/admin/accounts/index.html' %}
{% block title %}ระดับผู้ใช้งาน{% endblock %}
{% block dashboard_title %}ระดับผู้ใช้งาน{% endblock %}
{% block breadcrumbs %}ตำเเหน่งผู้ใช้งาน{% endblock %}

{% block content %}
<div class="segment mt-4 border border-base-300 bg-base-100 rounded-2xl p-6 shadow-sm">
  <div class="overflow-x-auto mt-2 rounded-xl">
    <table class="table-auto w-full">
      <thead>
        <tr>
          <th class="table-style"></th>
          <th class="table-style">ชื่อผู้ใช้งาน</th>
          <th class="table-style">อีเมล</th>
          <th class="table-style">ตำเเหน่ง</th>
          <th class="table-style">เเก้ไขตำแหน่ง</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <td class="table-style" data-label="Name">{{ loop.index }}</td>
          <td class="table-style" data-label="Name">{{ user.get_name() }}</td>
          <td class="table-style" data-label="Email">{{ user.email }}</td>
          <td class="table-style" data-label="Roles">{{ user.roles|join(', ') }}</td>
          <td class="table-style flex gap-2" data-label="Edit Roles">
            <a class="btn btn-circle btn-primary" href="{{ url_for('admin.accounts.edit_roles', user_id=user.id) }}">
              <i class="ph ph-pen"></i>
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}